[2014-07-04 12:59] Jordan08 opened #1 "Bug reformulation affine"
voici le code responsable du bug
# include "ibex.h"
# include <sstream>

using namespace std; using namespace ibex;

int main(int argc, char*\* argv) {
SystemFactory f;
Variable x,extra;
f.add_var(x); f.add_var(extra); f.add_ctr(x<=0);
System sys(f);
// if I replace the domain of "extra" by [1,1.1]
// there is no more problem.
double _box[][2] = {{-100,100},{1,1}};
IntervalVector box(2,_box);
Line

[2014-07-04 14:40] Jordan08 opened #2 "Integrating C-XSC"
Now, in IBEX, we can use 3 differents implementation of the interval arithmetic:
- Profil/Bias
- Goal
- Filib++
  But none of them are still in development. And since the last version of OSX, a lot of warning start to rise.
  So I think that integrate a new implementation can be a good idea.

I found the library C-XSC : http://www2.math.uni-wuppertal.de/~xsc/xsc/cxsc.html
- This librairy is still

[2014-07-05 10:50] gchabert opened #3 "Tan/Sign: need forward operator returning union of intervals"
To make Forward/Backward optimal for elementary equations such as:
y=tan(x)
or
y=sign(x)
we need a forward operator for "tan" an "sign" to return an union of intervals (like we already have for the division with div2 and div2_inter). So we need to develop something like tan2_inter(x,y,out2) and sign2_inter(x,y,out2).

[2014-07-05 10:53] gchabert opened #4 "Creating NumConstraint directly with string (like currently Function)"
Example of what one should be able to do:

NumConstraint dist_ctr("xa","ya","xb","yb","r","pow(xa-xb,2)+pow(ya-yb,2))=r^2")

[2014-07-05 10:55] gchabert opened #5 "Optimizer fails with unbounded boxes"
This is, in particular, due to monotonicity_analysis that fix variables to some bounds. This leads to intervals like [+oo,+oo] considered as empty.

[2014-07-05 10:55] gchabert opened #6 "Upgrading with soplex 2.0"
The current installation script fails with soplex 2.0

[2014-07-05 10:59] gchabert opened #7 "CLP installed by default instead of Soplex if --with-soplex is missing"
It was supposed that the installation looks for soplex in the parent directory if --with-soplex was not specified. But the script now installs CLP instead, and it seems that CLP installation fails on some platforms (MacOS).

[2014-07-05 11:00] gchabert opened #8 "Optimizer: no way to check for infeasibility!"
When the optimizer returns, how the user can be informed that infeasibility occurred (no feasible point at all)?

[2014-07-05 11:02] gchabert opened #9 "Optimizer: Replace the code of optim_simplex by a call to XNewton"
The code seems very redundant!

[2014-07-05 11:06] gchabert opened #10 "Clarify semantics of assignment operators (=, +=, etc.) in Vector versus Matrix"
With vectors, dimensions of both argument must agree, but with matrices, not necessarily (this is due, e.g., to the operator *=).
This is ambiguous.

[2014-07-05 11:07] gchabert opened #11 "Merge BoolMask and BitSet structures"

[2014-07-05 11:08] gchabert opened #12 "Memory cleanup in DefaultSolver/Optimizer"
There are some memory leaks.

[2014-07-05 11:09] gchabert opened #13 "Merge Dim::vec_size et Dim::max_index"
Seems redundant.

[2014-07-05 11:10] gchabert opened #14 "Tree-structured DAG and Fixpoint flag"
For optimization purpose: maybe, it could be useful to add a "is_tree()" function in ExprNode and then activate some "FIXPOINT" flag in CtcFwdBwd.

[2014-07-05 11:12] gchabert opened #15 "Cleanup the interface and make documentation for LinearRelax and CtcPolytopeHull"

[2014-07-05 15:53] gchabert opened #16 "Memory leak CtcAcid"
The following array:
 double\* ctstat= new double[nbvarmax]
is never disallocated.

[2014-07-05 19:42] Jordan08 opened #17 "Clean the waf script and upgrate to Python 3"
I think that there is to many bug in this script.
I ask a collegue to help me. He is expert in Python.
But first we must make the interface with C-XSC and update the interface with soplex 2.0
After that, it will be easier to get a stable installation process.

[2014-07-05 19:45] Jordan08 opened #18 "Improve the required space of UnconstrainedLocalSearch"
The use of LineSearchData must be optimized

[2014-07-05 19:53] Jordan08 opened #19 "Evaluation of a Function with an AffineForm only"
We should add these functions :
Affine2 eval_affine2(const Affine2Vector& box) const;
Affine2Vector eval_affine2_vector(const Affine2Vector& box) const;
Affine2Matrix eval_affine2_matrix(const Affine2Vector& box) const;

[2014-07-05 20:02] Jordan08 opened #20 "Should we restore Ctc(n) ?"
To keep combatibility with the previous version, I'm asking myself if we should come back to the previous architecture?
I think that complicate the interface of some Ctc, such as Ctc3BCid. Before this contractor doesn't need the size of the box.

Pearhaps can we have the both structure?
Is there a contractor which doesn't need the size of the box?

[2014-07-05 20:08] Jordan08 opened #21 "Construct an DAG in AmplInterface and not a tree"
For now, in the Ampl Interface, each temporary variable are duplicate each time there are used.
It should be more interesting to construct a DAG (and not duplicate this variable).

[2014-07-05 20:12] Jordan08 opened #22 "Sparse Matrices structure in CtcPolytopeHull"
To improve the generation of the linear relaxations in CtcPolytopeHull, we must have  sparse matrices.
When the size is > 100, the Matrix 100x100  is too big

[2014-07-06 10:13] gchabert opened #23 "Memory fault LinearRelaxXTaylor"
When cleaning up data in the defaultoptimizer, I get a following memory fault.
To reproduce the problem, uncomment the following line in ibex_DefaultStrategy.cpp_:
 //if (relax) delete relax;
and run "valgrind ./defaultoptimizer etc."

The result is:
Invalid read of size 4
ibex::LinearRelaxXTaylor::~LinearRelaxXTaylor() (ibex_LinearRelaxXTaylor.cpp:67)
ibex::LinearRelaxXTaylor::~LinearRelaxXTaylor

[2014-07-06 10:19] #12 closed, assigned to gchabert

[2014-07-06 10:42] gchabert opened #24 "PdcFirstOrder: Unexpected behaviour"
When applied to relaxed equalities, the test PdcFirstOrder can never reject a box.

However, we observe two unexpected behaviours:
- suspicious: ex7_3_4 is extremely slowed down (1000s instead of 3s) by PdcFirstOrder
- impossible: in linear, there is a gain of 33% in time and 37% in the number of cells. This should not be possible (unless, maybe, the precision of relaxation is really greater than

[2014-07-06 18:31] nicolaje opened #25 "Can't compile C++11"
Trying to compile any program in C++11 throws the following error:

ibex-2.1.5/include/ibex/ibex_CtcMohc.h:331:34: error: ‘constexpr’ needed for in-class initialization of static data member ‘const double ibex::CtcMohc::ADAPTIVE’ of non-integral type [-fpermissive]
  static const double ADAPTIVE = -1.0;

[2014-07-06 21:56] #25 closed, assigned to nobody

[2014-07-07 12:24] gchabert opened #26 "Do we have to use -ffloat-store in the makfiles with Profil/Bias?"
Some tests do not pass without this option.

[2014-07-09 17:21] nicolaje opened #27 "Thread safetiness of ibex objects"
In many situations the performances of a solver could be vastly improved by parallelizing the application of some contractors.
For this purpose, it would be really great to ensure that the related objects (NumConstraints, Functions...) are thread safe.
See http://www.ibex-lib.org/node/19

[2014-07-10 08:05] bneveu opened #28 "CtcFwdBwd and empty evaluation"
In case of empty interval arithmetic evaluation due to  sqrt of a negative interval,
CtcFwdBwd does not detect this impossible case and does not raise an
EmptyBoxException.

[2014-07-10 10:37] #16 closed, assigned to bneveu

[2014-07-10 16:57] Jordan08 opened #29 "is_strict_subset has changed"
According to one student, there is a bug in this function for an IntervalVector.
But I don't find it.

[2014-07-11 07:21] #29 closed, assigned to nobody

[2014-07-11 08:30] #24 closed, assigned to gchabert

[2014-07-13 16:29] gchabert opened #30 "Remove vibex API"
I would prefer to remove vibes.h and vibes.cpp from IBEX repository.
It makes more sense for me if people install vibes and connect both project (vibes & ibex) inside their own code. One typical problem is when someone has installed a release of vibes that is not compatible with the API provided in his relase of IBEX: his program crashes.

[2014-07-15 07:50] #30 closed, assigned to nobody

[2014-07-16 12:01] gchabert opened #33 "Augmented Lagrangian"

[2014-07-16 13:23] gchabert opened #34 "Windows: waf install gets frozen"
Observed while compiling FILIB.

[2014-07-16 13:28] gchabert opened #35 "Windows: sys.times.h not found"
Waf install fails with this message:
<sys.times.h> : no such file or directory

Comment by M. Kieffer (Frenche):
times.h ne fait pas partie de la distribution de MinGW sous windows.  J'ai l'impression que cette fonction est nécessaire dans un bout du code que vous n'avez pas développé pour initialiser un générateur pseudo-aléatoire. Cela ne me semble pas complètement indispensable d'utiliser une t

[2014-07-16 14:12] Jordan08 opened #36 "Bug on Mac OS Mavericks"
I found a bug in src/combinatorial/ibex_Qinter*

It is just a non-C++09 initialization of a vector.

I will correct it

[2014-07-18 13:30] #19 closed, assigned to nobody

[2014-07-20 16:56] benEnsta opened #37 "Memory leak CtcInverse"
In the constructor,  the following variable const ExprSymbol& y=ExprSymbol::new_(f.expr().dim) does not seem to be disallocated.

With this simple example :
int main(int argc, char *argv[]){
    Variable x,y;
    Function f(x,y,x+y);
    CtcFwdBwd c(f);
    CtcInverse cInv(c,f);
    return 0;
}

I got :
==16199== 5 bytes in 1 blocks are definitely lost in loss record 1 of 2
==16199==    at 0x402CE

[2014-08-19 12:36] gchabert opened #38 "Function: Use BitSet for used_vars"

[2014-08-20 08:41] #11 closed, assigned to gchabert

[2014-08-20 08:45] gchabert opened #39 "CtcForAll: update the code (like it has been done with CtcExist)"

[2014-08-20 10:26] #37 closed, assigned to nobody

[2014-08-21 09:07] #28 closed, assigned to gchabert

[2014-08-21 13:11] #39 closed, assigned to gchabert

[2014-08-21 15:28] gchabert opened #40 "LinearRelaxCombo::COMPO fails"
The default solver, in particular, fails with this option.

You can try for instance with this example:

Variables
  x in [-10,10],y in [-10,10];

Constraints
  y=-0.1;
  1.5*x^2+1.5*y^2-x*y=0.2;
end

It should give
 sol 1 nb_cells 2 ([0.3194335081419453, 0.3194335081419455] ; <-0.1000000000000001, -0.1>)
 sol 2 nb_cells 2 ([-0.3861001748086122, -0.386100174808612] ; <-0.1000000000000001, -0.1>)
n

[2014-08-21 16:05] gchabert opened #41 "Defaultsolver: add vector of precisions"

[2014-08-22 13:40] #41 closed, assigned to gchabert

[2014-08-22 14:54] #4 closed, assigned to gchabert

[2014-08-22 16:40] #15 closed, assigned to gchabert

[2014-08-29 09:23] gchabert opened #42 "Differentiation with dot product of two functions (with vec args) fails"

[2014-08-29 10:37] gchabert opened #43 "Seg fault with composition with same "Variable""
Simple ex:

[code]

[2014-09-01 15:58] gchabert opened #44 "DefaultOptimizer fails with filib."
Running the default optimizer with the following problem works fine with gaol, but fails with filib (gives an interval like [inf,0] for [uplo,loup]. When I comment the last contractor (the one using LinearRelaxXTaylor) and CtcAcid, it is the same.

Gilles
variables
  x in [-100,100],
  y in [-100,100],

  mx in [-100,100],
  my in [-100,100];

minimize
  mx^2+my^2

constraints
  x^2+(2*y)^2=1;
  (

[2014-09-02 12:31] #44 closed, assigned to bneveu

[2014-09-08 08:49] bneveu opened #45 "bearing infeasible with ART"
An old bug always present in the current version
The problem bearing.bch is infeasible with ART linear relaxation  and  has a solution with XNEWTON

../__build__/examples/optimizer04 ../benchs/benchs-optim/coconutbenchmark-library1/bearing.bch acidhc4 xn smearsumrel 1.e-6 1.e-6 7200
best bound in: [1.95106598644,1.95106636214]
 Relative precision obtained on objective function: 1.92564080847e-07

[2014-09-08 16:00] #20 closed, assigned to Jordan08

[2014-09-09 12:42] Jordan08 opened #46 "Clean CellOptimHeap and OptimCell"
Due to the management of two heaps
Many think has been introduce.
I will clean it

[2014-09-11 08:00] #36 closed, assigned to nobody

[2014-09-16 08:01] gchabert opened #47 "Many linking warnings appearing on a MacOS 64bits platform"
/opt/local/bin/ranlib: file: src/libibex.a(ibex_Tube.cpp.3.o) has no symbols

/opt/local/bin/ranlib: file: src/libibex.a(ibex_AmplInterface.cpp.3.o) has no symbols

/opt/local/bin/ranlib: file: src/libibex.a(ibex_Backtrackable.cpp.3.o) has no symbols

/opt/local/bin/ranlib: file: src/libibex.a(ibex_SubPaving.cpp.3.o) has no symbols

[182/200] cxxprogram: **build**/examples/optimizer04.cpp.12.o ->

[2014-09-17 15:19] bneveu opened #48 "bug ex8_5_6"
L'optimiseur perd "parfois" la solution de ex8_5_6  (problème assez tordu où l'objectif au départ n'est pas borné (contenant des  log de différences pouvant valoir 0))

en particulier l'appel suivant donne un minimum  trop élevé (ibex compilé avec gaol sur machine linux 64 bits)
../**build**/examples/optimizer04 ../benchs/benchs-optim/coconutbenchmark-library1/ex8_5_6.bch 3bcidhc4 compo smearsumre

[2014-09-18 13:14] #8 closed, assigned to bneveu

[2014-09-23 15:47] gchabert opened #49 "Optimizer: Uplo never calculated if the problem is too easy"
Running for instance ./defaultoptimizer ../benchs/ex3_1_3bis.bch 0.01 0.01 100
with filib gives an interval like [-oo,-309...]
because the uplo is never set (the optimizer does not get into the "while" loop and reports 0 cells)

[2014-09-25 09:21] gchabert opened #50 "Optimizer: returns INFEASIBLE instead of NO_FEASIBLE_FOUND with obj_init_bound<+oo"
L'optimiseur retourne INFEASIBLE lorsque le upperbounding (goal_prec>0) supprime toute solution (chose qui est possible avec un loup initial "utilisateur" < +oo).

Voir le problème TestOptimizer::issue50.

[2014-09-25 09:51] #50 closed, assigned to gchabert

[2014-09-25 09:55] #49 closed, assigned to gchabert

[2014-09-26 10:17] gchabert opened #51 "Timer should be thread-safe"
A message by Usman Rauf:
"I guess you are right about the timing class, it seems that it does't support several threads, the evidence for this is that, even if I assign differetn threads to different cores (I am using system with 32 cores) and set time_limit to 10 sec it still takes 1:20 secounds to terminate for four solvers. Which is a clear evidence (given the fact that I have tested it multipl

[2014-10-01 13:42] nicolaje opened #52 "Add serialization/de-serialization of subpavings"
In some cases it is convenient to load/write a subpaving from/to a file.

[2014-10-01 19:38] gchabert opened #53 "ibex 2.1.9: SLAM examples don't compile"
In ibex 2.1.9, the SLAM example doesn't compile with a lot of error like this
one:
slam3.cpp: In constructor ‘Detection::Detection(int)’:
slam3.cpp:32:24: error: no matching function for call to
‘ibex::Ctc::Ctc()’
   Detection(int b) : b(b) {

It's seem the default constructor Ctc() without any argument doesn't exist
anymore.

[2014-10-01 19:57] #53 closed, assigned to gchabert

[2014-11-04 14:11] Jordan08 opened #55 "IntervalVector()"
In IntervalVector.h

The function "IntervalVector()" line 542 should be private !

Why is it public?

[2014-11-12 18:17] gchabert opened #56 "Default precisions mixed up in DefautOptimizer"
Il y a une confusion dans les précisions par défaut des équations entre  DefautOptimizer.cpp et Optimizer.cpp

la valeur éventuellement redéfinie dans DefautOptimizer n'était pas transmise à l'optimiseur qui prenait sa popre valeur par défaut, ce qui causait un bug.

[2014-11-12 20:28] #56 closed, assigned to nobody

[2014-11-17 09:08] bneveu opened #57 "bug update_uplo"
Suite à la modif du 23 septembre sur l'appel du update_uplo, il y a un cas qui ne marche plus  :
uplo n'est pas mis à jour en cas de buffer vide après nettoyage des tas, ce qui donne un affichage final faux dans report.

[2014-11-17 13:27] bneveu opened #58 "hhfair infeasible sans contracteur linéaire ??"
dans la version courante hhfair est infaisable sans aucune  linéarisation , faisable avec Xnewton ou
compo

../**build**/examples/optimizer04 ../benchs/benchs-optim/coconutbenchmark-library1/hhfair.bch hc4 no smearsumrel 1.e-6 1.e-6 1000 1
Automatic initialization of gaol... done
file ../benchs/benchs-optim/coconutbenchmark-library1/hhfair.bch
 sys.box ([0, 1000] ; [0, 1000] ; [0, 1000] ; [100, 10

[2014-11-17 14:02] #57 closed, assigned to nobody

[2014-11-17 15:11] #55 closed, assigned to nobody

[2014-11-17 17:12] Jordan08 opened #60 ""Simplex spent too many iterations" with CPLEX and CLP but not with Soplex"
This bug occures only this CPLEX and CLP.... but not with Soplex.
I will check tomorrow

---

file benchs/benchs-optim/coconutbenchmark-library1/ex6_1_1.bch
 sys.box ([1e-07, 0.5] ; [1e-07, 0.5] ; [1e-07, 0.5] ; [1e-07, 0.5] ; [0, 1e+08] ; [0, 1e+08] ; [0, 1e+08] ; [0, 1e+08])
[simplex1] loup update -0.00610708679547 loup point  (0.156989041921 ; 0.34301096798 ; 0.34301094818 ; 0.156989041921 ; 0.

[2014-11-17 17:12] gchabert opened #61 "DefaultSolver: Newton contractor not built in presence of additional inequalities"
Si le système contient un sous-système carré d'équations, Newton devrait s'appliquer

[2014-11-18 09:24] #61 closed, assigned to gchabert

[2014-11-18 13:45] bneveu opened #62 "appel à interface ampl"
getSystem() a disparu de l'interface ampl
Par quoi a-t-il été remplacé ?

../examples/defaultoptimizer-ampl.cpp: In function ‘int main(int, char**)’:
../examples/defaultoptimizer-ampl.cpp:31:26: error: ‘class ibex::AmplInterface’ has no member named ‘getSystem’

[2014-11-18 13:58] #62 closed, assigned to Jordan08

[2014-11-18 16:01] bneveu opened #63 "gestion des impact par Solver"
La gestion des impacts par Solver ne semble pas correcte.
Il faudrait que sur le noeud  racine, tous les impacts soient à 1 et ensuite que seul celui
de  la variable bissectée vaille 1

La valeur après contraction n'a pas d'importance.
On peut remettre 1 à toutes les variables.

Je propose donc
dans Solver::start
    impact.fill(1,ctc.nb_var-1);

dans  Solver::next

if (v!=-1) {
      impact.fill(

[2014-11-19 10:22] gchabert opened #65 "Contractor for pictures"

[2014-11-19 11:01] Jordan08 opened #66 "Configuration de Travis-CI"
Salut à tous,

Je ne sais pas si vous avez vu, mais je viens de configurer Travis-CI pour la branch "master" et "develop".
J'ai également ajouté une icone dans le README pour voir si tout s'est bien passé.

Les commandes sont dans le fichier .travis.yml
C'est assez simple d'utilisation.
A chaque push sur la branch "master" et la branch "develop", les script seront automatiquement lancé.
-----
Je l

[2014-11-19 19:31] gchabert opened #67 "Impact handling in CtcCompo and CtcFixPoint"
CtcCompo et CtcFixPoint devraient savoir gérer l'impact et le "transmettre" aux sous-contracteurs.
C'est d'autant plus important que ce sont eux qui sont appelés à partir du solveur/optimiseur.

[2014-11-20 08:58] gchabert opened #68 "Contractor wrt polygon"
Salut Benoit,

On approche du but pour la branche separator.
Quelques remarques encore:

J'ai finalement supprimé le mécanimse d'inversion dans PdcPolygon et ai créé de façon générique le prédicat PdcNot (pour inverser un prédicat) et SepNot (pour inverser un séparateur)
J'ai retouché un peut CtcSegment pour qu'il ait deux types de construction: soit avec un segment fixe (variante à 2 variables),

[2014-11-20 21:11] #63 closed, assigned to nobody

[2014-11-24 14:51] gchabert opened #70 "Inner arithmetic: ibwd_mul fails with x*y<=0"
Test case:
Function f("x","x*0.99");
IntervalVector area(1,Interval(-10,10));
Vector pt(1);
pt[0]=2;
f.ibwd(Interval::POS_REALS,area,pt);
// area is [-10,10] instead of [0,10]

[2014-11-24 15:12] Jordan08 opened #71 "Compatibility of IBEX on Windows"
Bonjour,

Pour info, voici ce que j'ai dû faire en plus pour pouvoir compiler
ibex-2.1.10 avec qt-sdk-win-opensource-2010.05.exe (based on Qt 4.7.0 and
MinGW with GCC 4.4.0) :
_ Copy C:\MinGW\lib\gcc\mingw32\4.4.0\libstdc++.a to C:\MinGW\lib\gcc
\mingw32\4.4.0\libstdc++.dll.a
_ Add C:\MinGW\include\sys\times.h from the provided file
_ Be sure to use filib : ./waf configure --prefix=C:\Ibex\mingw\i

[2014-11-25 14:31] Jordan08 opened #72 "Embedded version of IBEX"
sans python, sans solveur lineaire et sans garanti!

[2014-11-25 20:19] #70 closed, assigned to gchabert

[2014-11-27 18:30] nicolaje opened #73 "Evaluate the possibility to migrate from waf to CMake"
waf is a build system that relies on python and is not as used as CMake, a cross-platform build-system widely used.
Evaluate the amount of work required to move from waf to CMake and if reasonnable, propose the migration.

[2014-11-28 12:47] Jordan08 opened #74 "Need try catch for f.eval(x)"
Serait-il possible de "catcher" l'exception EmptyBoxException dans

[code]

replace by

[code]

[2014-12-01 11:57] #43 closed, assigned to gchabert

[2014-12-02 09:25] #1 closed, assigned to Jordan08

[2014-12-02 16:05] #7 closed, assigned to Jordan08

[2014-12-04 09:55] gchabert opened #76 "Create a user-friendly configurable version of the solver/optimizer"
Rendre les fichiers actuels optimizer04 et solver04 officiels.

[2014-12-08 14:30] gchabert opened #77 "Optimizer: Rigor mode is not rigorous"
Exemple simple où la solution est perdue:
minimiser -x*y sous la contrainte x+y=1.

Code:

[code]

[2014-12-08 14:53] gchabert opened #78 "Segmentation fault with CLP"
Sur l'exemple simple suivant, l'optimiseur par défaut produit un seg fault avec CLP (pas avec Soplex).
D'après la trace gdb ci-dessous, apparemment, c'est lié à un appel à l'instruction ClpModel::deleteRows dans LinearSolver::cleanConst.

Une indication sans doute importante: le système n'a pas de contrainte (optim pure).

Code:

[code]

Trace gdb:

0  0xb7dfa09f in CoinPackedMatrix::deleteMinorVe

[2014-12-08 15:18] Jordan08 opened #79 "A contractor should indicate if the entire box is inside its own set"
A contractor should indicate if the entire box is inside its own set.
In this case, the box can never be contracted (nor if we bisect it)
It could be helpfull in many case in a SIVIA (or OptiCtc) to prouve that a box is inside a set.

Actually, we use the complementary to prove that a box is in a set.
But sometime, it is impossible to contract a box with the complementary (to prove that a box is n

[2014-12-09 14:39] Jordan08 opened #80 "Bug with Return"
[code]

Le problème vient de l'interface de Return, il faudrait virer le " bool in_rows=false "

Car si le dernier élément est une constante, le compilateur prends ça pour un bool

[2014-12-10 08:12] SimonRohou opened #81 "DimException thrown in examples/slam{1,2,2_tmp}"
Une erreur obtenue en lançant :
`./slam1`, `./slam2` et `./slam2_tmp`

Le résultat :

[code]

(Ubuntu 14.04 64bits)

[2014-12-11 14:36] #35 closed, assigned to nobody

[2014-12-12 10:27] bneveu opened #82 "perte de l'optimum avec FILIB pour ex8_5_1"
Filib perd l'optimum avec des résultats différents selon le point de découpe (ratio 0.45 ou ratio 0.5)
et la précision sur les boites
Pas de problème avec gaol, qui trouve l'optimum dans tous les cas.
Tous ces tests sont avec Soplex.

ratio 0.5  prec 1.e-8  bons résultats  mais avec un uplo_of_epsboxes
./optimizer04 ../benchs/benchs-optim/coconutbenchmark-library1/ex8_5_1.bch acidhc4 compo smearsu

[2014-12-12 17:39] #52 closed, assigned to nobody

[2014-12-12 17:56] gchabert opened #84 "(SetInterval) Create a function to calculate a distance from a point to the set"

[2014-12-12 17:57] #84 closed, assigned to gchabert

[2014-12-16 13:15] msis opened #87 "`bwd_sqrt` returns a value when used with a negative vector."
See example below:

[code]

[2014-12-16 13:20] msis opened #88 "`bwd_atan` returns a bounded interval where it should give an ALL_REALS."
See examples below (all computations should be equivalent)

[code]

[2014-12-17 17:16] #87 closed, assigned to gchabert

[2014-12-17 21:24] #81 closed, assigned to gchabert

[2014-12-18 14:18] #65 closed, assigned to benEnsta

[2014-12-23 20:57] #88 closed, assigned to nobody

[2014-12-23 22:26] #82 closed, assigned to nobody

[2014-12-23 22:28] #74 closed, assigned to gchabert

[2014-12-23 22:28] #58 closed, assigned to nobody

[2014-12-23 22:28] #48 closed, assigned to nobody

[2015-01-07 21:01] gchabert opened #89 "PixelMap save/load fails because of float<->char conversion in file headers"
Le fait de convertir certaines valeurs flottantes dans le header en caractères dans le save() et de les reconvertir en flottant dans load() fait qu'on peut perdre la valeur initiale.
C'est particulièrement flagrant dans test_init2DPixelMap où la valeur LEAF_SIZE  est fixée à 0.1 (non représentable exactement en binaire, donc constituée d'une longue mantisse, tronquée par la conversion). J'obtiens

[2015-01-19 17:44] Jordan08 opened #90 "probleme dans les includes"
il faut remplacer les
[code]
par
[code]

car certain compilateurs sont sensibles

[2015-01-21 17:34] msis opened #92 "bwd_atan2 is not optimal."
Details can be found in #91.

The unitary test **bwd_atan2_09()** has been left commented until a solution is found.

[2015-01-21 18:09] msis commented on #92
Closed with the new optimal contractor in the following commit 1b1fd35a6d182c4c524255e6b734f7df7f30bb95

[2015-01-21 18:09] #92 closed

[2015-01-29 12:37] msis opened #93 ""uninstall" procedure is incomplete"
`./waf uninstall` does not remove all installed files (i.e. filib and clp etc.)
It should remove all installed files.

An example is when it becomes problematic is when you compile with default options and then you want to enable shared libraries with `--enable-shared`. The compilation will fail because _libprim_, which is part of **filib** has been compiled as static library.
The only solution is

[2015-02-10 14:19] bneveu opened #94 "Infinite loop in QInter"
le vieil algo de QInter (actuellement le seul dans master)  part en boucle infinie
sur l'exemple robust_estim3.cpp si on remplace
CtcQInterProjF ctcq(m_ctc,Q); par
CtcQInter ctcq(m_ctc,Q);

il n'arrive pas  dans la fonction qinter dans ibex_QInter.cpp à sortir de la boucle
	while (ind[0]>=0 && cell[d].ub()>ub0) {

[2015-02-10 15:41] gchabert commented on #94
ok pour info les autres algos de qinter sont dans la branche qinter

[2015-02-11 15:36] Jordan08 opened #95 "version standalone"
J'ai fait une branche "standalone" qui est plutôt bien.

J'ai réussi à faire passer tous les tests unitaires (en les modifiant un petit peu mais sans les dénaturer)

Seul quelques test "mul_div_mono*" ne passent pas du tout, ainsi qu'un test sur l'espilon inflation:
https://travis-ci.org/ibex-team/ibex-lib/builds/50333967

J'ai l'impression que le problème vient de l'option -O3
J'aurais envie de p

[2015-02-11 15:46] Jordan08 commented on #46
J4ai pas mal modifié la structure.

J'ai nottamment fusionné entierrement ```Heap<T>``` et le ```CellHeap``` que j'avais fait.

Et ça marche :+1:

Mais j'ai besoin d'un regard exterieur sur l'architecture
Merci d'avance

[2015-02-11 15:52] Jordan08 commented on #9
voici une première version qui marche

J'ai ajouté dans ```LinearRelax``` 2 methodes ```inlinearization``` et ```goal_linearization``` pour generer des linéarisations sur le même principe que ```linearization```

Du coup le code OptimSimplex.cpp_ est beaucoup plus propre.

[2015-02-11 22:32] gchabert commented on #46
ok, je regarde!

[2015-02-17 12:04] Jordan08 opened #106 "Add Flag managemnt in CtcQuantif"
Le but est d'améliorer les algo de CtcExist et CtcForAll grace au flag INACTIVE

[2015-02-22 09:27] gchabert opened #107 "DAGisation"
We need automatic DAGisation of an expression. Test this on "sensibility" benchmark.

[2015-02-22 09:28] gchabert opened #108 "Symbolic differentiation of min/max operators"

[2015-02-22 09:30] gchabert opened #109 "Parser: n-ary min/max operators"
From alex: "la transformation de Max ternaire en Max binaire n'est pas très propre. A l'occasion, si tu peux traiter cela de ton coté au niveau du parser, ca sera mieux"

[2015-02-22 10:07] gchabert opened #110 "ExprSubNodes: is constants placed before or after symbols?"
Je pense que
ExprSubNodes(const Array<const ExprSymbol>& x, const ExprNode& y)
place les constantes après les variables.
Le vérifier et, a minima, l'indiquer dans les commentaires.

[2015-02-22 12:34] gchabert commented on #107
Closed. However the DAGisation is "naive" because it looks only for identical subgraphs.
E.G: (x+y)-z cannot be "DAGifiy" with x+(y-z) because they are not identical subgraphs.

[2015-02-22 12:34] #107 closed

[2015-02-22 12:44] gchabert commented on #110
Et les variables n'apparaissent pas forcément dans le bon ordre.

[2015-02-23 15:01] gchabert opened #112 "Optimizer fail with constant objective"
De tels cas peuvent apparaître dans des problèmes générés automatiquement.
Ex:

minimize -4
constraints etc.

donne un "seg fault".

[2015-02-24 13:45] gchabert opened #113 "ibwd for min/max"

[2015-02-25 19:58] gchabert opened #114 "How one can get the number of the ibex release installed ?"

[2015-03-01 21:11] gchabert commented on #46
Salut Jordan
Je vois que tu as finalement viré l'implémentation d'un tas à partir de la STL (sort_heap).
A la base je pensais qu'il y aurait deux structures de données: Heap (tas simple, basée sur la STL) et SharedHeap (structure de tas partagée, fait maison). Pourquoi as-tu préféré fusionner finalement?
Je ne suis pas forcément contre, je veux juste comprendre. Si on maintient ça, je propose de r

[2015-03-02 09:13] Jordan08 commented on #46
Salut Gilles,

Ce travail est né d'une frustation: je ne comprenais pas pourquoi ça ne marchait pas mieux....
Du coup, j'ai tou repris et  fusionné le tout, je trouve ça beaucoup plus cohérent.
Et ça marche! :D (la vidéo est trop bien)
Pour le nombre de boîte, c'est normale que l'on ne fait pas exactement le même nombre, car il y a toujours des boite avec la borne inf au début. Du coup, l'ordre do

[2015-03-03 08:50] gchabert commented on #46
Salut Jordan,
Désolé pour la vidéo, un mauvais copier-coller :-D
Je préfère continuer sur hotfix-46, vu que j'ai commencé. Je vais faire pas mal de modif, n'y touche plus...
A+

[2015-03-03 11:12] Jordan08 commented on #46
Pourtant je trouvais la vidéo de circonstance ;-)

ok je touche plus à la hotfix-46.
D'un autre côté, vu que déjà à moi je n'étais pas du tout satisfait de certain truc,  je me doutais bien que pour toi, il devait y avoir quelque hérésie dans mon code ;-)

a+

[2015-03-03 22:10] gchabert commented on #46
Pas d'hérésie... le code est correct et testé, c'est déjà super :)
Je retravaille pas mal par contre la structuration. C'est laborieux mais j'avance... Je te présenterai les modifs majeures bientôt. En attendant, juste deux petites questions sur ibex_DoubleHeap.cpp:
- ligne 85: pourquoi cette contraction du 2ème tas n'est pas synchronisé avec le 1er tas? Autrement dit: la suppression potentielle d

[2015-03-04 03:59] Jordan08 commented on #46
Salut,

En fait, c'est un truc pour éviter d'avoir une méthode "setLoup" qui n'a pas de sens pour certaine DoubleHeap.
Du coup, la seul façon de modifier le "loup" c'est d'utiliser "contractHeap"
C'est pour ça que je l'utilise ici sur une Heap vide.
Qu'en penses-tu? Ca peut peut-etre creer des problmeme dans le fututr, non?

[2015-03-04 09:55] gchabert commented on #46
Salut Jordan,
Bon ça y est, j'ai pushé ma proposition.
Travis a planté pour une raison bizarre (https://travis-ci.org/ibex-team/ibex-lib/builds/53019291) mais tout à l'air d'aller chez moi.
En gros, les points majeurs sont les suivants:
- j'ai créé une structure générique DoubleHeap dans tools/ (indépendante du type Cell) et une classe CellDoubleHeap jouant le rôle de buffer.
- J'ai réintroduit la

[2015-03-04 10:23] Jordan08 commented on #46
Salut,

A première vue, j'aime vraiment mieux ta structure.
J'étais pas satisfait de mes "init_copy" et je trouvais qu'il y avait des choses bancales dans l'architecture.
C'est une super idée d'avoir introduit les CostFunc, ça simplifie grandement.
Heureusement que l'on a un vrai informaticien dans l'équipe ;-)

Je regarde le tout en détail demain, mais ça a l'air vraiment mieux.
Par contre, je ne

[2015-03-04 10:49] gchabert commented on #46
Merci Jordan... C'est cool d'avoir des collaborateurs souples et ouvert d'esprit :)
J'ai eu un doute sur le fait de remplacer les "contract" par "set_loup" dans CellDoubleHeap::contract(...). Dis-moi s'il y a un souci.
De même, j'ai mis en dur pour le moment dans le constructeur de DoubleHeap les champs "updateCost" des deux tas à false, je suis en train de régler ce point.
A+
Gilles

[2015-03-04 11:18] Jordan08 commented on #46
ok je ferai attention à ces 2 points.
Je reprendrais la main dessus seulement vendredi après-midi.
D'ici là, modifie ce que tu veux.
a+
Jordan

[2015-03-04 15:56] gchabert commented on #46
OK. Du coup, j'ai sorti la question de la mise à jour des coûts en dehors de SharedHeap/DoubleHeap, ce qui a pour résultat que les fonctions "sort" et "contract" prenne en argument l'info (c.a.d., est-ce qu'il faut mettre à jour des coûts ou non?). Et du coup, ça simplifie grandement le contract de CellDoubleHeap. Mais bon, il vaut mieux malgré tout que tu y jettes un coup d'oeil  :-)
Je pense que

[2015-03-08 14:30] gchabert commented on #9
Super boulot! Il reste quelques bricoles (du genre le [1e-14,1e6] pour tester le diamètre dans OptimSimplex) mais je valide tout ... J'ai modifié le script de non-régression pour que le nombre de cellules puisse au pire doubler et tout passe ... enfin, presque :-( Il reste un souci avec hydro qui visiblement part dans les choux:
https://travis-ci.org/ibex-team/ibex-lib/builds/53540118
(note: c'éta

[2015-03-09 10:19] bneveu commented on #9
salut,

J'essaie cette branche.
Il doit effectivement  y avoir un bug pour immun.bch

avec la commande suivante,
j'ai des messages d'erreur  (de soplex ?)  et aucun point faisable n'est trouvé

/optimizer04 ../benchs/benchs-optim/coconutbenchmark-library1/immun.bch acidhc4 compo roundrobin 1.e-7 1.e-6 1000
Automatic initialization of gaol... done
file ../benchs/benchs-optim/coconutbenchmark-librar

[2015-03-10 14:10] #113 closed

[2015-03-10 18:35] Jordan08 commented on #46
Salut Gilles,
Tout ça me parait fort bien!
J'ai relu tout le code et j'ai que 3 remarques:
- Pourquoi dans SharedHeap ligne 90, "protected" est mis en commentaire? Pour moi, il faudrait que les méthodes plus bas soit bien en protected.
- Dans CellCostFunc, est ce que l'on pourrait pas mettre la variable ```depends_on_loup``` dans ```CostFunc<T>``` en la nommant ```depends_on_global_var``` (en mett

[2015-03-10 20:50] gchabert commented on #46
Salut Jordan,

Je ne sais plus, tu as bien fait de changer :)

Tu as raison, c'est déjà beaucoup mieux comme ça! En fait, on peut aller plus loin je pense... en gros, je préférerais remplacer le "depends_on_global_var" par une variable qui indique à une SharedHeap, au moment de sa création, si les objets T* stockés ont un coût qui ne changera jamais (calculés une et une seule fois) où s'ils peuven

[2015-03-11 16:15] gchabert commented on #106
Hello Jordan, j'ai regardé et fait quelques petites modifs:

- Super pour CtcExist, CtcForAll, rien touché :D
- Pour d'autres contracteurs, l'appel à (*impact()) était hasardeux, impact peut être un pointeur null. J'ai créé un biset à la place.
- On ne peut pas mettre INACTIVE dans CtcEmpty du fait que le prédicat n'est pas forcément monotone. A terme, on pourrait imaginer une fonction Pdc::is_mon

[2015-03-11 16:38] Jordan08 commented on #46
Je suis en train de test le tout beaucoup plus en profondeur et j'ai des bug qui resorte
Je corrige tout ça et je push

[2015-03-12 07:57] Jordan08 commented on #46
Pour moi, c'est bon pour cette branche.
Je pense que l'on peut s'arreter là. C'est déjà très propre.

J'ai rajouté des tests dans ```TestDoubleHeap``` et ça a été plutôt simple de les construire le tout.

[2015-03-12 08:06] Jordan08 commented on #106
ok
- Du coup, j'ai pas très bien compris à quoi sert ```impact``` ?
- Pour le flag INACTIVE, je pensais que ça voulais dire que toutes la boite est les sous-boites sant dans l'ensemble défini par le contracteur (cad la contrainte est inactive). Donc, si une boite est monotone, ça veut dire que toutes s'est sous-boite sont monotones. Du coup, je ne vois pas où été le problème?
- ok pour CtcUnion
-

[2015-03-12 08:18] gchabert commented on #106
En fait, on est en train de retravailler sur ces flags d'impact avec Gilles et Bertrand donc, laisse tomber pour le moment. Je te tiens au courant.

Oui mais rien n'empêche qu'un prédicat retourne NO pour une boîte [x] et YES pour une sous-boîte de [x] (ex, le prédicat "la boîte a un diametre >eps"). Donc le contracteur CtcEmpty défini à partir de ce prédicat n'est pas forcément inactif sur [x].

[2015-03-12 08:23] Jordan08 commented on #9
En effet, il s'agit certainement d'un bug dans soplex, car je n'ai pas réussi à "catcher" cette erreur.

Le truc qui ne me rassure pas, c'est qu'avec Cplex et Clp, on n'arrive pas à résoudre non plus...

Un truc que j'i oublié de vous dire.. en codant la branche "standalone", je me suis aperçu que j'avais oublié d'inclure l'initialisation de filib.
Il s'agit du commit:
https://github.com/ibex-team

[2015-03-12 08:37] #108 closed

[2015-03-12 08:38] Jordan08 commented on #106
ok pour moi.
Par contre, des prédicates non monotone, moi je trouve ça vicieux ;-)
a+

[2015-03-12 09:03] bneveu commented on #9
J'ai regardé où les versions divergeaient, avant d'obtenir les bugs de soplex
en mettant l'optimiseur avec un seul tas  dans optimizer04
Optimizer o(sys,*ctcxn,*bs,prec,goalprec,goalprec,samplesize,eqeps,false,0);
avec le même résolution
/optimizer04 ../benchs/benchs-optim/coconutbenchmark-library1/immun.bch acidhc4 compo roundrobin 1.e-7 1.e-6 100

les systèmes envoyés à soplex sont différents, m

[2015-03-12 09:07] gchabert commented on #106
C'est mergé, j'ai fermé la branche.

[2015-03-12 09:07] #106 closed

[2015-03-12 09:27] gchabert commented on #46
On perd quand même plus de 10% sur les temps, pour 8 benchs parmi les 20 :-(
https://travis-ci.org/ibex-team/ibex-lib/builds/53981961

[2015-03-12 09:49] Jordan08 commented on #46
C'est bizarre, car par rapport au push précédent, j'ai rien changer (sauf le truc sur ```depend_on_global```` et les tests)....

Je pense que pour faire des tests de nonreg valable, il faudrait que l'on est un random déterministe.
C'est à dire qui donne la même série de nombres aléatoires.
Comme ça d'une exécution à l'autre il n'y aurait aucun changement, tout serait déterministe.
J'en ai codé un

[2015-03-12 09:50] Jordan08 commented on #9
qu'est ce que tu entends par différents?
Les coins utilisé pour la relaxation de XRTaylor sont peut-être différents?
voir ma remarque ici #46

[2015-03-12 10:01] gchabert commented on #46
Le random actuel est déterministe puisqu'on l'initialise avec la même graine à chaque fois (appel à srand(1) dans DefaultOptimizer et OptimizerParam).
En fait, les deux variante du double tas (celle de Bertrand et la tienne) devraient fonctionner exactement de la même manière car il n'y a pas de choix heuristiques à faire dans l'implémentation d'un tas il me semble.
Il faudrait donc prendre un tes

[2015-03-12 10:02] bneveu commented on #9
non les systèmes envoyés au solveur linéaire  eux-mêmes sont différents (objectif n'est plus une variable, les bornes sont différentes)

ancien système qui trouve un loup
[37] buffer size=37 . Cell on the top :

 ([84241.88919919033, 84247.79612587733] ; [933.8913506684369, 934.0356503900079] ; [486.6902344722589, 486.8269629827307] ; [255.0152121596217, 255.1454717921598] ; [159.7850190557059, 15

[2015-03-12 10:06] gchabert commented on #46
Cela dit, ça n'explique pas pourquoi les temps passaient (sauf un) dans le commit d'avant...
Tu es sûr que les modifs de ton dernier commit ne peuvent pas avoir eu un impact sur les temps de calcul?

[2015-03-12 11:08] Jordan08 commented on #46
entre les deux j'ai simplement:
- changer la position depend_on_global (mettre a jour l'interface de sort et contract)
- corriger le bug de contract (voir percolate)
- corriger le print

alors oui ça peut avoir un impact sur les temps, mais il me semblait que dans l'optimizer par default on n'utilisé le tri par LB et UB. Du coup normalement, on utilise jamais le "sort" et donc ça doit être mieux?

[2015-03-12 11:13] Jordan08 commented on #9
ah oui ça y est ça me revient.
C'est parce que dans l'ancienne version, on utilisait le ```ExtendedSystem```.
Dans la nouvelle version, je n'utilise que le  ```System``` d'où la différence

Pour remette le ```ExtendedSystem``, c'est à la ligne 107-108 de ```src/strategy/ibex_Optimizer.cpp```

[2015-03-12 13:55] Jordan08 commented on #9
j'ai remis la génération du systeme intérieur avec le Extended System.

Mais j'ai encore le même bug.
Là J'utilise soplex-1.7.2 et filib

[code]

?????
@bneveu ça donne quoi maintenant à ton noeud 37?

[2015-03-12 15:04] bneveu commented on #9
Ca ne change rien : il ya juste une variable en plus pour l'objectif. , mais la solution reste infaisable
et le système envoyé à Soplex est toujours très différent du système de la version précédente

[37] buffer size=37 . Cell on the top :

 ([84241.88919919032, 84247.79612587731] ; [933.8913506684369, 934.0356503900076] ; [486.6902344722589, 486.8269629827305] ; [255.0152121596217, 255.145471792

[2015-03-12 21:24] gchabert opened #116 "imul is not commutative"
Le programme suivant :

	Interval x(-1,1);
	Interval y(0,0);
	cout << imul(y,x) << " <> " << imul(x,y) << endl;

affiche deux résultats différents:

	<0, 0> <> [empty]

[2015-03-13 12:15] Jordan08 commented on #116
Est ce que ce bug est lié aux erreur qui sont dans la branche "standalone"?

[2015-03-13 12:40] gchabert commented on #116
Salut Jordan, je ne crois pas... on verra en le corrigeant :-)
Les problèmes de la branche standalone proviennent sans doute tous de la perte d'arrondi.
Je te réponds d'ailleurs à ce sujet sur l'issue correspondante

[2015-03-13 12:42] Jordan08 opened #117 "Modify the interface of the linear solver to convert the variable to the interface [-1,1]"
The linear system solve by the external library (CPLEX,Soplex or Clp) must have its varaible between [-1,1].
The goal is to avoid all the scalling problem.

[2015-03-13 12:42] Jordan08 commented on #9
ah oui...

En faite, dans l'ancienne version, les variables du systeme linéaire varié entre [0,x_i.diam()] ou [x_i.diam(), 0] (suivante le coté du sommet choisi par la reformulation de XTaylor).
Donc à cette transformation prés (et au choix du sommet prêt), c'est la même chose.

Par contre, je soupçonne de plus en plus les solveurs linéaires de  mal généré le "Scalling" car on a souvent des variab

[2015-03-13 12:44] gchabert commented on #95
Salut Jordan,
Cool pour le boulot.... Pour le --without-rounding, mon point de vue est que ce n'est pas grave si les tests unitaires ne passent pas avec ce mode de compilation. Ce n'est pas celui qu'on utilisera sous Travis :) Qu'en penses-tu?
On ne va pas s'amuser à refaire une arithmétique garantie... ce n'était pas le but du mode standalone!
A+
Gilles

[2015-03-13 12:47] gchabert commented on #117
Tu es sûr? En scalant on crée potentiellement des gros problèmes d'arrondi (on transforme en gros une erreur absolue en erreur relative)

[2015-03-13 12:49] Jordan08 commented on #95
ok
et sinon concernant la terminologie et l'option -O2 ? ça te va?

Je ne sais pas si tu as vu, mais j'ai modifié les tests, pour à chaque fois vérifier que la propriété d'inclusion soit vrai (et non l'égalité stricte).

[2015-03-13 12:51] Jordan08 commented on #117
oui mais de toute façon, ce processus est systématiquement fait dans les solveur linéaire... alors autant bien le faire, non?

[2015-03-16 08:37] gchabert commented on #95
OK pour la terminologie.
J'ai vu également ce que tu as modifié dans les tests, ça me va.
Pour l'option -O2 je me demande si on ne va pas perdre en performance par rapport à -O3, il faudrait faire des essais. On en reparle.

[2015-03-16 10:10] gchabert commented on #95
J'ai fusionné dans develop et détruit la branche standalone.
Pour y voir plus clair avec les benchmarks, j'ai amélioré le reporting sous travis. Le résultat est là:
https://travis-ci.org/ibex-team/ibex-lib/builds/54541541
on peut voir qu'en effet, on perd jusqu'à 68% du temps sur immun mais qu'on gagne pas mal sur d'autres... donc j'ai validé.
Il faudra voir ce que Bertrand en pense.
A+

[2015-03-16 10:10] #95 closed

[2015-03-16 10:11] gchabert commented on #95
Il reste bien sûr la doc à mettre à jour pour faire apparaître les nouvelles options.

[2015-03-18 09:35] gchabert commented on #110
Fixé pour les constants. Le problème avec l'ordre des variables n'a pu être reproduit (cf tests) mais l'appel à sort a été remplacé par stable_sort pour garantir le maintien de l'ordre relatif entre noeuds de même hauteur.

[2015-03-18 09:35] #110 closed

[2015-03-18 09:54] #109 closed

[2015-03-18 10:06] gchabert commented on #114
Jordan, toi qui maîtrise les scripts, peux-tu générer une constante
_IBEX_RELEASE_ dans Ibex.h à partir de la constante VERSION du wscript racine?

Ex:
_IBEX_RELEASE_ "2.1.12"

A+
Gilles

[2015-03-19 07:55] #116 closed

[2015-03-19 07:59] #68 closed

[2015-03-20 14:02] gchabert commented on #112
cannot reproduce.

[2015-03-20 14:02] #112 closed

[2015-03-20 14:03] gchabert commented on #79
C'est le rôle du flag INACTIVE logiquement.

[2015-03-20 14:03] #79 closed

[2015-03-25 09:11] gchabert commented on #46
Hello
J'ai fusionné develop pour bénéficier du "home random" comme tu le suggérais. On verra ce que Travis donne cette fois.

Mais je me demande si il faut en attendre grand chose :-( car les calculs de temps d'exécution sont instables. Entre mes deux derniers commits (sans aucun changement impactant l'optimiseur) on obtient sur le même bench un écart passant de +60% et de -3%... cf:
https://travi

[2015-03-25 09:25] gchabert commented on #46
Salut Bertrand,

La refonte du double tas dans l'optimiseur touche à sa fin (merci Jordan).

J'aimerais avoir ton feu vert avant de basculer tout dans la branche principale.

Les tests passent bien sous Travis, où tous les temps d'exécution sont en verts (ou presque):
https://travis-ci.org/ibex-team/ibex-lib/builds/55768398
Mais je me méfie un peu des temps de calculs, qui semblent assez instables

[2015-03-25 10:52] gchabert commented on #74
Il reste une branche active hotfix-74, est-ce que je peux la virer?

[2015-03-25 13:35] Jordan08 commented on #74
oui c'est bon je l'ai viré

[2015-03-25 14:11] Jordan08 commented on #46
Pour info
voici mes run avec hotfix-46:
measuring machine performance...
	reference time=1.22081
	current time=0.70104
	ratio=0.574242
ex2_1_9.bch	SUCCESS: time=6.37543s [-9.847%]  nb_cells=1975 [+3.458%]
ex6_1_1.bch	SUCCESS: time=18.06s [-1.394%]  nb_cells=2613 [+12.2%]
ex6_1_3.bch	SUCCESS: time=116s [-17.09%]  nb_cells=8166 [+11.27%]
ex6_2_6.bch	SUCCESS: time=30.81s [-27.62%]  nb_cells=19900 [+0

[2015-03-25 14:13] Jordan08 commented on #46
ça varie un peu, mais pour moi, c'est ok.
Faut dire que le code est qu'en même plus beau ;-)

[2015-03-25 14:32] Jordan08 opened #121 "Bug in the evaluation of the jacobian with sub-function of different size"
[code]

[2015-03-25 14:39] Jordan08 opened #122 "In SepFwdBwd, problem with n-ary function"
The complementary contractor of  ```CtcFwdBwd(f,op)``` is not  ```CtcFwdBwd(f,!op)```, if the funciton f is n-ary

[2015-03-25 16:12] gchabert commented on #121
Je ne reproduis pas le problème. J'obtiens l'affichage correct:
((<1, 1>)
(<1, 1>))
Gilles

[2015-03-25 16:13] gchabert commented on #122
Je ne comprends pas, peux-tu donner un exemple?

[2015-03-25 16:14] Jordan08 commented on #121
Si tu compile IBEX en mode debug, il y a un assert qui ne passe pas

[2015-03-25 16:18] gchabert commented on #121
Étrange. Je n'ai pas ce souci. Tu compiles bien avec la branche develop?

[2015-03-25 16:19] Jordan08 commented on #122
[code]
Pour le contracteur ci-dessus, le complémentaire est le suivant:
[code]
Or dans ```SepFwdBwd```, on prend ```CtcFwdBwd(f,GEQ)``` . Ce qui est faux....

[2015-03-25 16:22] gchabert commented on #122
Ah ok.... le problème est lié aux fonctions n-valuées pas aux fonctions n-aires :-)

Je réfléchis à ça...

[2015-03-25 16:24] Jordan08 commented on #121
En fait, ça marche avec 2 mais pas 3....
là c'est bon, ça bug:
[code]

[2015-03-25 16:24] Jordan08 commented on #121
../src/arithmetic/ibex_LinearArith.cpp:214: Vout ibex::{anonymous}::mulVM(const Vin&, const M&) [with Vin = ibex::IntervalVector; M = ibex::IntervalMatrix; Vout = ibex::IntervalVector]: Assertion `m.nb_cols()==v.size()' failed.

[2015-03-25 16:25] Jordan08 commented on #122
heu... ouai... c'est pareil....... ;-)

[2015-03-25 16:57] gchabert commented on #121
ok je regarde!

[2015-03-26 12:23] gchabert commented on #122
Ça devrait être bon, je n'ai pas testé avec SepFwdBwd mais j'ai testé avec CtcNotIn (qui avait le même genre de bug) et SepFwdBwd repose toujours dessus désormais.

[2015-03-26 12:23] #122 closed

[2015-03-26 12:23] #121 closed

[2015-03-26 12:28] Jordan08 commented on #121
Ah... c'était juste ça....
J'avais pas eu le temps de regarder. J'avais juste constaté le problème
Merci

[2015-03-26 12:29] gchabert commented on #90
Oui, a priori c'était dans le code de Benoit uniquement et j'ai vu que tu les avais corrigés, je clos le bug.

[2015-03-26 12:29] #90 closed

[2015-03-26 12:30] gchabert commented on #121
Aucun souci, celui qui constate le bug n'est pas censé chercher à comprendre d'où il vient!

[2015-03-26 15:46] bneveu commented on #46
J'ai regardé l'algo d'optim par défaut (le double tas lb ub).
Je n'ai pas testé les autres critères (qui ne servent que de comparaison dans l'article en soumission).
Les comportements en temps et nombre de boites sont assez similaires, bien qu'un peu différents.
Je n'ai pas sur ma machine de gros écarts en temps (pas de gros gains comme semblent l'indiquer tes mesures de performance sous Travis ,

[2015-03-26 21:23] gchabert commented on #46
Salut Bertrand
Merci d'avoir regardé. Effectivement, on a perdu cette possibilité d'utiliser plusieurs critères pour un même tas, ça m'avait échappé... mais je pense que ça vaut le coup de basculer sur le nouveau code malgré tout, sachant qu'on pourra toujours, si le besoin se faire sentir, réimplémenter cette fonctionnalité en donnant à un tas non seulement une fonction de coût (CostFunc) mais ég

[2015-03-27 21:33] gchabert commented on #46
J'ai encore fait toute une série de modifications pour améliorer le code (par exemple, j'ai sorti de l'optimiseur la gestion des données "pf" et "pu" spécifiques aux fonctions de coût).

Je pense avoir trouvé un bug au passage: les critères PF_LB et PF_UB utilisent (comme leur nom l'indique) le "pf" mais l'optimiseur ne l'ajoutait pas dans OptimData lorsque ces critères étaient utilisés. Je ne l'a

[2015-03-30 07:07] Jordan08 commented on #46
Oui en effet, c'est mieux.
ça permet vraiment de rajouter des critère avec un minimum de modif.
Le code me parrait très modulaire maintenant.

Pour PF_LB et PB_UP, je confirme il faut ajouter les OptimData.
Mais si j'ai bien compris, il suffit d'implementer add_backtrackable et set_optim_data dans CellCostFunc.h

Pour les nom, il faut demander à Bertrand.
a+

[2015-03-30 08:39] gchabert commented on #46
Exact (c'est fait).

J'ai supprimé la branche hotfix-46, tout est dans develop désormais.
A+

[2015-03-31 09:57] Jordan08 opened #123 "Bug in bwd_atan2 with the option --without-rounding"
The unity test don't work with the option --without-rounding
Therre is a infinity loop in bwd_atan2 due to rounding error.

[2015-03-31 15:39] #114 closed

[2015-03-31 15:42] Jordan08 commented on #93
I fix this issue
msis: can you check it if it is allright?

[2015-04-01 12:50] Jordan08 commented on #72
A first step was ma de with thé stanalone mode

[2015-04-01 12:52] Jordan08 commented on #72
A first step was made without lp solver and a homemade interval arithmetic with the option "standalone"

[2015-04-01 12:54] #66 closed

[2015-04-01 13:00] Jordan08 commented on #34
Peut-être qu'il faudrait faire un tar de filib en enlevant tout ce qui est inutile.
Je pense notamment a la compilation des tests unitaires de filib (les "check*")

[2015-04-01 13:03] Jordan08 commented on #33
Quand ce sera fait.... :-) ce serait même mieux de remplacer OptimSimplex par une minimisation locale par un lagrangien augmenté

[2015-04-01 13:05] Jordan08 commented on #6
Waiting for the result of the issue #73

[2015-04-01 13:06] Jordan08 commented on #17
Waiting for the result of the issue #73

[2015-04-01 13:06] Jordan08 commented on #2
Waiting for the result of the issue #73

[2015-04-01 14:15] bneveu commented on #46
les critères C3, C5, C7  ainsi que les notations pf et pu proviennent de l'article  de Markot Fernandez Casado Csendes
New interval methods for constrained global optimization  dans mathematical programming.

Je les avais implantés pour qu'on puisse se comparer à eux:  ils n'ont pas vocation à être fournis et documentés à l'utilisateur d'Ibex.

Par contre, ce serait bien s'ils pouvaient  continuer

[2015-04-01 17:15] gchabert commented on #46
Ce n'est pas moi qui les ai ajoutés...

Effectivement, ce n'est plus le cas...le loup est passé à la fonction de coût directement (voir les champs de la classe). Ça me paraissait plus logique car le coup est global et non spécifique à la cellule (contrairement à pf et pu).

Si ça te paraît correct je te laisse clore le "bug".

A+
Gilles

[2015-04-01 19:54] gchabert commented on #34
En effet, ce sont tous les exemples et les tests de fillib qui font planter le waf.
Ce serait super si tu pouvais les virer de la compil... ça prend 1h pour compiler, c'est vraiment pénible :-/
A+
Gilles

[2015-04-02 08:26] bneveu commented on #46
Le fait d'utliser le loup courant et non le loup au moment de la création de la cellule donne des
critères  différents de ceux que j'avais implantés, mais c'est sans doute une implantation plus proche des critères C3,C5 et C7 tels qu'ils sont définis.

Ça me paraît correct , à condition que le tas correspondant soit  retrié à chaque nouveau loup,
ce qui doit être  fait par la fonction contract.  (

[2015-04-03 16:00] bneveu opened #124 "erreur avec Array et Function"
J'ai une erreur avec les Array déclarés dans une boucle qui crée une fonction
J'ai essayé de circonscrire le bug  en laissant le minimum qui fait planter.
 le petit programme suivant plante dans la création de la fonction à la deuxième itération.

Automatic initialization of gaol... done
 fin iteration
terminate called after throwing an instance of 'ibex::DimException'
Abort (core dumped)

est-ce

[2015-04-07 07:48] bneveu commented on #124
le programme qui plante est plus exactement le suivant
avec Array<Interval>

-------------------------------------------------------------------------------------------------------------

#include "ibex.h"
using namespace ibex;
using namespace std;

int main() {
  int p=150;

  Variable v(3);
  Function* m_f0;
  for (int i=0; i< 2; i++)
    {
      Array<Interval> mctc (p);
      m_f0= new Functio

[2015-04-07 14:45] bneveu commented on #124
les  crochets disparaissant sous github ?,  il faut bien lire dans l'exemple
Array crochet ouvrant Interval crochet fermant

[2015-04-08 07:36] gchabert commented on #124
Je pense que c'est bon maintenant.
A+

[2015-04-08 07:36] #124 closed

[2015-04-20 12:27] bneveu opened #125 "comportement different selon niveau de trace"
Les résultats de l'optimiseur sont différents selon le niveau de trace, alors que la seule
différence doit être une impression  dans ibex_Optimizer.cpp
if (trace >= 2) cout << " buffer " << buffer << endl;
(signe d'un bug mémoire ?)

Ce comportement anormal n'apparaît pas dans l'ancienne implantation avec les 2 tas .

./defaultoptimizer ../benchs/benchs-optim/coconutbenchmark-library1/ex2_1_9.bch

[2015-04-21 10:50] bneveu commented on #125
J'ai corrigé le bug en ajoutant une methode print pour CellDoubleHeap qui appelle celle de DoubleHeap.
Le comportement est maintenant le même avec et sans trace.

Je n'ai pas compris pourquoi la methode d'impression appelée auparavant avait des effets de bord.
l'héritage multiple en C++ est trop compliqué pour moi.

[2015-04-21 10:50] #125 closed

[2015-04-21 12:08] bneveu commented on #125
j'ai compris d'où venait le problème.
le print de CellBuffer appelle top , méthode virtuelle redéfinie dans CellDoubleHeap qui fait appel
a rand(), d'où les changements de comprtement.

Maintenant, plus de problème avec le print redéfini dans CellDoubleHeap

[2015-04-22 21:35] soonhokong opened #126 "Is it possible to implement LinearSolver using glpk?"
Is it possible to implement [LinearSolver](https://github.com/ibex-team/ibex-lib/blob/master/src/numeric/ibex_LinearSolver.h) using [glpk](https://www.gnu.org/software/glpk)? I want to know whether this is a matter of time and efforts or there are some technical problems which prevent it.

[2015-04-22 22:00] Jordan08 commented on #126
Indeed it is a matter of time and effort.
Firstly, IBEX used Soplex. When I joined the project, I known CPLEX, so I made the interface.
But due to some licence problem (to make an "all-in-one" package) we choose to use CLP.

But, if you know well GLPK, you can make the interface. It will be a pleasure to integrate your work in the master of IBEX (you have just to add comments to your code and add

[2015-04-22 22:09] soonhokong commented on #126
@Jordan08, thanks for the quick answer.

I'm working on a GPL3 project and we use IBEX internally. Recently I read a [discussion](http://stackoverflow.com/questions/5393873/epl-eclipse-public-license-gpl-gnu-public-license-lgpl-lesser-gpl-and-lic) basically saying that I can't use GPL3 and EPL together in a project..

I see. I'll try.

How can I test it? I think I saw a list of testcases were runn

[2015-04-22 22:44] Jordan08 commented on #126
- Concerning the licence, I must confess that I am not an expert.... @gchabert choose the licence LGLP because you can do what you want.

- For the tests, you must install IBEX and libcpptext-dev
```sudo apt-get install  libcpptest-dev```
Then in ``` ibex-lib/tests``` , you can compil the test using makefile
[code]
But it is only basic and unary tests

The main advantage is that all this tests are

[2015-04-22 23:34] soonhokong commented on #126
@Jordan08, thanks for the answers. Now I figure out how to run the tests!

[2015-04-22 23:34] #126 closed

[2015-04-28 15:09] #10 closed

[2015-04-29 20:53] gchabert opened #127 "Optimizer: Assertion intempestive avec sqrt (mode DEBUG)"
Le fichier suivant::

  variables
  x1 in [0,10];

  minimize sqrt(x1)

Lève une assertion en mode debug :
defaultoptimizer: ../src/arithmetic/ibex_TemplateVector.cpp_:101: ibex::Vector ibex::{anonymous}::_lb(const V&) [with V = ibex::IntervalVector]: Assertion `!v.is_empty()' failed.

[2015-04-29 20:57] gchabert opened #128 "Optimizer: ln (and non-integer power) fails"
(Note: tenir Clément Carbonnel informé)

Quand on minimise ln(x) (ou par exemple x^0.1) sur [0,1] avec defaultoptimizer, le résultat n'est pas celui attendu (0).

Exemple:
./defaultoptimizer ../benchs/benchs-optim/benchs-unconstrainedoptim/f2.bch 1e-06 1e-06 10

[2015-05-01 17:14] gchabert commented on #128
J'ai compris d'où vient le bug.
Lorsqu'on applique les conditions du premier ordre on impose f'=0 or ici le minimum est atteint avec f'=+oo en 0.

[2015-05-02 05:11] soonhokong opened #130 "contractor convention and EmptyBoxException?"
My understanding is that whenever a call `ctc.prune(iv)` makes `iv` to be an empty interval vector, `ctc.prune(iv)` should generate an exception `EmptyBoxException`. Is it correct?

If so, I think I find a case where we don't have this invariant. FwdBwd contractor calls HC4Revise::proj function internally. When `backward` call makes an empty interval, I think it should throw an exception.

https:/

[2015-05-02 13:00] gchabert commented on #130
Dear Soonho,

Yes. But in fact, we have decided to change this convention because there is no reason for an empty box to be treated as an exception (an empty box is nothing but a particular box, not an "error case"); and the information this exception carries is redundant with the fact that the box is reduced to the empty set. This is something that should be done soon, and to avoid potential prob

[2015-05-02 13:03] gchabert commented on #130
PS: I leave this issue open. It will be closed once the empty box exception is removed

[2015-05-02 13:12] soonhokong commented on #130
I agree with it. Thanks for the quick clarification!

[2015-05-02 14:54] gchabert commented on #128
En fait c'est juste la contrainte de bord qui était mal prise en compte

[2015-05-02 14:54] #128 closed

[2015-05-04 13:38] #130 closed

[2015-05-07 23:56] soonhokong opened #134 "CtcFwdBwd atan2 generates empty vector"
I'm using the develop branch. To test atan2, I wrote the following simple program:

[code]

The constraint is `z = atan2(1, 0)` where `z` is in `[-100, 100]`. I expected that it gives `z = pi/2`, but it gives an empty vector.

 - atan2(-1, 0) also gives an empty vector which is incorrect.
 - atan2(0, 0) gives [-pi, pi] which is OK.

[2015-05-19 20:49] gchabert commented on #134
Hi Soonho,
Yes, the atan2 contractor is not working. I already noticed this a couple of months ago (see https://github.com/ibex-team/ibex-lib/pull/91 but, sorry, part of the discussion is in French)... but the guy that has started developing this operator seems to have vanished away. I will fix that bug myself. Is it a critical bug for you (are you blocked)?
Gilles

[2015-05-20 00:46] msis commented on #134
The problem comes from using the degenerated `Interval(0,0)`.
With the same example but using an `Interval`with a width of the smallest representable double: `DBL_MIN`, it works just fine:
[code]
However, using `LDBL_MIN` which the smallest representable `long double` you will get an `EmptyBox`!
As the implementation of the how an `Interval` is represented is more in the field of @gchabert and @Jo

[2015-05-20 03:27] soonhokong commented on #134
@gchabert, this is not so urgent for me. I have some examples using `atan2` and wanted to test IBEX over them.

[2015-05-20 07:53] gchabert commented on #134
@msis : we should not confuse the atan2 with the "angle constraint". The atan2 function always produces an angle between [-pi,pi] so the backward operator should respect this convention.

[2015-05-20 09:46] gchabert commented on #134
OK, I've made a new implementation of atan2 and bwd_atan2 and now all the tests pass, including yours Soonho. I have also created unarity tests for the atan2 (see https://github.com/ibex-team/ibex-lib/commit/dcdaefc1d0b33c0b79b1a0907e0b77180edfed3d)
Gilles

[2015-05-20 09:46] #134 closed

[2015-05-20 09:46] #123 closed

[2015-05-20 14:24] soonhokong commented on #134
@gchabert, thank you! :+1:

[2015-05-20 14:48] benEnsta opened #136 "bug in qinter_projf"
The Q-Intersection for q = 1 of
X1 = [-2, 1]x [1,1]
X2 = [0,4]x[1,1]
X3 = [1,5]x[1,1]

must be [0,4]x[1,1] but qinter_projf returns *empty interval*

Example:
[code]

[2015-05-21 21:42] soonhokong opened #137 "Memory leak in Function class"
Could you take a look at this one?

Example Program
------------------------

[code]

Valgrind Result
--------------------

Option: `--leak-check=full` `--show-reachable=yes`
[code]

[2015-05-22 06:25] gchabert commented on #137
Yes, I'm aware about this memory leak with the "Variable" class and I don't really know how to circumvent right now... but you have two other options for building a Function which produce no memory leak. Either write::
	Function f("y", "x", "z", "z - atan2(y, x)");

or::
	const ExprSymbol& x=ExprSymbol::new_();
	const ExprSymbol& y=ExprSymbol::new_();
	const ExprSymbol& z=ExprSymbol::new_();

	Fun

[2015-05-22 06:44] gchabert commented on #136
I've sent a request to the author (Clément Carbonnel) on May, 22.

[2015-05-22 11:51] gchabert commented on #136
Benoit, tu as vraiment fixé le bug? (on peut le cloturer?)

[2015-05-22 14:57] benEnsta commented on #136
Oui, le test passe maintenant

[2015-05-22 15:18] gchabert commented on #136
Benoit, j'ai eu la réponse entre temps de Clément et je te copie sa réponse ci-dessous.
Je te laisse appliquer sa proposition de correctif si tu es d'accord.

A+
Gilles
===============================================================

Je suis en train de regarder, et sauf erreur de ma part le fix proposé n'est pas correct.

Par exemple, pour

IntervalVector X1(2); X1[0] = Interval(-2, 2); X1[1] = I

[2015-05-22 16:59] lcgutierrez opened #139 "CtcMohc fail when"
Hello,

I am getting a segmentation fault error when I try to contract this constraint. Here is the code:

      NumConstraint g("x","y","x^8 - 24*x^7 + 252*x^6 - 1512*x^5 + 5670*x^4 - 13608*x^3 + 20412*x^2 - 17496*x + 6561 - y =0");

        cout << g << endl;
        double init_box2[2][2] = {{3.9999,4.0001},{-10000000,10000000}};
        IntervalVector box2(2,init_box2);

        CtcMohc oc(g);

[2015-05-22 17:32] gchabert commented on #139
Hi Luis,
Thanks for reporting the problem. I've contacted the author of CtcMohc to see if he can bring quick support. I let you know.
Gilles

[2015-05-22 18:45] lcgutierrez commented on #139
I think that the main issue is when you repeat variables. For example: "x+y - 300 =0" will work, but it will not work when you have: "x^2+x+y-200=0 ". I tried to trace it back, and it seems that the issue is when evaluating by occurrence grouping (Function_OG()).
Hope it helps.

Luis Gutierrez

[2015-05-24 07:39] gchabert opened #140 "CtcAngle"
We need a contractor for the angle constraint:
Angle(x,y,t) <=>   exists r>0,  x=r*cos(t)  et y=r*sin(t),

The simplest way to do this is with the reformulation:
Angle(x,y,t) <=>  modulo(2pi, t, atan2(x,y)),

since we already have the atan2 and modulo operators.
However, forward-backward is not optimal because of the discontinuity of the atan2 function. Ex: [x]=[-2,-1], [y]=[-1,1] and [t]=[3,4]. S

[2015-05-24 12:17] msis commented on #140
I propose to have *directly* a `CtcPolar` as mentionned by Pr. Luc Jaulin, and letting the user set or not the `r`.

I think the implementation that I made of `Interval::bwd_atan2` was optimal but had a bug as mentioned in #123. But I saw how you did the new one and I think I know how to solve it know. But @Jordan08 should provide an example so we can test it.

Look forward for my next push for th

[2015-05-24 20:43] msis opened #142 "Bug in CtcPolar"
`CtcPolar` is not bug-free yet.
Pull-request #141 should be suspended.

[2015-05-25 20:38] #142 closed

[2015-05-26 06:30] gchabert commented on #139
Thanks for the indication
Gilles

[2015-05-26 14:52] gchabert commented on #136
Allo?

[2015-05-26 15:50] Jordan08 commented on #136
A l'huile?

[2015-05-27 06:25] gchabert commented on #136
OK j'ai fusionné et supprimé la branche.

[2015-05-27 06:25] #136 closed

[2015-05-27 06:43] gchabert commented on #139
Ignacio fixed it (currently in the "develop" branch, and in the "master" branch soon).
Gilles

[2015-05-27 06:43] #139 closed

[2015-05-27 06:49] gchabert opened #144 "New realease of GAOL (compatible 64bits!)"
Il y a une nouvelle release de gaol (la version 4.2.0) sur sourceforge. Elle utilise la version
2.1.0 de mathlib (aussi disponible sur sourceforge).

Cette version a été testée sur les plateformes suivantes:
- Linux 32 bits
- Linux 64 bits
- Mac OS X (Darwin) 64 bits

[2015-05-27 14:34] soonhokong commented on #137
@gchabert, thanks. I'll use the workaround.

[2015-05-27 14:34] #137 closed

[2015-05-27 21:24] soonhokong opened #145 "CtcPolytopeHull + min"
Please consider the following example:

[code]

When I use `CtcPolytopeHull` contractor, it gives the following result where `x1` is reduced to `[-10, -1]` :
[code]

I think it's not correct since it rejects a possible solution `x1 = 10, x2 = -10` for example. Interestingly, the dual constraint, `y <= max(x1, x2)`, does not prune the search space.

Here is the C++ code that I wrote:

[code]

FYI,

[2015-05-28 06:51] gchabert commented on #145
Fixed (in develop).
Thanks very much!

[2015-05-28 06:51] #145 closed

[2015-05-28 07:35] soonhokong commented on #145
@gchabert, thank you very much for the quick fix!

[2015-06-03 20:15] gchabert commented on #34
J'ai refait un test pour la release 2.1.14 et effectivement, c'est beaucoup mieux!

Au lieu de figer une vingtaine de fois, il ne fige plus que 2 ou 3 fois, en général en compilant les fichiers suivants:

- ieee/primitive.cpp
- interval/stdfun/filib_consts.cpp
- fp_traits/fp_traits_float_setup.cpp
- fp_traits/fp_traits_base_float_setup.cpp

Crois-tu pouvoir faire quelque chose?

[2015-06-03 20:55] gchabert opened #146 "Pb with new templates of Affine arithmetic"
Hi Jordan,
I'm trying to compile ibex under windows. The compilation works but when I try to link with ibex I get a "multiple definition" problem with the operator<< <ibex::AF_fAFFullI>(...).
It finds it in both ibex_Affine2_fAFFullI.cpp and ibex_ExprLabel.cpp.
Do you know why?
Gilles

[2015-06-04 05:54] Jordan08 commented on #146
Good question.....

[2015-06-04 21:56] gchabert commented on #9
@Jordan08, this issue has been automatically closed by your last commit. But I guess it is not over yet so I reopen it...

[2015-06-07 18:58] gchabert commented on #146
Salut Jordan,
Si tu n'as pas le temps de regarer ça rapidement, pourrais-tu remettre sur "master" l'ancienne version de l'arithmétique afinne afin que je puisse faire une nouvelle release d'Ibex?
A+
Gilles

[2015-06-07 19:18] Jordan08 commented on #146
Salut Gilles
Je regarderai ça dans 1 semaine.
Là je me prépare pour partir à Prague pour SWIM.
Je vais essayer de faire ça dès mon retour.
a+
Jordan

[2015-06-14 12:53] gchabert commented on #146
C'est réglé, il manquait des inline dans Affin2Main.h_.
C'est quand même assez ... lourd tout ce code inliné. Vraiment, j'aime pas les template! :-/
A+

[2015-06-14 12:53] #146 closed

[2015-07-09 02:49] soonhokong opened #147 "possible bug in fwdbwd contractor"
Hi, I'm using blessed/develop branch (92248a395dfee2871143b431b0ffc788ffafdd1c). I want to report a (possible) bug in fwdbwd contractor (or interval arithmetic?). Please take the following example

[code]

[code]

After pruning using fwdbwd contractor:

[code]

[2015-07-13 16:34] soonhokong opened #148 "a way to represent [-oo, -oo]?"
Dear IBEX team,

Is there a way to represent -oo using `ExprConstant` class? If I call `ExprConstant::new_scalar(-INFINITY)`, it will eventually call `interval::interval(double)` constructor which is defined at [here](https://github.com/ibex-team/ibex-lib/blob/master/src/arithmetic/ibex_Interval.h#L949-L951) which assigns an `empty` interval to it.

I also found that this is not the case for `DIRE

[2015-07-13 20:26] gchabert commented on #148
Dear Soonho,

No, there is no way to represent this constant using ExprConstant. The reason is that ExprConstant represents either a real or a subset of reals. And -oo is not a real number.
Maybe, if you explain why you need to represent -oo I could give you an idea to circumvent your problem.

You are right for DIRECT_INTERVAL, it is a bug.

Best regards
Gilles

[2015-07-13 20:42] gchabert commented on #147
Deer Soonho,

I cannot reproduce your bug.
When I run the following program:

	NumConstraint c("x1","x2","cost","cost = cos(x1^30 + x2^30)");
	IntervalVector box(3);
	box[0]=Interval(-100000, 100000);
	box[1]=Interval(-100000, 100000);

	cout << "box before=" << box << endl;
	CtcFwdBwd(c).contract(box);
	cout << "box after=" << box << endl;

I get:

	box before=([-100000, 100000] ; [-100000, 10000

[2015-07-13 20:42] soonhokong commented on #147
@gchabert, thank you. I'll double check my configuration.

[2015-07-13 20:48] soonhokong commented on #148
I have a user (of my tool) making a query such as `-inf <= x` which is trivially `true` but it gives `false` because of the mentioned issue. I think I can handle some special forms of constraints but in general I don't have an idea how to circumvent this issue when I get a constraint which includes infinity as a constant. It would be great if you can give me some ideas.

Best,
Soonho

[2015-07-15 14:09] Jordan08 commented on #148
Dear,
The new standardization of Interval Arithmetic  is just published here: http://standards.ieee.org/findstds/standard/1788-2015.html

According to it, the interval ```[-oo,-oo]``` and ```[+oo,+oo]``` must be represented by ```EMPTY```.
But, in some interval library the number ```+oo``` is not necessary ```+inf``` that can be ```DBL_MAX```
So your problem can come from this, perhaps?

For the b

[2015-07-16 08:13] gchabert commented on #148
@soonhokong
I'm surprised, I thought I left a message.
In my opinion, you should prevent the user from using constants like "-inf" in expressions. Imagine one writes "x=inf-inf?" You would be in trouble :-p
Otherwise, the only solution I see is that you pre-process the string in your tool and replace occurrences of "-inf" by something like "[-oo,-10^80]" (intervals are accepted in the syntax of Ib

[2015-07-16 13:41] soonhokong commented on #148
I like this solution (-inf => `[-oo, -DBL_MAX]`). Thank you for the advice!

[2015-07-16 13:41] #148 closed

[2015-07-23 20:01] soonhokong commented on #147
Dear @gchabert,

Colud you double check this issue? I can reproduce the problem on a fresh machine installed Ubuntu-14.04LTS.

Here is my setup:
 - use the current master branch cb0191c
 - using g++-4.8.4
 - configure: default one, `./waf configure`
 - use the above example (named it `cos.cpp`)
 - build: `g++ -frounding-math -ffloat-store -I/usr/local/include -I/usr/local/include/ibex -L/usr/local

[2015-07-24 09:05] bneveu opened #149 "perte optimum avec ART ou COMPO sur concon.nl et mconcon.nl"
L'optimum est perdu avec l'arithmétique affine pour les problèmes mconcon et concon.
l'optimum trouvé dépend de la graine du générateur aléatoire.
Ces problèmes comprennent des valeurs absolues : il pourrait donc y avoir un bug dans
le traitement des valeurs absolues avec l'aritmétique affine

avec art et graine 1
./optimizer-ampl ../benchs/benchs-optim/coconutbenchmark-library2/mconcon.nl hc4 art

[2015-08-06 10:08] nicolaje opened #150 "Boolean arithmetic vs set theoretic operations"
I find the operators of BoolInterval a bit misleading.

The operators &, | for BoolInterval define Boolean arithmetic (and, or) operations, while the operators &, | for Interval define set theoretic operation (intersection, union).
A BoolInterval being a set, it introduces an inconsistency in the Ibex syntax

Propositions:

- Move the current &, | operators to &&, || operators, and implement &, |

[2015-08-17 12:39] bneveu opened #151 "redescente du uplo pendant l'optim"
le uplo redescend  pendant l'optim pour le probleme hs111.nl , avec la stratégie par défaut (2 tas LB UB avec probabIlité 50%)

dans la 1er tas (LB), la valeur de l'objectif au  sommet du tas passe de [-407.3224131292543, -47.64013897648332] à
[-412.315067311457, -47.64013897648332]

ce qui est anormal

programme lancé avec
./optimizer-ampl ../benchs/benchs-optim/coconutbenchmark-library2/hs111.nl

[2015-08-18 05:46] soonhokong commented on #147
Dear @gchabert,

I think the problem is at https://github.com/ibex-team/ibex-lib/blob/master/src/arithmetic/ibex_filib_Interval.h_#L613-L615.

[code]

Obviously, we expect `p1 <= p2`. However, when `nb_period` is a huge interval such as `[-3.1831e+24, 3.1831e+26]`, this invariant doesn't hold. It's because there can be overflow/underflow in the process of type-castings from double to int. As a res

[2015-08-24 11:44] Jordan08 commented on #73
@benEnsta has made a first version of CMake.
That work on linux and windows with filib without linear solver.

see : https://github.com/benEnsta/ibex-lib/tree/full_CMake_install

[2015-08-24 14:54] gchabert commented on #150
@nicolaje: you are right. Thanks for noticing that and thanks for the propositions. I am OK with all of them. Fortunately, the BoolInterval operations have not been documented yet so the backward compatibility is not a serious problem for me (as a rule: everything that is not yet documented can potentially change).
Gilles

[2015-08-24 15:12] gchabert commented on #147
Dear @soonhokong
Sorry for the long answer, I was in vacations. Many thanks for having investigated the issue.
Since I cannot reproduce the bug in my computer can you try the following fix:

#include <climits>
...
if (nb_period.mag() > INT_MAX) return true;
int p1 = ((int) nb_period.lb())-1;
int p2 = ((int) nb_period.ub());
....

[2015-08-24 15:14] soonhokong commented on #147
Dear @gchabert,

Thank you for the comment! I've made a patch for the problem. Could you take a look at the code?

https://github.com/dreal-deps/ibex-lib/commit/40d048f7e443a89c18e970eb90da450291b710f2

I thought that this is a temporary workaround. But if you think this is OK. I'm happy to make a pull-request with the code.

[2015-08-24 15:16] gchabert commented on #151
Salut Bertrand, est-ce que tu comptes étudier le bug?

[2015-08-24 17:58] gchabert commented on #147
Dear @soonhokong. I've looked to your patch but, if I may, I prefer my solution.
The reason is that is it unlikely for an interval whose lower bound is greater than MAX_INT~1e9 to be contracted by a trigonometric function because if such interval represents a value with a relative error less than 1e-8, its with will be larger than a full period (2*pi).
Furthermore, even if the "long long" type is

[2015-08-25 08:23] bneveu commented on #151
Je vais regarder

[2015-08-25 10:58] soonhokong commented on #147
@gchabert, thank you for the points. I'll take your patch into my repo.

[2015-08-25 10:58] #147 closed

[2015-08-25 12:41] gchabert commented on #147
@soonhokong, I've fixed the bug in develop. Cheers

[2015-08-25 12:43] gchabert opened #152 "Merge redundant codes in artihmetic/"
Il y a beaucoup de code en double ou en triple dans l'implémentation des fonctions de base (bias, filib, direct). Il faudrait factoriser en utilisant sans doute des templates.

[2015-08-25 12:47] bneveu commented on #151
L'erreur semble bien être dans la gestion du double tas
une cellule de cout -419.0730095671903  mise dans le tas quand nb_cells = 3371 arrive en tête du 1er tas (LB)  quand nb_cells=5050, bien après que de
nombreuses cellules de cout supérieur ont été traitées.
En particulier, quand ce devrait être son tour  quand nb_cells=4018, la tête du premier tas passe de -419.113 à -419.0723
J'ai du mal à vo

[2015-08-25 14:30] bneveu commented on #151
C'est finalement assez systématique: cela arrive sur presque tous les problèmes ayant un nombre important de noeuds (> 1000).  Cela n'arrive jamais avec un seul tas (LB), ni dans l'ancienne version.
Bien que les résultats finaux n'aient pas l'air faux, je n'ai plus trop confiance dans la version actuelle
du double tas.
Il faudrait donc corriger ce bug ou revenir à l'ancienne version du double tas

[2015-08-25 14:52] Jordan08 commented on #151
Quand tu dis que cela marche avec un seul tas, tu as fait comment?
SEst ce que tu as remplacé simplement '''CellDoubleHeap''' par '''CellHeap'''?

Peux-tu regarder si elle marche en mettant comme le critère LB deux fois dans la structure  '''CellDoubleHeap''' ?

[2015-08-25 14:58] bneveu commented on #151
Non , j'ai laissé le double heap en mettant 0 dans critpr
seul le tas LB est utilisé dans le choix de noeud et le bug n'apparaît pas
Optimizer o(sys,*ctcxn,*bs,prec,goalprec,goalprec,samplesize,eqeps,0,0,CellCostFunc::UB);
au lieu de
Optimizer o(sys,*ctcxn,*bs,prec,goalprec,goalprec,samplesize,eqeps,0,50,CellCostFunc::UB);

[2015-08-25 15:05] bneveu commented on #151
Avec le 2ème tas aussi LB, le bug 'apparait pas
Optimizer o(sys,ctcxn,bs,prec,goalprec,goalprec,samplesize,eqeps,0,50,CellCostFunc::LB);

[2015-08-25 15:33] Jordan08 commented on #151
Bon du coup, ça doit venir de la syncro entre les tas pendant un ```contract```
Vu que l'on économise les modifications de structure, je pense que j'ai oublié un cas particulier.

Ce serait super si on pouvait avoir un test unitaire qui reproduit ce bug dans ```TestDoubleHeap```
:-D
Pour faciliter le debug, il faudrait peut-etre une fonction qui print un tas en html ou en latex.

Par contre cette

[2015-08-25 16:49] gchabert commented on #151
Je prends la main sur ce bug, je pense que Jordan tu as déjà pas mal de trucs sur le feu avec l'arithmétique affine.
A+

[2015-08-26 12:31] gchabert commented on #151
Je pense avoir fixé le bug. Jordan, il manquait une "percolation" vers le haut dans le cas de la suppression d'un noeud du tas... J'ai fait le test avec defaultoptimizer et ex2_1_9. Merci Bertrand de me dire si le problème continue de se reproduire sur tes benchs et de clore le bug dans le cas contraire.
Gilles

[2015-08-26 12:55] Jordan08 commented on #151
Jolie! Bien Vu!
En effet, c'est un gros oubli de ma part.
En remontant le dernier element, c'est possible qu'il atterisse dans une autre partie de l'arbre et que l'on doive le remonté (et non seulement le comme j'avais fait).

ça n'a pas du être facile à trouver. Super Gilles!

ps: j'ai discuté avec @benEnsta est il vient de faire un premier version du CMake qui marche très bien et en plus ça comp

[2015-08-26 13:08] bneveu commented on #151
C'est bon pour moi.  Je clos le bug

[2015-08-26 13:08] #151 closed

[2015-08-27 10:54] gchabert commented on #46
Je me permets de clôturer cette issue.

[2015-08-27 10:54] #46 closed

[2015-08-27 11:02] gchabert commented on #94
@bneveu: L'algo a une complexité en O(n^d) où n est le nombre de boîtes et d la dimension; ici n=614 et d=3, ce qui donne plus de 2 milliars d'itérations.
Es-tu sûr qu'il part en boucle infinie?  Ou est-il simplement très lent?

[2015-08-27 11:13] #127 closed

[2015-08-27 12:18] bneveu commented on #94
Il  s'agit d'un vrai bug.*
en imprimant cell dans la boucle on a

while (ind[0]>=0 && cell[d].ub()>ub0) {
			cout << "cell=" << cell << endl;

on obtient
cell=(<256, 256> ; <256, 256> ; <256, 256>)
cell=(<256, 256> ; <256, 256> ; <256, 256>)
cell=(<256, 256> ; <256, 256> ; <256, 256>)
cell=(<256, 256> ; <256, 256> ; <256, 256> ....

[2015-08-31 10:00] goldsztejn-a opened #153 "Newton on subsystems"
Remove Fnc

Replace by a Newton contractor on subset of constraints and subset of variables.

[2015-09-01 12:25] gchabert opened #154 "Function serialization"
A user asks for a serialization of a Function "object" (or to create a constructor with an "istream" in argument instead of a file name so that two processes can communicate Function objects directly).

A good solution seems to create a function:
  const char* Function::to_minibex()
that would return the Minibex code of the Function.

Note that the constructor with a string is not adequate (imposs

[2015-09-01 14:14] gchabert commented on #94
Non, ce n'était pas vraiment un bug: il y a en fait de nombreuses boîtes avec des bornes identiques sur cet exemple ce qui amenait la q-intersection à générer des cellules dégénérées et identiques. L'algorithme était donc très inefficace sur cet exemple mais il terminait.

J'ai améliorer le code pour qu'il y ait une élimination des doublons dans la génération de la grille. Le programme semble s'ex

[2015-09-03 07:46] gchabert opened #155 "C++-11 compatibility"
Ibex does not compile with C++-11 because of some problems with code on affine form (typically, initialization of static variables inside the class definition).
We should fix this but using only good old C.

[2015-09-03 08:07] bneveu commented on #94
Le comportement est en effet normal, mais cet algorithme est effectivement  très lent : il met plus de 60000s  à trouver les solutions de robust_estim3 sans avoir terminé
en comparaison avec l'algorithme qinterproj , qui résout robust_estim3 complètement en 22s :

[2015-09-03 08:07] #94 closed

[2015-09-03 09:13] Jordan08 commented on #155
This bug is already corrected in the branch [dev_affine](/github/ibex-team/ibex-lib/dev_affine)

[2015-09-03 14:21] gchabert commented on #155
OK, thanks, so I will close the bug when the branch is merged.

[2015-09-09 14:48] gchabert commented on #153
It's done (in develop).
Here is a usage example (I will insert this in the documentation if you think it is ok and fell free to re-open this issue otherwise):

[code]

[2015-09-09 14:48] #153 closed

[2015-09-09 15:56] bneveu opened #156 "branche beamsearch"
J'ai intégré le code d'Ignacio   sur l'optimiseur avec Beam search en créant une nouvelle branche à partir de develop.
Il est sous github dans la branche beamsearch

On peut maintenant avoir le double heap actuel , ou l'implantation d'Ignacio  qui permet plusieurs algorithmes variantes du branch & bound
avec en particulier feasible diving , qui donne les meilleurs résultats : ces algorithmes utili

[2015-09-14 08:19] gchabert opened #157 "remove main function in cliquer/cl.cpp"

[2015-09-15 13:09] bneveu opened #158 "mauvais résultats arithmétique affine au 2ème appel"
j'avais un code utilisant les résultats de eval_affine2 mis dans af.

Il ne marche plus maintenant, : dès le deuxième appel  af.val(1) et af.val(2)  valent 0 et non les bonnes
valeurs

exemple simplifié :
Variable v(2);
        Function f (v, 2*v[0]+ 4*v[1]);
	IntervalVector b0 (2);
	b0[0]= Interval(0,1);
	b0[1]= Interval(0,1);

	Affine2 af;
        Interval affine0 = f.eval_affine2(b0,af);
	cout

[2015-09-15 14:23] Jordan08 commented on #158
Merci @bneveu

L'arithmétique affine est en pleine refonte.
Il y a plein de bugs....
Faut netoyer le code, faire des vrai tests
En ce moment, je suis pris, mais dès que j'ai le temps, je refais le tout.

Entre ça et RelaxAffine à refaire, il y a un peu de boulot...
Désolé

[2015-09-15 16:16] bneveu commented on #158
En remplaçant Affine2 par AffineLin , ça remarche
Est-ce ce qu'il faut faire ? et pourquoi ?

([0, 1] ; [0, 1]) [-0, 6] 3 1 2
([0, 1] ; [0, 1]) [-0, 6] 3 1 2

[2015-09-15 16:21] Jordan08 commented on #158
oui c'est normal

En fait, AffineLin correspond àl'arithmetique affine que j'ai développé et qui marchait jusque là
Mais pour être plus cohérent avec les calculs arithmetique comme on l'entend habituellement, j'ai intégré l'arithmetique affine qu'a developpé Alexandre et Julien.
Mais je l'ai fait un peu vite et mal.... à ce que je vois

Du coup, pour l'instant tu peux utiliser AffineLin

Mais je d

[2015-09-15 20:01] gchabert opened #159 "Linking on MacOS give some warning messages "has no symbols""
/opt/local/bin/ranlib: file: src/libibex.a(ibex_Tube.cpp.3.o) has no symbols

/opt/local/bin/ranlib: file: src/libibex.a(ibex_AmplInterface.cpp.3.o) has no symbols

/opt/local/bin/ranlib: file: src/libibex.a(ibex_Backtrackable.cpp.3.o) has no symbols

/opt/local/bin/ranlib: file: src/libibex.a(ibex_SubPaving.cpp.3.o) has no symbols

[2015-09-15 20:02] gchabert commented on #159
Redundant with https://github.com/ibex-team/ibex-lib/issues/47

[2015-09-15 20:02] #159 closed

[2015-09-22 09:51] msis opened #160 "Deleting a pointer to an IntervalVector crashes."
Deleting an IntervalVector pointer is not handled as it should.

For instance, the following example always crashes:
[code]
with the following error:
[code]

The debugger then points to the *destructor* in `ibex_IntervalVector.h` :
[code]

[2015-09-22 20:04] msis opened #161 "using namespace std in a header..."
Please remove from the different header files the line :
[code]
It does create a lot of confusion in the programs...

Read this [stackoverflow thread](http://stackoverflow.com/questions/1452721/why-is-using-namespace-std-considered-bad-practice) for more info.

[2015-09-23 07:50] gchabert commented on #161
Yes, there should not be such declaration in header files.
To my knowledge this has always been respected so far but I am going to check that again right away.

[2015-09-23 08:02] msis commented on #161
It seems then that it is hanging [here](https://github.com/ibex-team/ibex-lib/blob/9e58d7a4441162683828b7961cd6e1ac59303459/src/tools/ibex_KCoreGraph.h) and [there](https://github.com/ibex-team/ibex-lib/blob/3917ee5f67971cb616ff9e57f13594e946cf0029/src/combinatorial/ibex_QInter.h) at least from a quick basic search :wink:

[2015-09-23 08:03] gchabert commented on #161
Yes, there was quite a lot of files in fact...
Its' done.

[2015-09-23 08:03] #161 closed

[2015-09-23 08:06] gchabert commented on #160
It's not a bug of IBEX, you are making a c++ programming error.
You are trying to destroy something that points on an object built on the stack.
Since objects on the stack are automatically destroyed by c++, the object will be destroyed twice, whence the crash.

[2015-09-23 08:06] #160 closed

[2015-09-23 08:08] #157 closed

[2015-09-30 13:32] benEnsta opened #164 "Bug in Predicate check_nb_var_pdc_list"
When a PcdAnd object is constructed, we have the following error
**T& ibex::Array<T>::operator[](int) const [with T = ibex::Pdc]: Assertion `i>=0 && i<_nb' failed.**

This is due to a wrong stoping condition in *check_nb_var_pdc_list*.
The size of the list must be checked before checking nb_var. And it is not the case.
[code]

[2015-09-30 14:19] gchabert commented on #164
Thanks Benoit, I've merged your pull request in develop.

[2015-09-30 14:19] #164 closed

[2015-10-01 09:05] benEnsta opened #166 "improve setVisitor interface"
When the _visit_ function of set is called, it can be useful to
- Call a pre function (_pre_visit_ for instance) before visiting nodes.
- Call a post function (_post_visit_) after.

For instance, with these functions, we can initialize or clean a _Vibes_ figure, set some properties and at the end re-size correctly the drawing area.

[2015-10-02 11:46] gchabert opened #168 "Floor/Ceil functions"
Asked by julien.garcia ·[AT] supmeca.fr
Allows to transform a continuous quantity into a discrete one inside an expression, ex:
y=floor(x)+1;

This would subsume the current "integer" constraint since we could also write

x=floor(x)

[2015-10-02 16:27] msis opened #169 "Paver does not catch NoBisectableVariableException"
The `Paver` class should catch the `NoBisectableVariableException` raised by the Bisector, just like the `Solver` class does.

[2015-10-04 10:09] gchabert commented on #150
OK, I've merged the pull request but I have changed your implementation because I prefer to keep pure enums for the moment. On problem I have to mix bool and  BoolInterval values (which is conceptually correct as a bool is nothing but a degenerated BoolInterval) is that the operators &, |, &=, |= have different semantics between bool and BoolInterval, and that there would  redundancy between the c

[2015-10-04 10:09] #150 closed

[2015-10-04 10:35] gchabert commented on #150
Note: I could not figure out what the "leq" and "geq" functions are supposed to do exactly, so I've commented them out for the moment.

I also realize that replacing the operators & and | by "inter" and "union" (as you suggested) will certainly circumvent the issue I was pointing out.

But I find that using a class is a bit heavy when we have only 4 possible values.
It's open to discussion.

[2015-10-04 11:44] gchabert commented on #166
What is the difference with calling these "pre_visit" and "post_visit" functions outside of the SetVisitor class?

[2015-10-04 11:49] gchabert commented on #169
Yes, right. But, just to let you know, the interface of Paver might completely change in the future (to conform with the "Set" structure).

[2015-10-04 13:29] benEnsta commented on #166
For instance, if you have several figures to save, you need to call each time
[code]
I think it is better to put these actions inside the visitor class.

[2015-10-04 13:52] benEnsta commented on #150
leq and geq are part of the original code of Luc as binary operator on BoolInterval. I have no example which uses them right now. I will ask Luc more detail about that.

About using a class, I needed this to bind BoolInterval class in pyIbex. But I can try to do that differently.

[2015-10-04 19:48] gchabert commented on #166
But why not just creating a function like

[code]

[2015-10-04 19:49] gchabert commented on #150
OK, thanks, so let's keep on using good ol' enums and let me know if something is wrong.

[2015-10-04 20:06] benEnsta commented on #166
I agree with you, these actions can be done outside, but with this solution, the set, the visitor, eventually specific parameters need to be also passed as arguments. This can become hard to handle.
On the contrary, all these things can be put together, and hided inside the visitor object. I think it is one of the advantages of using a visitor pattern

[2015-10-07 08:59] gchabert commented on #154
Done... but, the safe double->char* conversion is not properly handled for numeric constants.

[2015-10-07 08:59] #154 closed

[2015-10-07 15:11] gchabert commented on #154
The conversion is now safe with the rigourous serizalization mode.

[2015-10-26 02:35] soonhokong opened #172 "CtcFwdBwd doesn't set_empty when it's supposed to do it"
Dear IBEX Team,

Could you take a look at the following example?

[code]

After contraction, the box becomes `([0,0] ; [empty])`. However `is_empty()` returns `0`, which is a bug (I believe). I think a possible fix is adding the following line at https://github.com/ibex-team/ibex-lib/blob/master/src/function/ibex_HC4Revise.cpp#L53

[code]

[2015-10-27 17:45] gchabert commented on #172
Dear Soonho,
OoOps. Yes it was a bug ...  and a serious one!  :-(
Thanks for raising this issue and thanks for your fix... which was correct. I see that you are now quite mastering the code of Ibex!
Cheers.

[2015-10-27 17:45] #172 closed

[2015-10-27 17:59] soonhokong commented on #172
@gchabert, thanks for the confirmation and fix. I'm happy to help!

[2015-12-18 18:02] gchabert opened #173 "Max with empty_set"
According to Luc,
max(Interval(1,2), Interval.EMPTY_SET)
returns [1, 2] instead of EMPTY_SET.

The bug has been observed with Filib.

[2016-01-22 14:10] gchabert opened #175 "Set: pb with infinite domains"
When fwdbwd cannot contract domains with infinite bounds like with the following example:

[code]

The constructor stops with a NonBisectableInterval exception.
The corresponding interval should be marked as "MAYBE" instead.

[2016-01-25 10:48] nicolaje commented on #166
I propose the "visit_node" returns a boolean value that tells if deeper nodes should be bisected.
That would avoid visiting all the tree when we are interested in a fraction of the space only, thus benefiting from a log(N) complexity.

[2016-01-25 10:54] nicolaje opened #176 "Separator.contract : passing a vector of epsilon"
I have the use case where some variables should not be bisected, and / or the width threshold is not the same in every dimension when building a Set from a separator.

I propose a vector of epsilon is given as well as a vector of boolean values indicating whether a dimension should be bisected or not.

Later, it would be good if a custom Bisector could be passed to the Separator instead. Then we w

[2016-02-05 10:24] gchabert opened #177 "minibex() indices problem"
Indices have C-convention [...] instead of Matlab-convention

[2016-02-05 16:37] gchabert opened #178 "Dot product not accepted with row vectors"

[2016-02-05 16:43] #178 closed

[2016-02-22 20:44] SimonRohou opened #179 "sqrt() function returning negative result"
Extremely close to 0, but on the dark side...

`cout << sqrt(Interval(0.,1.)) << endl;`

Result:

I am using Filib library on a 64bits platform.

[2016-02-25 18:08] soonhokong opened #181 "IntervalVector::diff"
I think there is a problem in `IntervalVector::diff` function. Here is a testcode:

[code]

I expected the following output:

[code]

But, I get the following instead:

[code]

I thought that the relation `diff_i ⊆ v1` always holds, but here it's not the case with `diff 1`.

[2016-02-25 18:11] soonhokong commented on #181
I expected:
![screen shot 2016-02-25 at 1 10 29 pm](https://cloud.githubusercontent.com/assets/403281/13329319/38f1b2f8-dbc1-11e5-92e9-5bf6fe8143fd.png)

But it gives:
![screen shot 2016-02-25 at 1 10 36 pm](https://cloud.githubusercontent.com/assets/403281/13329326/3efe1de4-dbc1-11e5-8f3f-f500a6ab18ef.png)

[2016-02-25 19:16] soonhokong commented on #181
@gchabert, could you review this patch?

https://github.com/dreal-deps/ibex-lib/commit/35ee9598d52ff2a22a1bf72750e41a477f46d875

[2016-02-26 13:37] gchabert commented on #181
Dear Soonho,

You are right and your patch is correct! Many thanks for fixing this important bug.
Can you make a pull request ? (Or I can copy-paste your patch if you prefer)
Gilles

[2016-02-26 15:23] soonhokong commented on #181
@gchabert, thanks for reviewing the patch. I just made a PR.

[2016-02-26 15:25] #181 closed

[2016-02-27 14:02] Moisan opened #183 "release 2.1.17 was not tagged in git"
The [ibex download page](http://www.ibex-lib.org/download) talks about release 2.1.17, issued October 2015. However this release has not been tagged on git as can be seen on the [github release page on the project](https://github.com/ibex-team/ibex-lib/releases).

[2016-02-29 14:50] gchabert commented on #183
Dear Thierry,
Yes, it's my fault. A new release should be issued soon anyway. Do you need this tag?
If your are using git, the best is to be on the develop branch.
Gilles

[2016-02-29 14:59] Moisan commented on #183
It is mainly to keep the [Homebrew package](https://github.com/Homebrew/homebrew/blob/23d3d6ba77037e94252ff149dd3989e1bc4f87bc/Library/Formula/ibex.rb) up to date but if a new version is coming soon we can skip 2.1.17 and point directly to the new one.

[2016-02-29 15:33] gchabert commented on #183
OK, sorry for the inconvenience

[2016-02-29 15:33] #183 closed

[2016-03-03 11:46] #173 closed

[2016-03-03 12:37] SimonRohou commented on #179
Thanks!

[2016-03-17 15:22] bneveu opened #184 "transpose et minibex"
le code suivant ne marche pas et je ne comprends pas pourquoi
ci-joints les 2 fichiers C++ et minibex

il donne l'erreur suivante à l'éxécution

Syntax error near "transpose" line 2: unknown symbol

--------------------------------------------------------------------------------------------------------------------
#include "ibex.h"
using namespace std;
using namespace ibex;

 int main(int argc, ch

[2016-03-21 10:39] gchabert commented on #184
L'opération de transposition se note avec le symbole apostrophe, comme sous Matlab.
Il faut donc écrire:
tm= v* v';

(Note: il y a d'autres erreurs dans ton fichier minibex)

[2016-03-21 10:39] #184 closed

[2016-04-03 15:43] soonhokong commented on #27
Is there any update on this item? Is there a TODO list for this task? I'm interested in this task and want to contribute.

[2016-04-03 21:05] gchabert commented on #27
Hi Soonho,
That's great if you want to contribute. It's true that it is in the pipe for quite a long time now. Let me consult the other interested developers about this and I will give your more elements in a short delay.
Gilles

[2016-04-03 21:17] soonhokong commented on #27
@gchabert, thanks!

[2016-04-04 14:37] soonhokong opened #187 "possible use of uninitialized values in ibex_VarSet.cpp"
https://github.com/ibex-team/ibex-lib/blob/master/src/function/ibex_VarSet.cpp#L93-L107

At line 93, `shift` is defined without initialization. At line 103, its valued is compared to `-1`.

Please feel free to ignore them if they are intended behaviors.

[2016-04-06 17:36] gchabert opened #188 "[AMPL] waf clean fails"
Le plugin AMPL ne se désinstalle pas complètement quand on fait "waf clean".
Les fichiers disparaissent mais le répertoire "solvers" et ses sous-repertoires reste dans le répertoire de build (__build__/plugins/ampl).
Cela fait qu'un appel suivant à waf configure échoue (le fichier "configurehere" n'existant plus).

[2016-04-07 21:01] gchabert opened #189 "[ampl] incompatibility with --enable-shared"
This plugin seems not to be compatible with --enable-shared (because ampsolvers is installed as a static library I guess).

[2016-04-09 12:47] Jordan08 commented on #189
It should be interesting to use the last version of the interface of AMPL.
We can find it here:
https://github.com/ampl/mp

[2016-04-11 15:37] gchabert commented on #177
This is not a bug since both convention are actually valid in Minibex.

[2016-04-11 15:37] #177 closed

[2016-04-11 15:59] gchabert commented on #187
@soonhokong Thanks. Even if there was no danger, the code was clumsy at this point so it was the occasion to make it straight.

[2016-04-11 15:59] #187 closed

[2016-04-19 14:53] #13 closed

[2016-04-28 10:21] gchabert opened #195 "ExprDiff: fail case (simple function with matrix argument)"
Variable y(10,"y");
Variable x(2,4,"x");
Function f(y,x,-x[0][0]);
Function df(f,Function::DIFF);

[2016-05-11 13:49] gchabert opened #196 "[optim] should allow precision to be 0"
Currently only allowed for the precision on the goal variable.

[2016-05-13 12:40] gchabert opened #197 "Function: need constructor with (char** x, char* y) for arbitrary number of arguments"

[2016-05-22 19:24] soonhokong opened #198 "assertion failed in newton contractor"
Dear ibex team,

I had a problem in using `newton` contractor. Here is a small code:

[code]

When I execute a compiled binary, it throws an exception and the execution is termiated:
[code]

[2016-05-27 16:04] gchabert commented on #198
@soonhokong: thanks, it's fixed. (note: your box is outside the definition domain of the function, so the jacobian is now an empty matrix, the expected result).

[2016-05-27 16:04] #198 closed

[2016-05-27 17:33] soonhokong commented on #198
Thank you!

[2016-06-03 16:39] Jordan08 opened #199 "Trouble with Infinity"
The representation of the Infinity need to be clarify.

[-oo, -DBL_MAX]  must return EMPTY
[DBL_MAX, +oo]  must return EMPTY

What happens on a 32bit processor?
We should add some security

[2016-06-03 19:12] gchabert commented on #199
I disagree Jordan, [DBL_MAX,+oo] is not empty and never should be...
Cheers

[2016-06-03 20:17] Jordan08 commented on #199
If you want to represent a interval with a big umber and +oo, I agree.
But the problem is that Filib represent the interval [+oo, +oo] by [DBL_MAX,+oo]

For example, log([0,0]) = [-DBL_MAX,-oo]
But according the standard that should be [empty] ...

I think that we must be careful with this kind of interval. That can produce overflow.
What do you think?

[2016-06-06 09:19] gchabert commented on #199
@Jordan08 Can you clarify, because I see there are two possibilities:
1- Filib represents +oo by [DBL_MAX,+oo]
2- Filib considers that log(0) is a non-empty interval [DBL_MAX,+oo]
If 1/ is true, we have a problem. If 2/ is true, we can simply patch the log function of Filib to return the empty set.
Gilles

[2016-06-10 08:42] soonhokong commented on #198
@gchabert, do you think https://github.com/dreal-deps/ibex-lib/commit/59642a0a5e29d0f1d5f772894904291c4974b2d5 is an alternative/acceptable fix? Here, the logic is to set its Hansen matrix to be empty when a Jacobian is an empty matrix. Since `assert` is stripped in a release build, I wanted to find another way.

[2016-06-10 09:41] gchabert commented on #198
@soonhokong : Correct! Thanks.

[2016-06-10 11:32] soonhokong commented on #198
@gchabert, thanks!

[2016-06-10 12:25] gchabert commented on #198
Can you make a pull request?

[2016-06-10 12:26] soonhokong commented on #198
Sure. Do you want it to be based on `develop` branch? or `master`?

[2016-06-10 12:27] gchabert commented on #198
develop (in fact master only keeps track of the release)

[2016-06-10 12:30] soonhokong commented on #198
@gchabert, please review #200.

[2016-06-10 12:33] gchabert commented on #198
Thanks!

[2016-06-10 14:11] Jordan08 opened #201 "Subvector of Empty vector"
A subvector of an empty vector should be empty

[2016-06-10 18:41] gchabert commented on #201
Right! I fix that...

[2016-06-14 12:49] gchabert commented on #201
Same problem with cart_prod.

In fact, I am thinking now of representing an empty interval vector with all components set to the empty interval (not just the first one).

[2016-06-14 14:25] #201 closed

[2016-06-16 20:55] gchabert commented on #23
Fixed with https://github.com/ibex-team/ibex-lib/commit/75e6a574743b04a1dc68522141ba666ab90cf4cc

[2016-06-16 20:56] #23 closed

[2016-06-17 12:56] gchabert commented on #195
Works since commit https://github.com/ibex-team/ibex-lib/commit/dd25f8cdeb94c78529712f3f13f0f762d321bf24

[2016-06-17 12:56] #195 closed

[2016-06-17 14:13] #42 closed

[2016-06-19 16:34] ilovezfs opened #204 "slam1.cpp test throws DimException"
It seems there's been a regression between ibex-2.2.1 and 2.3.0. This does not affect HEAD^^ (b76d73b).

[code]

[2016-06-20 06:29] soonhokong opened #205 "unexpected results in fwdbwd contractor"
Dear IBEX team,

This is actually a question, but I think it might indicate a bug in the implementation so I open an issue here. Let's consider the following simple case:
[code]
Mathematically, we have `x = y + z`. It's worthwhile to note that we have `x = y + z` but **not** `x - y = z` in many platform-dependent floating-point systems. I think this FP peculiarity gives some problems.

 1. Let's c

[2016-06-20 13:36] gchabert commented on #204
@ilovezfs I cannot reproduce the problem with HEAD (which is also ibex-2.3.0).
Are you sure about this problem?

[2016-06-20 13:41] ilovezfs commented on #204
@gchabert pretty sure.
El Capitan: https://gist.github.com/ilovezfs/2fa7b0382b1c47770f805bbc76b8ec14
Yosemite: https://gist.github.com/ilovezfs/07c78e4812edca7ea468ce6f21e924e4
Mavericks: https://gist.github.com/ilovezfs/23b6562abce7ba4795c95e91b8f37a0f

Here's how it's built: https://github.com/ilovezfs/homebrew-core/blob/ff7cb08e4b3670ef54868896f61dfc59a1346aa0/Formula/ibex.rb

[2016-06-20 13:45] ilovezfs commented on #204
@gchabert By the way, it in particular seems unhappy with https://github.com/ibex-team/ibex-lib/blob/master/examples/slam/slam1.cpp#L37-L38

Changing that to (yes, goofy) x,dist(beacons[b],beacons[b])=d[t][b]); prevented it

[2016-06-20 15:38] Jordan08 commented on #199
Filib represent +oo by  [DBL_MAX,+oo]
I go the confirmation in the function "operator<<"
'''
else if (E && (x == interval<N,K,E>::constructIntervalNoChecks(FILIB_NINFINITY,-FILIB_MAX)) )
	os << "[ -INFTY ]";
else if (E && (x == interval<N,K,E>::constructIntervalNoChecks(FILIB_MAX,FILIB_INFINITY)) )
	os << "[ +INFTY ]";
'''

How to fix that??
- remove the possibilité tu construct the interval [-DBL

[2016-06-21 01:23] ilovezfs commented on #204
@gchabert any luck reproducing the issue? If not, I was wondering if it could be related to the particular set of options we're passing to configure.

[2016-06-21 14:19] gchabert commented on #204
@ilovezfs Yes, you are right. I can reproduce the issue now using the --debug option.
I am going to fix that.

[2016-06-21 16:09] ilovezfs commented on #204
@gchabert Awesome! I'm glad it wasn't too obscure :)

[2016-06-22 08:08] gchabert commented on #204
OK, fixed with https://github.com/ibex-team/ibex-lib/commit/1c882ef2a23486584dd72f8faae38b58b717475c
The new release is a bit more strict (a row vector expression cannot be passed as argument to a function expecting a column vector, except for constant vectors which have no "orientation"). Thanks for having posted the problem!

[2016-06-22 08:08] #204 closed

[2016-06-22 19:36] gchabert commented on #199
@Jordan08
No, in fact, the interval [DLB_MAX,+oo] is not +oo for Filib (fortunately), despite of what it displays.

If you run this:
[code]

You obtain :

[2016-06-22 19:36] #199 closed

[2016-06-22 19:39] gchabert commented on #199
@Jordan08 In fact, [DBL_MAX,+oo] is not [+oo,+oo] for Filib despite of what it displays.
If you run:
[code]
It displays as expected, 1.79769e+308.

[2016-06-22 20:11] gchabert commented on #205
Dear Soonho,
If 0.7 + 0.6353 does not exacty gives 0.0647 on FP systems, this may be due to the rounding error of addition but also to the fact that some of these values (like 0.7 for sure) are not exactly representable in binary base. So, when you create degenerated interval with these (incorrect) FP values, the equation x+y=z is not satisfiable and contraction will lead to the empty set as it sh

[2016-06-22 20:11] gchabert commented on #205
Dear Soonho,
If 0.7 + 0.6353 does not exacty gives 0.0647 on FP systems, this may be due to the rounding error of addition but also to the fact that some of these values (like 0.7 for sure) are not exactly representable in binary base. So, when you create degenerated interval with these (incorrect) FP values, the equation x+y=z is not satisfiable and contraction will lead to the empty set as it sh

[2016-06-23 18:48] soonhokong commented on #205
Dear @gchabert, thanks for the comment.

1. Indeed, the use of `Interval(7)/Interval(10)` solves the problem.

2. I've changed my application to parse numeric constants `c : string` into `[strtod_down(c), strtod_up(c)]`, and then pass them into IBEX. This solves my problem.

3. I'm wondering how IBEX parses numeric constants, does it also take this kind of conservative measure? The following examp

[2016-06-23 21:17] gchabert commented on #205
@soonhokong Yes, indeed, Ibex parsing of numeric constants is currently unsafe. This could be improved.

[2016-06-23 21:41] #205 closed

[2016-06-23 21:49] soonhokong commented on #205
@gchabert, thanks for the comment.

Here are a few points that I learned while working on the task (in my application):

 - In old versions of GLIBC (<= 2.16), `strtod` function [does not honor rounding mode](http://www.exploringbinary.com/visual-c-plus-plus-and-glibc-strtod-ignore-rounding-mode/). For instance, Ubuntu-12.04 is using an affected version of GLIBC variant.
 - As a workaround, I had

[2016-06-23 21:50] soonhokong commented on #205
As always, I'm very happy to learn a better technique if you know one.

[2016-07-04 08:40] benEnsta opened #208 "Compilation error with Visual Studio 2015"
When compiling ibex-lib with visual studio, the following error happened with the file lexer.cpp
_'isatty': identifier not found_  line 1788 [see on appveyor](https://ci.appveyor.com/project/benEnsta/ibex-lib/build/2.3.42/job/t40a7aahfm5wfsam/messages)

[2016-07-07 12:45] benEnsta opened #214 "Tests don't pass in master branch since last commit"
1: !!!FAILURES!!!
1: Test Results:
1: Run:  875   Failures: 4   Errors: 0
1:
1:
1: 1) test: ibex::TestExprDiff::apply01 (F) line: 141 /home/biop/Downloads/ibex-lib/tests/TestExprDiff.cpp
1: assertion failed
1: - Expression: sameExpr(dg.expr(),"(3*(2*(3*x)))")
1:
1:
1: 2) test: ibex::TestExprDiff::apply03 (F) line: 169 /home/biop/Downloads/ibex-lib/tests/TestExprDiff.cpp
1: assertion failed
1: - Ex

[2016-07-07 12:56] #189 closed

[2016-07-07 12:56] gchabert commented on #214
Yes, I got mixed up with the develop and master branches.
It's corrected.

[2016-07-07 12:56] #214 closed

[2016-07-07 14:20] sansolivier opened #215 "Infinite loop in ibwd"
The following problem happens when I run the optimizer on robot.nl...

Example code:

  double _box[][2]=
{{6746518849.1194171905517578125, 6746518851.2944488525390625} , {6746518849.1194171905517578125, 6746518851.707820892333984375} , {6746518849.1194171905517578125, 6746518851.51369571685791015625} , {6746518849.1194171905517578125, 6746518851.43162059783935546875} , {6746518849.119417190551757

[2016-07-07 16:06] sansolivier opened #216 "himmel16.bch and srcpm.bch : Segmentation fault"
System sys("./../benchs/benchs-optim/coconutbenchmark-library1/himmel16.bch");

and

System sys("./../benchs/benchs-optim/coconutbenchmark-library1/srcpm.bch");

[2016-07-08 16:20] Jordan08 commented on #2
There is to many problem to integrate this arithmetic.
Many particular case are raised as "unexcepted error".
So we need to check everything before to do something, nothing can be catch.

I leave for now.

Perhaps it should be better to interface:
- the last version of GAOL : https://sourceforge.net/projects/gaol/
- or the work of Marco Nehmeier : libieee1788
https://github.com/nehmeier/libieeep17

[2016-07-08 18:46] Greblys opened #217 "No option --enable-shared for java choco plugin in wscript"
I downloaded the Ibex for CHOCO and tried to run

          ./waf configure --enable-shared --with-jni --with-java-package=org.chocosolver.solver.constraints.real

And got this error:

          waf: error: no such option: --enable-shared

It seems there is issue with `conf.check_jni_headers()` as well because it doesn't have compiler loaded before the call?

During the build waf complains that th

[2016-07-08 19:03] Greblys commented on #217
Stupid me trying to install the plugin without the core. Probably notice in [installation instructions](http://www.ibex-lib.org/doc/java-install.html) that you need to install core before trying to install plugin would help for dummies like me.

[2016-07-08 19:03] #217 closed

[2016-07-09 08:43] gchabert commented on #217
@Greblys You're right. I've changed the installation instructions as you suggested

[2016-07-09 08:52] gchabert commented on #2
Yes :) https://github.com/ibex-team/ibex-lib/issues/144
Should we close this issue?

[2016-07-09 12:02] benEnsta commented on #2
And what about [Boost Interval] (http://www.boost.org/doc/libs/1_61_0/libs/numeric/interval/doc/interval.htm) ?

[2016-07-10 15:24] gchabert commented on #216
@sansolivier I cannot reproduce the problem (at least with the master branch). Can you update your code and try again?

[2016-07-11 07:43] Jordan08 commented on #2
Indeed, Boost can be a good idea. It seems to be easy to install (.exe on windows, apt-get on ubuntu, and .dmg on mac).
That work on:

-    x86-like hardware is supported by the library with GCC, Visual C++ ≥ 7.1, Intel compiler (≥ 8 on Windows), CodeWarrior (≥ 9), as long as the traditional x87 floating-point unit is used for floating-point computations (no -mfpmath=sse2 support).
-    Sparc hard

[2016-07-11 10:22] gchabert commented on #2
@Jordan08 SSE2 is a new processor instruction sets. It is supporter by gaol :-)
There is currently an engineer at LIRMM that works on updating the waf scripts for replacing the old 32-bits Gaol release (3) with the new 64-bits release (4).
Boost is a good alternative but I don't think it is more efficient. To my opinion, integrating another interval library is not a priority.

[2016-07-11 11:59] Jordan08 commented on #2
ok
But I start to think that it should be more interesting to remove waf and integrate CMAKE.

cmake seems to be more powerfull. You can easily generate .deb, .exe and .dmg for every plateform.
@benEnsta starts to do it. And I think it will be more benefit to spend time on a cmake script for GAOL.
no?

[2016-07-11 14:53] benEnsta commented on #2
I have a .deb version of ibex-lib with a ppa (still under test) to used with pyibex.
If you want you can try
[code]
This version is based on my branch with cmake with filib.

[2016-07-11 14:58] bneveu opened #218 "le plugin ampl ne fonctionne plus"
depuis la version 2.3, on ne plus faire de waf configure et de waf install avec with--ampl

 ./waf configure --with-soplex=/certis/3/neveub/RECHERCHE/soplex/soplex-1.7.2 --with-ampl --with-gaol= --prefix=. --with-affine --with-optim

il ya  les messages suivants dans waf configure
Configure the AMPL plugin
Checking for header asl.h                                                          : not fou

[2016-07-12 08:25] #216 closed

[2016-07-18 10:15] gchabert commented on #2
Guys, I am not skilled enough in build tools to decide. I let the engineer chose and he seems to prefer waf.
@Jordan08 : I don't think cmake is more powerful than waf because you can basically do everything you want with python scripts.

[2016-07-18 13:17] bneveu commented on #158
le bug ne se produit plus avec la nouvelle version de Affine2 sous develop
Je ferme ce bug.

[2016-07-18 13:17] #158 closed

[2016-07-18 14:36] Jordan08 commented on #218
The bug is in dtoa1.c in amplsolvers.tar.gz
There is some trouble when "No_dtoa" is defined.

[2016-07-18 15:08] Jordan08 opened #219 "System: trouble with copy and reformulation"
[code]

with this file
[code]
[ex1.nl](https://www.dropbox.com/s/sfr91y31c842w5x/ex1.nl?dl=0)

return

[code]

[2016-07-18 15:17] bneveu commented on #45
Bug ne se produisant plus dans version 2.3 develop
/home/bertrand/ibex/ibex2-2/ibex-lib/examples/ibex2-3/ibex-lib/examples> ./optimizer04 ../benchs/benchs-optim/coconutbenchmark-library1/bearing.bch acidhc4 art smearsumrel 1.e-6 1.e-6 100
 best bound in: [1.95106593737,1.95106630492]
 Relative precision obtained on objective function: 1.88384275733e-07  [passed]  1.00000000001e-06
 Absolute precis

[2016-07-18 15:17] #45 closed

[2016-07-18 15:40] bneveu commented on #40
bug ne se produisant plus en version 2.3 develop.

[2016-07-18 15:40] #40 closed

[2016-07-18 16:16] gchabert commented on #218
Maybe an indication....
I finally managed to reproduce this problem by using simultaneously --with-affine and --with-ampl.
So the bug is possibly related to the combination of these two plugins

[2016-07-18 16:19] gchabert commented on #218
Maybe an indication...
I finally managed to reproduce this problem by using "--with-optim" and "--with-ampl" simultaneously.
So the problem is possibly related to the combination of these two plugins.

[2016-07-18 16:24] gchabert commented on #219
I get this output:

  ``begin
  dummy: jacdim: got M = 0, N = 0, NO = 0``

And the program exits. Something seems to go wrong inside the constructor of AmplInterface.

[2016-07-19 15:39] gchabert opened #220 "Operator[] on functions confusing"
Currently, if f is a n_m matrix-valued function, the components of f are the n_m entries.
We would expect f[0] to be the first row, not the entry (0,0).

The code is easy to change but we may lose memory optimization. E.g, building the function f:x -> eye(10) will actually build only 11 functions (the diagonal entries + one null function) whereas introducing each row function will lead to 30 funct

[2016-07-28 09:06] #208 closed

[2016-08-10 14:55] Jordan08 commented on #219
I found the problem.
That come from SystemFactory. It is impossible to generate two systems with one systemfactory.

To cope with this problem, I add the possibility to add an variable with an initial box in SystemFactory.
Now, "box" in System is initialized and copy to NormalizedSystem and ExtendedSystem.
see the branch hotfix-219

[2016-08-11 10:13] bneveu opened #222 "intervalle vide avec évaluation affine"
L'évaluation affine renvoie un intervalle vide dans certains cas de division par un intervalle contenant 0.
Voici un petit exemple  qui donne à l'éxécution

eval naturelle[0, inf]
 eval affine  [empty]

alors que l'ancienne version de l'arithmétique affine donnait bien [0, inf] pour l'évaluation affine.
-----------------------------------------------------------------------------------------------

[2016-08-12 11:58] Jordan08 commented on #219
Another thing I had changed.
The goal of an extended system was NULL.
I change it to a function with the variable __goal__

[2016-08-28 21:16] gchabert commented on #215
OK. Note: does not happen with gaol. The problem comes from my implementation of bwd_cos.

[2016-08-29 10:40] bneveu opened #223 "configure avec with-soplex et with-debug"
en mode debug , configure n'arrive pas à trouver soplex
/waf configure --with-soplex=/certis/3/neveub/RECHERCHE/soplex/soplex-1.7.2 --with-gaol= --prefix=. --with-optim --with-affine --with-debug

Candidate directory for lib Soplex                                                 : /certis/3/neveub/RECHERCHE/soplex/soplex-1.7.2
Checking for header soplex.h

[2016-08-29 12:04] gchabert commented on #219
Hi Jordan

OK ! but several remarks:
- Is the function of SystemFactory:

  ```void add_var(const Array<const ExprSymbol>& a, const Array<const IntervalVector>& init_boxes);```

  really useful? I would comment it out for the moment
- Please, remove the constructor

  ```System(const AmplInterface& ampl)```

  as we have to avoid as much as possible a function in the kernel which is plugin-depende

[2016-08-29 12:26] Jordan08 commented on #219
Hi Gilles

- Is the function of SystemFactory:

  ```void add_var(const Array<const ExprSymbol>& a, const Array<const IntervalVector>& init_boxes);```

  really useful? I would comment it out for the moment

ok as you prefer. It was my first iteration ;-) . I thought that it could be interesting to add a vector of variable with a vector of initial boxes. But I did not use it after all.

- Please,

[2016-08-29 12:34] gchabert commented on #219
Good point... I think you are perfectly right. But one issue is memory consumption, a system being heavy. Maybe, we can imagine shared data structure even if it is something I banished so far with symbolic data. I have to think more. Thanks for the suggestion.

[2016-08-29 12:46] Jordan08 commented on #219
You're welcome :-)
Like you, I do not think that shared data structure is a good idea. I don't feel it.
Perhaps, a heavy system is a good compromised. But, maybe,  we should  banished copy of system...

Great minds think alike :-p
See you

[2016-08-30 15:13] #222 closed

[2016-08-30 15:45] #218 closed

[2016-08-30 15:59] #219 closed

[2016-09-06 16:46] gchabert opened #228 "Diff error"
diff of ([-1, -1] ; [-1, 1] ; [-1, 1]) and ([0, 2] ; [0, 2] ; [0, 2]) gives:

([-1, -1] ; [-1, 0] ; [-1, 1])
([-1, -1] ; [0, 1] ; [-1, 0])

[2016-09-06 16:50] gchabert commented on #228
This is due to the fact that the first interval is degenerated. If I slightly enlarge it, the answer is correct

[2016-09-06 17:32] #228 closed

[2016-09-09 13:09] gchabert opened #229 "PdcHansenFeasibility: suspicious line"
Line 52:

	for (int i=0; i<m; i++) _vars.add(pc[i]);

The "m" should be "n" ?

[2016-09-13 08:22] bneveu commented on #149
bug fixé avec nouvelle version de l'arithmétique affine

[2016-09-13 08:22] #149 closed

[2016-09-13 12:23] Jordan08 commented on #149
Je rêve où il n'y a plus de bug "trouvé" sur l'arithmétique affine :-)
C'est super

[2016-09-30 10:38] cprudhom opened #230 ""./waf configure --with-jni" returns no such option"
The same goes with "--with-java-package=...".

I can't install Ibex-2.3.1 with JNI anymore.

[2016-10-01 10:17] gchabert commented on #230
Hi Charles.
Since release 2.1, the JNI interface of Ibex is a plugin. Did you install the Java plugin?
Note: very simple: just uncompress the ibex-java.tar.gz file (available on the [download] (http://ibex-lib.org/download) page) in the plugin/ folder of Ibex and try to run again waf configure with the --with-jni option.
Gilles

[2016-10-01 10:23] gchabert commented on #229
no

[2016-10-01 10:23] #229 closed

[2016-10-03 07:41] cprudhom commented on #230
I didn't, but now it works like a charm.
Thank you.

[2016-10-03 07:41] #230 closed

[2016-10-03 08:20] gchabert commented on #230
You're welcome ;)

[2016-10-11 22:15] gchabert commented on #223
Petit complément de la part d'Antoine Marendet...
" Je crois que le problème viens du fait que l'installateur fait l'équivalent d'un
#define DEBUG 1
et que dans le fichier spxout.h (de Soplex), il y a une enum qui contient la constante DEBUG (ligne 77). D'où le conflit."

[2016-10-13 08:03] Jordan08 opened #231 "Copy of DoubleHeap, Cell and Backtracable"
Hi, I propose in this new branch so new improvement of the kernel of Ibex:
- Copy of DoubleHeap
- Copy of all the backtracable class
- Copy of Cell
- Bisect directly a Cell with a Bisector
- Remove EmptySystemException
- All the Optimization method heritate from theclass Optim to standardize the exit flag and the trace

All this improvements have been necessary to develop the MinMax branch

[2016-10-13 11:40] Jordan08 commented on #231
remark:
- the copy of DoubleHeap and Heap is a deep copy.
- the destructor of DoubleHeap and Heap deletes the nodes and the stored data.
Perhaps, that should change, isn't it?

[2016-10-18 07:42] cyrilbouvier commented on #223
Le problème est reglé par le commit 2854b01  dans la branch Gaol4 (pull request #221)

[2016-10-18 09:02] cyrilbouvier commented on #223
J'ai aussi commiter dans la branche develop (voir commit 390c10c)

[2016-10-18 15:44] Jordan08 commented on #231
I fix this
Now, DoubleHeap<T>(const DoubleHeap& d) copy only the structure
To copy all the elements, we use "deepcopy()"

[2016-10-26 09:33] ThomasLeMezo opened #233 "atan2 issue with infinity"
There seems to be an issue with atan2 dealing with infinity.
Example:
[code]
A first trial correction could be implemented like below:
[code]

[2016-10-27 09:26] gchabert commented on #233
Hi Thomas,
Thanks for reporting the bug and the fix. For homogeneity reasons, can you replace in your code a test like std::isfinite(x.lb()) by x.lb()==NEG_INFINITY (and similar with POS_INFINITY) and then, make a pull request?

 I will integrate your patch on the master branch.

Gilles

[2016-10-27 09:26] gchabert commented on #233
Note: I meant x.lb()!=NEG_INFINITY

[2016-10-27 09:34] gchabert opened #234 "Diff variant"
Because intervals are closed in Ibex, the "diff" function actually returns the closure of the difference and uses a compact representation for that, which means that [0,2] is a correct answer for [0,2] \ [1,1].

But we are losing an information in this case, namely, that the (exact) difference actually yields two intervals. A suggestion by Soonho Kong is returning {[0,1],[1,2]} which is a nice tri

[2016-10-27 09:35] #223 closed

[2016-10-27 10:42] Jordan08 commented on #231
Problem in ibex_Heap.h : The copy is actually a deepcopy.
I will fix it

[2016-10-27 15:37] #233 closed

[2016-11-16 17:44] SimonRohou commented on #179
I reopen the issue:
[code]
Result:

I am using Filib library on a 64bits platform.

[2016-11-16 18:17] gchabert commented on #179
ok thanks. I am not sure that this simple fix will cope with all issues of filib implementation of sqrt, but we will see...

[2016-11-16 18:17] #179 closed

[2016-11-28 16:05] schvarcz opened #238 "Solver is not exposing the entire bisection process"
The bisection process is working just fine. But if you want to access the bisections to draw in VIBES or any other propose, the "iterate mode" is hidden some levels, since each iteration runs until a NoBisectableVariableException be reached.

I propose to implement a visitor pattern as the one in Set.

[2016-12-06 16:44] gchabert opened #241 "Minibex: CRLF characters not recognized"
Minibex files with CRLF characters (Windows encoding) are not recognized.

[2016-12-07 16:23] gchabert opened #242 "Minus operator does not work with vector/matrices"

[2016-12-07 19:54] gchabert commented on #241
Fix in https://github.com/ibex-team/ibex-lib/commit/8c35a8b86cf174a371c596c51ab7d7af490e5a88
(bad issue number in comment)

[2016-12-07 19:54] #241 closed

[2016-12-07 21:24] #242 closed

[2016-12-07 23:23] gchabert opened #243 "script hack to set WITH_AFFINE variable with affine-extended removed"
I am going to remove the following lines in the plugins/wscript:

``if (conf.options.WITH_AFFINE_EXTEND):
	conf.options.WITH_AFFINE =True``

because if the affine-extended plugin is not installed, these lines make the script crash.

I have tried to replace the test by something like
``if 'WITH_AFFINE_EXTEND' in conf.option.keys()``
but it does not work neither.

I really think that this kind of ha

[2016-12-08 11:33] amarendet opened #244 "Function in NumConstraint should be const"
The `ibex::Function& f` component of `ibex::NumConstraint` is not `const`.

It should be `const` because from the point of view of the user, `ibex::NumConstraint` never modifies the function.

[2017-01-13 19:59] gchabert opened #245 "[minibex] Constants in function is not working"
This leads to parse error:
[code]

This leads to seg fault:

[code]

[2017-01-25 17:04] gchabert opened #246 "Gradient problem with vector/index"
The following code :
[code]

gives (0,0) instead of (1,0).

[2017-01-25 22:41] #246 closed

[2017-01-27 08:11] gchabert opened #247 "Another gradient problem with vector/index"
This gives (0,0) instead of (1,1):

[code]

[2017-01-27 08:58] #247 closed

[2017-01-31 20:03] Jordan08 opened #248 "Bug in Tan with Filib"
With Filib:
tan(Interval(-Interval::PI.lb()/2,3*Interval::PI.ub()/8)) return a empty interval.
????

[2017-01-31 20:24] Jordan08 commented on #248
it is with this interval:
tan( [-1.57079632679489678, 1.1780972450961728626] )

[2017-02-01 07:30] #248 closed

[2017-02-07 07:54] gchabert opened #250 "[minibex] forgetting "s" to "variables" provokes seg fault"
A nice syntax error should be issued.

[2017-02-10 08:32] gchabert opened #251 "Settings not properly handled"
"ibex_Setting" should be included in every header.
In the class SharedHeap, for ex, it is currently not included. This makes on some platform (Mac+clang) assertions to be executed even in non-debug mode. And the produce check_heap significantly slows down execution.

[2017-02-10 14:18] gchabert commented on #251
No, the NDEBUG variable is set directly by the compiler

[2017-02-10 14:18] #251 closed

[2017-03-02 13:21] JiiTee opened #252 "Windows 10 installation with Choco 4"
I have been unsuccessfully trying to use choco RealVar's on Windows 10 (64-bit) and choco (4.00, 4.01, 4.02).  I'm using 32-bit VM, java 8. Loading Ibex seems to work. But after that, a (the first) native call to Ibex fails.

Would it be possible to get Ibex Windows binaries that are known to work?
This would help to eliminate possible build errors made by me.

Is there anyone using choco 4 with I

[2017-03-08 08:49] gchabert commented on #252
Juha, I don't have access to this Google group. Can you give details here about the way you have installed Ibex and the precise error message you get when Ibex is called.
Gilles

[2017-03-08 08:50] gchabert opened #253 "Ibex 64 bits on Windows"
A 64-bits version of MinGW exists. Ibex should be compiled in 64 bits now under Windows.

[2017-03-09 07:59] JiiTee commented on #252
Thank you Gilles!

My run configuration uses 32 bit jre and it loads the library OK as seen by the debug run below: the first screen shot is past loading Ibex. The failing native call is in the second debug screen shot.

Example program:

package chocoPropagationTest;

import org.chocosolver.solver.Model;
import org.chocosolver.solver.variables.RealVar;

public class ChocoMinimalReal {

    public

[2017-03-13 09:38] #245 closed

[2017-03-13 09:40] gchabert commented on #250
Fixed with https://github.com/ibex-team/ibex-lib/commit/d0f514d2827b8c446a001a54a70b139c10c6a2dd

[2017-03-13 09:40] #250 closed

[2017-03-14 13:27] gchabert opened #254 "LinearRelaxXTaylor not compatible with vector constraints"

[2017-03-15 12:37] gchabert opened #255 "Missing CPLEX path in the cflags of ibex.pc"
When we try to compile an example with Cplex, the -I[soplex-path]/include is missing.

[2017-03-15 15:09] gchabert commented on #252
Dear Juha,
It seems you did everything well!

I send you binary files to see if it works this way.

Gilles

[2017-03-16 07:45] gchabert commented on #34
Problème qui semble s'être réglé tout seul (avec la dernière version de MinGW)

[2017-03-16 07:45] #34 closed

[2017-03-16 07:47] gchabert commented on #5
Fixed in https://github.com/ibex-team/ibex-lib/commit/a7294878672fa92c5a6b368fd6e0da363aa5029b

[2017-03-16 07:47] #5 closed

[2017-03-30 13:45] gchabert opened #257 "[ibex 2.4] compilation under MinGW"
@cyrilbouvier

Lorsque j'installe ibex avec le plugin optim, le configure échoue.

Ce qui est étonnant est que l'échec se produit au moment du configure de gaol (alors que cela devrait logiquement être indépendant de la présence d'autres plugins).

Ce qui est plus étrange est que l'erreur n'est pas toujours la même.

    Parfois, c'est un problème de droit en écriture:
    configure: error: write

[2017-03-30 14:49] #93 closed

[2017-03-30 15:17] cyrilbouvier commented on #257
@gchabert
Je vois pas comment cela peut avoir un lieu avec le plugin optim. Est-ce que tu peux m'envoyer un config.log pour pour un ./waf configure sans "--with-optim --optim-lib=..."

Cyril

[2017-03-30 18:12] gchabert commented on #257
Je confirme finalement que ça n'a pas de lien, je viens d'obtenir le même problème sans "--with-optim --optim-lib=..." et je te joins le config.log (extension changée en .txt pour github).
[config.txt](https://github.com/ibex-team/ibex-lib/files/883377/config.txt)
Je remarque une chose: si je quitte msys et que je le relance, je n'ai jamais de problème (je parle sans l'option --with-optim).

Gille

[2017-04-04 14:07] gchabert commented on #257
Bonjour Cyril,

Pourrais-tu faire le petit test suivant très simple qui permet, je pense, de révéler le même type de problème et semble se reproduire de façon systématique.

Peux-tu ajouter cette simple déclaration:

``  #include <stdio.h>``

dans le fichier `gaol-4.2.0/gaol/gaol_interval_sse.h` juste après la ligne

``  #define __gaol_interval_sse_h__``

Cela devrait être indolore. Mais lorsque j

[2017-04-05 07:24] cyrilbouvier commented on #257
Bonjour Gilles,

Cela ne change rien sur AppVeyor. Le configure et make de Gaol fonctionne toujours.
Au vu des logs que tu as envoyé, on dirait un problème de droits d'écriture. Est-ce que tu as changé récemment ta config MinGW ?

Cyril

[2017-04-06 11:18] gchabert commented on #257
Salut Cyril,
Je n'ai installé qu'une seule fois MinGW sur cette nouvelle machine. Je viens également de retester en éxcécutant msys en mode administrateur, mais cela ne change rien. Tes scripts python fonctionnent très bien sous Linux, ce qui pourrait faire croire à un bug de MinGW; mais paradoxalement je n'ai jamais eu ce problème avec les anciens scripts sous MinGW.
J'insiste sur le fait que le

[2017-04-06 15:32] cyrilbouvier commented on #257
Gilles,

Quelle est la version de Windows sur cette nouvelle machine ? de mingw-w64 ? de msys ?

Est-ce que la commande 'find .' marche dans le répertoire où tu exécutes ./waf ? dans __build__/3rd/gaol-4.2.0 ? Et qu'affiche la commande 'ls -la __build__/3rd' ?

Est-ce qu'un fichier config.status existe dans le répertoire __build__/3rd/gaol-4.2.0 après l'erreur ? Si oui, que contient-il ?

Est-ce q

[2017-04-07 06:04] gchabert commented on #257
Cyril,

Windows 10.

Attention, il s'agit là de MinGW (pas de MinGW-64, dont l'installer ne fonctionne toujours pas). Il semble que j'aie la version 5.3 de MinGW et la version de msys livrée avec.

Oui pas de souci. Voilà le résultat:
[find.txt](https://github.com/ibex-team/ibex-lib/files/904641/find.txt)

Egalement

Résultat:
[build_3rd.txt](https://github.com/ibex-team/ibex-lib/files/904643/buil

[2017-04-07 07:14] gchabert commented on #257
Cyril,

Je viens de tester la compilation avec le plugin optim (mon problème initial) mais en utilisant filib: aucun problème. Il y a donc bien un petit souci dans le script du plugin gaol.

A+
Gilles

[2017-04-21 14:31] cgd8d opened #258 "Memory leak in ExprDomainFactory<D>::__visit_XXX"
The functions ExprDomainFactory<D>::__visit_XXX (inherited from ExprDataFactory, for example, __visit_0ary) call ExprDomainFactory<D>::init, which allocates a new TemplateDomain<D>.  These new objects are then stored by __visit_XXX in the Array data->data using the set_ref function.

However, Array does not take ownership of its members.  (It never deletes the entries of Array::array, just the arr

[2017-04-21 15:17] gchabert commented on #258
Thanks for the post.
The ExprTemplateDomain destructor is supposed to clean everything up.
Are you sure ?

[2017-04-21 23:03] cgd8d commented on #258
Hmm ... I'm sure that Intel Inspector reported a memory leak.  Specifically, it reported that memory allocated in TemplateDomain::build was leaked, and the stacktrace passed through ExprDomainFactory::__visit__0ary.  I though I had located the issue here, but looking again at the code, what you say should be true.  I will add some instrumentation and see if I can pin this down better, but in the m

[2017-04-23 14:50] gchabert commented on #258
OK. Feel free to re-open the issue if the leak finally turns to be real. I may have missed something.
Gilles

[2017-04-23 14:50] #258 closed

[2017-05-05 10:57] gchabert commented on #144
Done! https://github.com/ibex-team/ibex-lib/commit/79cdc9146fe66d6c8f2b56f9c7b17a60a18c9e5d

[2017-05-05 10:57] #144 closed

[2017-05-10 08:40] gchabert commented on #254
One step would be to replace all occurrences of
```sys.ctrs[ctr].f.gradient(sys.box,G);```
by
```sys.f[ctr].gradient(sys.box,G);```
but this has the disadvantage of generating the expressions for all components of f.

To be clarify when the plugin is refactored

[2017-05-11 06:21] gchabert commented on #257
Cela peut finalement se produire aussi avec Filib.
Le problème vient toujours du fait que le script configure n'arrive pas à écrire le fichier config.status.
Cela provient peut-être d'un bug de MinGW sur la création de fichiers temporaires (tmpfile()).

[2017-05-12 17:03] gchabert commented on #253
The installer seems buggy up to now, see
https://sourceforge.net/p/mingw-w64/bugs/558/
(last post is in March 2017)

[2017-05-14 09:09] ilovezfs opened #260 "Building 2.4.1 --with-affine leads to failure of Homebrew test block"
Tested on OS X 10.11 with 2.4.1.

Full build log is here: https://gist.github.com/ilovezfs/1b87a7039aaf9414ed4b7b26b07206c8

The error is
[code]

This does not occur if I leave out the `--with-affine` option.

[2017-05-15 07:19] cyrilbouvier commented on #260
Hello,

- Do you start from a clean directory ? From the logfile, it seems that not everything is being compiled (cf lines starting with '[  */162]'). You can do './waf uninstall distclean' to start from a clean state.

- What are the tests that are running ? The new test framework should be called with './waf utest' (once './waf install' is finished).

Cyril

[2017-05-15 07:23] ilovezfs commented on #260
These tests are run after everything is already installed and the build environment has been scrapped.

The tests are installed here: https://github.com/Homebrew/homebrew-core/blob/master/Formula/ibex.rb#L44-L49

The tests are run here: https://github.com/Homebrew/homebrew-core/blob/master/Formula/ibex.rb#L52-L69

[2017-05-15 07:52] cyrilbouvier commented on #260
I am not familiar with Ruby, but it seems the code do not use directly the flags provided by pkg-config, am I correct ?
In this case, the tests may be broken due to the fact that the paths to the 3rd-party library and include files have changed between the two releases.

One way to fix it is to use the flags provided by pkg-config.

What are the purpose of those tests ?
Can you try to run './waf u

[2017-05-15 08:08] ilovezfs commented on #260
I commented out the part that replaces the pkg-config calls to rule that out.

They're intended to make sure what we've packaged in the bottles (the binaries we distribute) actually works. They're not only run during the formula's CI, but also during CI for pull requests changing any of the run-time dependencies to avoid accidentally breaking the existing bottles.

So if you could suggest an appro

[2017-05-15 08:28] gchabert commented on #260
Hello,

@ilovezfs. Thanks for reporting your problem. I don't really understand your last answer: do you consider that unit tests of Ibex have been made upstream or not? If not, use "waf utest" instead. I could not reproduce your problem (I've run "waf configure" exactly like you and compiled "solver02" withtout problem) so, probably, Cyril is right.

Other point: do you really need to distribute

[2017-05-15 08:37] ilovezfs commented on #260
The assumption is that upstream CI has already run the unit test suite. The `test do` block is an integration test make sure what we've packaged isn't horribly broken and to catch regressions. In this case, for 2.3.4 the test block runs fine; for 2.4.0, it does not.

Here's the output from waf utest: https://gist.github.com/ilovezfs/a93d242e9c9f7294c95cd64cf0734e49

Nope. It's just the way it's be

[2017-05-15 08:45] ilovezfs commented on #260
If I downgrade cppunit from 1.14.0 to 1.13.2, then the output is https://gist.github.com/ilovezfs/0614bc4293b51036d3fc4f016fb994f8

So looks like your CI will break as soon as you upgrade cppunit to 1.14.0, which is the current version in homebrew/core.

Also there is the test failure for the `--with-ensta-robotics` (Is that option broken? Should we drop it?) so I'll try again without that.

[2017-05-15 08:49] gchabert commented on #260
@ilovezfs
Yes, your former version of cppunit seems to require c++11 flag which is not activated in our current python script.
I definitely invite you to drop all the non-official plugins.
Gilles

[2017-05-15 08:50] ilovezfs commented on #260
OK, without the `--with-ensta-robotics` I get this: https://gist.github.com/ilovezfs/a5aa2e70089a941445f2965b47955884

[2017-05-15 08:51] ilovezfs commented on #260
Correct. For 1.14.0 cppunit went all in on c++11.

[2017-05-15 08:52] gchabert commented on #260
OK. Let me try to reproduce this.

[2017-05-15 09:04] gchabert commented on #260
I cannot reproduce under Linux. Cyril, could you test on MacOS:
[code]

[2017-05-15 09:05] ilovezfs commented on #260
@gchabert it passes if I remove --enable-shared

[2017-05-15 09:13] ilovezfs commented on #260
`utest` passes even with affine as long as I leave out --enable-shared, but the test block still fails:
[code]

If I build without --with-affine, the test block is fine:
[code]

[2017-05-15 09:28] cyrilbouvier commented on #260
@ilovezfs What is the exact command line that you use for './waf configure' to this log https://gist.github.com/ilovezfs/a5aa2e70089a941445f2965b47955884

[2017-05-15 09:42] ilovezfs commented on #260
Here's just with --enable-shared
https://gist.github.com/ilovezfs/55c0208c0da903914ffec4ea95da116b

[2017-05-15 09:45] ilovezfs commented on #260
Here's with --enable-shared and --with-optim
https://gist.github.com/ilovezfs/28fd6d2f7cffe475effaab95d1897b23

[2017-05-15 09:48] ilovezfs commented on #260
Here's with --enable-shared --with-optim --with-param-estim
https://gist.github.com/ilovezfs/df278724cbde1efbb51ef615b3c51ee8

[2017-05-15 09:51] ilovezfs commented on #260
Here's with --enable-shared --with-optim --with-affine --with-param-estim
https://gist.github.com/ilovezfs/e0034ce4418ecc72740b60c570a3ce35

[2017-05-15 11:14] cyrilbouvier commented on #260
I was able to reproduce the problem: https://travis-ci.org/ibex-team/ibex-lib/jobs/232362893

[2017-05-15 11:45] cyrilbouvier commented on #260
It seems that the problem is how Ibex deal with shared library under OS X, I will investigate.

[2017-05-17 21:43] JiiTee opened #261 "Building 2.4.1 Java Plugin for Choco with Ibex on Windows"
I'm trying to build 2.4.1 Java Plugin for Choco with Ibex 2.4 on WIndows 7.
The problem: no ibex-java.dll is produced!
 I apply the instructions at http://www.ibex-lib.org/doc/install.html#installation-as-a-dynamic-library.

With
$ ./waf configure --interval-lib=gaol --prefix=/c/MinGW/msys/1.0/home/Juha/Ibex/ibex-2.4.1 --enable-shared --with-jni --java-package-name=org.chocosolver.solver.constrain

[2017-05-18 11:44] cyrilbouvier commented on #260
The problem is due to the differences between Linux and OSX (or gcc and clang, i am not sure) regarding shared libraries.
I manage to compile the test binaries (by adding -Wl,-undefined -Wl,dynamic_lookup), but I am not able to run them: the dynamic linker returned an error (cf https://travis-ci.org/ibex-team/ibex-lib/jobs/233592915)
I will continue to investigate.

[2017-05-18 13:52] cyrilbouvier commented on #260
I do not have access to a OSX machine (only via Travis CI) so it is quite long to debug.

The problem seems to come from one constructor of ExprSymbol which is not exported (cf this build where all tests without ExprSymbol passed and all tests with ExprSymbol failed). I do not know why.

@ilovezfs  Why do you need to compile Ibex as a shared library ?
@gchabert  Is it a problem if Ibex cannot be c

[2017-05-19 09:19] cyrilbouvier commented on #260
Ok I found and fix the problem !
It was due to the fact that the contructor ExprSymbol::ExprSymbol(const char* name, const Dim& dim) was inlined ! Apparently, inline functions in shared library are handled differently by gcc and clang.
I  proposed a patch in #262

@gchabert This problem may occurs with other inlined functions, method and constructors.

@ilovezfs Once the PR is merged, can you try

[2017-05-19 09:24] cyrilbouvier commented on #261
Hello,

- Where did you get Ibex source : from the archive or from the git repository ? In the latter case, can you tell us what the output of the following commands is:
[code]

- Where did you get the source for the Java plugin ? Can you send us the first 20 lines of the files `plugins/java/wscript`.

[2017-05-19 09:46] JiiTee commented on #261
I took the packages from http://www.ibex-lib.org/download
http://www.ibex-lib.org/sites/default/files/ibex-2.4.1.tgz and
http://www.ibex-lib.org/sites/default/files/ibex-java-ibex2.3.tar.gz

I was wondiering if ibex-java-ibex2.3.tar.gz is OK also for 2.4, but it was the only ibex-java on the download page.

(I am not near the computer used now, I can send the first lines later)

[2017-05-19 10:03] gchabert commented on #261
Hi,
CHOCO is not yet compatible with ibex 2.4.
That is why the java plugin for ibex 2.4 is not distributed for the moment.
If you want to use ibex with CHOCO, please use Ibex 2.3.
Gilles

[2017-05-19 10:09] gchabert commented on #261
Juha, I'm closing this issue.
If you still have problems for installing the java plugin with ibex 2.3.4, post it here:
https://github.com/ibex-team/ibex-lib/issues/252

[2017-05-19 10:09] #261 closed

[2017-05-23 11:51] gchabert opened #263 "[AMPL] plugin for release 2.4.1 not compiling"

[2017-05-23 11:56] cyrilbouvier commented on #263
Est-ce que tu as essayé le plugin AMPL suite aux deux commits que j'ai fait hier sur la branche `develop` ?

[2017-05-23 12:02] gchabert commented on #263
Je viens de m'en appercevoir en essayant de commiter mes propres modifs :(
Du coup ça fonctionne en effet!

[2017-05-23 12:02] #263 closed

[2017-05-30 10:03] schvarcz commented on #234
Bonjour monsieur Chabert

I was looking for this feature this weekend. Since it was not implemented yet, I coded it exactly how you described here. I may submit a pull request today.

However, I would like just to flag another possibility: The operation `[0,2] \ [1,1]` could also return `{[0, 1-epsilon], [1+epsilon, 2]}` as a workaround to de fact that ibex leads only with closed intervals.

Inste

[2017-06-01 11:36] gchabert commented on #234
Hi Guilherme
Thanks for your PR. About the other possibility: it's a nice idea... but I think that with the current code, one can simply write
```x.diff(y.inflate(epsilon))```
and get the same effect.

I' closing the issue but feel free to continue the discussion on this topic here if you want.
Gilles

[2017-06-01 11:36] #234 closed

[2017-06-14 11:59] ChrisHartmann68 opened #265 "Impossible build with CodeBlocks (16.01) and Ibex 2.4.1 with optim"
Hi,

I faced a problem when trying to use Ibex 2.4.1 with optim on CodeBlocks 16.01 (GNU GCC compiler).
I installed Ibex 2.4.1 with optim with MinGW on Windows 7 Professional, but when tried to build my code using an optimizer on CodeBlocks I got an error comming from the file ibex_TemplateVector.h.
The error was the following :
`error: expected ',' or '...' before numeric constant`

It comes from

[2017-06-14 14:11] gchabert commented on #265
@ChrisHartmann68 Thanks for reporting the problem.
Very strange, maybe a spurious invisible character was inserted here?
Can you post a pull request with your modification so that we will be sure that it works now on your side.
Best,
Gilles

[2017-06-20 13:26] gchabert opened #266 "Add vector of operators in System"
We need the vector of operators associated to the "main" function f.

[2017-06-23 10:16] bneveu opened #268 "defaultoptimizer ne trouve plus les solutions de ex2_1_8 et ex2_1_9 dans master"
J'ai mis à jour ma branche  master avec git pull, mais defaultoptimizer ne résout plus en 100s
 ex2_1_8.bch et ex2_1_9.bch  résolus en quelques secondes dans la version précédente.
(je n'ai poussé les tests plus loin ...)
----------------------------------------------------------------------------------------------------------------
ancienne version
../plugins/optim/examples/defaultoptimizer  ../b

[2017-06-23 10:25] gchabert commented on #268
ok je regarde ça

[2017-06-23 10:34] gchabert commented on #268
Je viens de faire un fresh install de la branche master (git clone https://github.com/ibex-team/ibex-lib.git), et j'obtiens ceci:
[code]

Tout à l'air normal.
Gilles

[2017-06-23 13:51] bneveu commented on #268
j'utilisais clp à la place de soplex (le configure a changé) :  c'est donc clp qui  n'arrive pas à résoudre ces problèmes assez faciles avec soplex.

remarque :  configure est beaucoup plus lent qu'avant : à chaque appel,  il reconfigure gaol, mathlib

mais  meme après un  configure avec soplex ,
./waf configure --interval-lib=gaol --with-optim --optim-lib=soplex --with-affine --soplex-path=/certi

[2017-06-23 13:55] gchabert commented on #268
En effet (je n'ai pas de solution pour ça...).

Ca ne devrait pas. Essaye peut-être de faire un ./waf uninstall distclean puis de tout recompiler.

[2017-06-23 14:27] bneveu commented on #268
C'est bon maintenant

[2017-06-23 14:42] bneveu commented on #268
ca marche maintenant aussi dans mon ancien repertoire (celui ou j'avais fait le git pull)
dans ce repertoire, le configure dure 17s contre 10mn dans le repertoire cloné  aujourd'hui?

[2017-06-26 09:44] bneveu opened #269 "bug dans constructeur CtcPolytopeHull"
L'optimiseur paramétré optimizer04 plante dans l'appel au constructeur CtcPolytopeHull
cxn_poly = new CtcPolytopeHull(*lr, CtcPolytopeHull::ALL_BOX);

en mode debug
run ../benchs/benchs-optim/coconutbenchmark-library1/ex2_1_9.bch acidhc4 compo smearsumrel 1.e-8 1.e-6 1000 0
Starting program: /home/bertrand/ibex/ibex2-2/ibex-lib/plugins/optim/examples/optimizer04 ../benchs/benchs-optim/coconutbench

[2017-06-26 10:53] bneveu commented on #269
ce bug apparait dans le répertoire courant avec la branche master récupérée avec git pull,
et n'apparait pas dans la version clonée vendredi.

La branche master dans mon répertoire ibex ne doit pas être dans un état cohérent, et je ne sais
pas comment la rétablir.

indice : comme indiqué dans issue #268 , le configure est rapide dans cette branche (17s) et lent
dans la branche clonee (10mn).

[2017-06-26 14:29] bneveu opened #270 "optimizer-ampl ne compile plus"
la version de l'optimiseur avec lecture des fichiers ampl ne compile plus.

./waf configure --interval-lib=gaol --with-optim --with-ampl --with-affine --optim-lib=soplex --soplex-path=/certis/3/neveub/RECHERCHE/soplex/soplex-1.7.2 --prefix=.
./waf install

make optimizer-ampl
seule différence avec optimizer04

	AmplInterface interface (argv[1]);
	System sys(interface);

au lieu de
System sys(argv[

[2017-06-27 08:31] gchabert commented on #269
As-tu fait un ./waf uninstall distclean avant le configure?

[2017-06-27 09:49] bneveu commented on #269
oui,
mais dans mon repertoire courant, il y a d'autres  branches qui sont avec gaol32bits
et le ./waf uninstall distclean ne marche pas  dans les autres branches et juste après un checkout
de changement de branche.

Je viens de m'apercevoir que je n'arrive plus à compiler ma branche qinter (avec gaol 32 bits)

make estim_plane_optim
g++  -msse3 -I/home/bertrand/ibex/ibex2-2/ibex-lib/include -I/hom

[2017-06-27 14:10] gchabert commented on #268
As-tu également fait un "uninstall distclean" avant de configure/compiler/tester dans ton ancien répertoire?
Si oui, c'est surprenant. Il faudrait comparer les branches pour comprendre:
```git diff develop..ta_branche_locale```
et voir si des scripts python ou fichiers binaires apparaissent.
A+
Gilles

[2017-06-27 14:13] gchabert commented on #269
Oui, il est possible que le uninstall/distclean ne fonctionne pas si les versions sont trop distantes.
Dans ce cas, en supposant que ton installation soit locale, il suffit d'écraser à la main les répertoires ./lib ./include et ./__build__. Ça fait à peu près le même effet.
Normalement, tout devrait ensuite fonctionner.

[2017-06-27 14:15] gchabert commented on #270
Je ne maintiens plus ce plugin... Jordan?

[2017-06-27 14:43] Jordan08 commented on #270
Je regarde ça dans une branche

[2017-06-27 15:01] bneveu commented on #268
J'ai  enfin compris maintenant (en discutant avec un collègue) qu'il fallait faire le
waf uninstall distclean  avant le  git checkout de changement de branche.
Maintenant c'est bon et j'ai bien les 2 branches (une en gaol 32 bits et une en gaol 64 bits) qui cohabitent et semblent donner des résultats corrects.

A première vue sur les  exemples de coconut library 1; gaol 64 bits fait gagner assez s

[2017-06-27 15:03] cyrilbouvier commented on #270
Pour info, j'avais mis à jour le wscript du plugin ampl pour qu'il soit compatible avec la nouvel architecture des scripts waf (cf les commits 1b8f9d997a70b68d964c723b0b7a33e83ee6aba4 et 3d13bd4e40d4b5a3baca5c666e7ae2852fed7421 sur la branche develop).

[2017-06-27 15:15] gchabert commented on #268
ok génial. Merci pour le retour et les explications.

[2017-06-27 15:15] #268 closed

[2017-06-27 21:04] gchabert opened #271 "Optimizer: need the ability to restart the search (in its current state) after a timeout"
One should be able to run the optimizer for a limited time, get an intermediate result and then restart again the optimizer from its current state of search.

[2017-06-30 08:57] gchabert opened #272 "Create a wrapper for BitSet"
This will allow us in the future to remove  the Mistral implementation (which unfortunately is not documented at all)

[2017-06-30 08:57] #269 closed

[2017-06-30 08:59] gchabert commented on #266
Done in https://github.com/ibex-team/ibex-lib/commit/acadc03d281eab7e39b47a843f4c7b3c6d186cec

[2017-06-30 08:59] #266 closed

[2017-06-30 09:00] gchabert commented on #266
Fix in https://github.com/ibex-team/ibex-lib/commit/5651ef0f065c52898216c926891a8ca6e86affa0

[2017-06-30 13:35] bneveu commented on #270
Dans la branche develop, j'ai la même erreur de compilation

[2017-06-30 14:34] gchabert commented on #254
Done. In LinearRestrict, there is no copy of expression.
Some work still has to be done In LinearRelax.

[2017-07-05 12:30] Jordan08 opened #273 "Evaluator with Cell"
En réfléchissant à la façon d'utiliser simplement la nouvelle structure pour mon optimMinMax, je me suis dit que ça aller bloquer sur la définition de l'objectif.
Car avec une simple Function, ce ne sera pas possible. Même en utilisant un Evaluator, ce n'est pas possible, car tout ce dont on a besoin est dans le "backtracable".

Du coup, en faisant une classe "Eval" avec des "Cell" et non des "Int

[2017-07-07 08:59] gchabert commented on #273
@Jordan08
Je pense que ça va être possible avec la nouvelle architecture de l'optimiseur (celle que je mets en place actuellement sur la branche new_optim) d'avoir une fonction objectif avec un code d'évaluation spécifique qui prenne en paramètre une cellule. Je le note donc, ok!
Pour la répétition des évaluations: j'ai finalement trouvé un moyen propre de faire du "cache" (et qui peut servir du c

[2017-07-17 11:42] gchabert opened #274 "waf utest after code update"
After "waf install", a call to "waf utest" does not consider the last version of the code : the build is launched only if a test has been modified.

[2017-07-17 11:48] cyrilbouvier commented on #274
You mean that the tests are run but not compiled with the new version of the library ?

[2017-07-17 12:11] cyrilbouvier commented on #274
Commit 70d8cb5c796d26ec1a1fc50f9de9ff74f57edd70 should fix the problem.
Before the tests were always run but only compiled if the source files of the tests were modified.
Now, the tests are always compiled, linked and run.

[2017-07-17 12:42] gchabert commented on #274
Thanks!
However, the tests are still not re-compiled upon kernel change.
If the kernel has changed, "waf utest" now recompiles it (good), but not the tests.

[2017-07-17 12:52] cyrilbouvier commented on #274
By kernel, you mean the core code of Ibex ?

If you change the code of ibex, you need to do './waf build && ./waf install' before doing './waf utest' in order for the changes to be taken into account.
This behavior is due to the fact that './waf utest' uses the __installed__ ibex library to compiled the tests (as the previous makefiles did). If you want, I can change this so './waf utest' uses the

[2017-07-17 13:00] gchabert commented on #274
Cyril, If I change something in Ibex and do
`./waf build &&  ./waf install && ./waf utest`
The tests are still running with the older version of Ibex.

When this sequence of instructions work, it will be fine for me (the fact that './waf utest' links against the installed library is a correct behavior for me).

[2017-07-17 13:01] gchabert commented on #274
Yes, but in fact I just meant "Ibex" (core or plugins)

[2017-07-17 13:05] cyrilbouvier commented on #274
Can you post the first 10 lines of the file \_\_build\_\_/config.log and the output of `./waf utest` ?

[2017-07-17 13:12] gchabert commented on #274
Here they are:

[config.log.txt](https://github.com/ibex-team/ibex-lib/files/1152681/config.log.txt)
[waf_utest.txt](https://github.com/ibex-team/ibex-lib/files/1152682/waf_utest.txt)

[2017-07-17 13:20] cyrilbouvier commented on #274
What the output of
[code]

[2017-07-17 13:27] gchabert commented on #274
Well... I'm working in a local branch but I've merged with origin/master...
git rev-parse HEAD:
3b817b4c443cf870c0e1ae09a30292cf3811f2c9
git rev-parse --abbrev-ref HEAD:
new_optim

[2017-07-17 13:38] cyrilbouvier commented on #274
It is weird, in the master branch the tests should be always compiled.
What are the first 15 lines of tests/wscript ?

[2017-07-17 13:57] gchabert commented on #274
Yes, you're right it works on the master branch. Weird... Maybe we can just wait until this branch is destroyed :)

The 15 lines of tests/wscript:
[code]

[2017-07-17 14:03] cyrilbouvier commented on #274
I think you did not do the merge in the correct way : you need to merge the commits from the master branch into your current local branch. You need to do something like:
[code]

Even better, if your current local branch is derived from the master branch, you can try to do a 'git rebase' (after a git pull).

[2017-07-17 14:17] gchabert commented on #274
Yes, you've found the reason. I did this directly:

`git merge origin/master`

and I though it would do the same as your sequence of instructions; but no! (one day, I'd be curious to understand why). Thanks!

Just one last remark however: the tests are now entirely recompiled when Ibex is modified. Would it be easy to have incremental compilation? I'm asking this because, to facilitate this increm

[2017-07-17 14:21] gchabert commented on #274
PS: In fact, every time I call "waf utest", the tests are now all recompiled (even if Ibex is unchanged).

[2017-07-17 14:32] cyrilbouvier commented on #274
Yes, because, as far as I understand waf, it is not easy to have dependencies from outside the source tree. And in this case, some dependencies of the tests are in the install directory (so outside of the source tree). So the patch I did was to always compiled and linked the tests.

This also responds to your question: for the same reason, it would not be easy to add such dependencies for the test

[2017-07-17 21:56] gchabert commented on #274
OK, we can live with that, thanks.

[2017-07-17 21:56] #274 closed

[2017-07-18 11:57] gchabert commented on #254
Refactoring should be stable now, from https://github.com/ibex-team/ibex-lib/commit/7ae7974fdc0233ad7d23984ba64963746e31dc31

[2017-07-18 11:57] #254 closed

[2017-07-18 12:36] gchabert commented on #9
Je n'ai pas relu en détails tous les posts mais avec la dernière version (commit https://github.com/ibex-team/ibex-lib/commit/f517f138d5a8b49ab5e0fa341ec729d81967d730) l'exécution de:
`./optimizer04 ../../../benchs/benchs-optim/coconutbenchmark-library1/immun.bch acidhc4 compo roundrobin 1.e-7 1.e-6 1000`
ne donne plus de résultat abbérant. Certes l'exécution est en 14s et donne 4168 boîtes donc i

[2017-07-18 12:36] #9 closed

[2017-07-25 09:59] #76 closed

[2017-07-26 16:30] #272 closed

[2017-07-26 16:31] gchabert opened #275 "A more clean/smart implementation of SystemExtend and SystemNormalize"
The code should be
- factorized
- more smart! (make DAGs instead of basic copies)

[2017-07-29 06:24] ilovezfs opened #276 "ctc01.cpp error: use of undeclared identifier 'tubex'"
I'm getting a test failure for 2.5.0 for ctc01.cpp, which doesn't build:

[code]

[2017-07-29 11:51] gchabert commented on #276
Oops, that's a spurious commit. I'm fixing it asap. Thanks

[2017-07-29 11:52] ilovezfs commented on #276
@gchabert no problem!

[2017-07-29 12:18] #276 closed

[2017-09-08 07:37] goldsztejn-a opened #278 "cartesian product with more than 17 arguments"

[2017-09-08 08:20] gchabert opened #279 "[ampl] test_ampl does not compile"
Message d'erreur du compilateur:

[code]

[2017-09-08 14:15] gchabert commented on #77
Comportement normal. Il n'y a pas de raison que l'optimiseur retourne un encadrement du minimum global (même en mode rigoureux). On pourrait imaginer une autre variante de l'optimiseur qui le calcule.

[2017-09-08 14:15] #77 closed

[2017-09-11 12:29] JiiTee commented on #252
My MinGW installation was somehow broken. Re-installing MinGW solved the problem.

[2017-09-11 12:29] #252 closed

[2017-09-11 12:32] JiiTee opened #280 "Windows: Which MinGW files are required for choco? Is a single library possible?"
It seems that choco plugin requires some MinGW files to work; therefore C:\MinGW\bin is required in the path. e.g.
set PATH=%PATH%;%IBEX_PATH%\lib;C:\MinGW\bin

Please indicate which files are required!
On the longer run, it would be nice to have a build option where no extra files are needed, just one native library to load!

[2017-09-12 09:16] bneveu commented on #279
J'ai trouvé;
c'est l'ordre des bibliothèques dans  le fichier wscript du plugin ampl qui est inversé.
à la place de
for l in [ "dl", "amplsolver" ]:
il faut mettre
for l in ["amplsolver" ,"dl" ]:
et ça marche.

[2017-09-12 09:29] gchabert commented on #279
Ah, génial. J'ai fait le commit.
Par contre, l'exécution de test_ampl me donne ceci:

[code]

[2017-09-12 09:47] bneveu commented on #279
test_ampl a besoin de 2 fichiers  (un .nl et un .bch)  pour verifier qu'il genére bien le meme système

./test_ampl ../../optim/benchs/coconutbenchmark-library2/ex2_1_8.nl  ../../optim/benchs/coconutbenchmark-library1/ex2_1_8.bch

begin
creation ok
Bound_sys
([0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100] ; [0, 100]

[2017-09-12 09:54] bneveu commented on #270
corrige avec  la correction de  #279

[2017-09-12 09:54] #270 closed

[2017-09-12 12:57] #279 closed

[2017-10-05 09:02] domensta opened #282 "Matrix::set_row(int row,const Vector& v) change size of row if v is of wrong size"
There is an issue when accessing a row of a matrix with Matrix::row(int row) after changing it with Matrix::set_row(int row,const Vector& v) where v is of a dimension lower than the number of column of the matrix:
    Matrix m(Matrix::ones(3,3));
    cout<<m<<endl;
    m.set_row(0,Vector(2));
    cout<<m.nb_cols()<<", "<<m.row(0).size()<<endl;
    cout<<m<<", "<<m.row(0)<<endl;

Ouput is:
((1 ; 1

[2017-10-08 14:32] gchabert commented on #282
@domensta
Yes but it is a wrong use of set_row(...). This function assumes that the size of the row in arguement as exactly the number of columns. If you want to insert a 2-sized row inside a 3x3 matrix, you must use the put(...) function instead:

  ```m.put(0,Vector(2), true);```

[2017-10-08 14:32] #282 closed

[2017-10-09 05:06] ilovezfs opened #285 "2.6.0 build failure on macOS"
[code]

[2017-10-09 06:40] gchabert commented on #285
@ilovezfs
Can you replace "--optim-lib" with "--lp-lib".
We have repackaged the plugins. Sorry for the inconvenience.

[2017-10-09 06:40] #285 closed

[2017-10-09 07:32] ilovezfs commented on #285
@gchabert Yes that works! Thanks :) I think your Travis file needs some love: https://github.com/ibex-team/ibex-lib/blob/master/.travis.yml#L35

[2017-10-09 07:34] gchabert commented on #285
Oh, yes! Thanks !

[2017-10-09 08:32] ilovezfs opened #286 "parallelized build failure"
log is here https://gist.github.com/ilovezfs/5a91cc26e0692b6e4607435727fb9714

error is
[code]

[2017-10-09 11:05] JiiTee opened #287 "Build of 2.6.0 fails on Windows"
My build fails on windows during install.
It may be a problem with strdup
I tried adding -fpermissive in configration options in wscipt (line 114).
How to build succesfully on Windows?
(On Linux the build goes smoothly).
Best,
Juha

[code]
[ 63/158] Compiling src\parser\ibex_P_Source.cpp
In file included from ..\src\function/ibex_Function.h:15:0,
                 from ..\src\function/ibex_NumConst

[2017-10-09 12:00] gchabert commented on #287
Dear Juha, I think i've fixed it.
It is on the master branch. You can also directly unzip this file:
[wscript.zip](https://github.com/ibex-team/ibex-lib/files/1368371/wscript.zip)
in ibex-2.6.0\plugins\solver folder, and try again.

Let me know please.

[2017-10-09 12:13] gchabert commented on #286
@ilovezfs is it under a Windows machine?
It seems that MinGW does not support very well these parallelized file access performed by waf (see #257, but it's all in French, sorry!). This is an already known issue. If so, can you try with Filib instead (--interval-lib=filib) ? The problem appears less frequently with filib.

[2017-10-09 12:27] ilovezfs commented on #286
It's macOS :)

[2017-10-09 12:37] cyrilbouvier commented on #286
The problem seems to come from the `make install` command from Gaol and that the culprit is the `install-sh` script from Gaol. I do not see how it is linked with parallelism (only `make` is called with the `-j` option and it exits successfully).

[2017-10-09 14:32] bneveu opened #288 "version 2.6 ne compile pas"
apres le  waf configure
./waf configure --with-optim --with-ampl --with-affine --lp-lib=soplex --soplex-path=/certis/3/neveub/RECHERCHE/soplex/soplex-1.7.2 --prefix=.

il y a l'erreur suivante lors du
./waf install

in file included from ../plugins/optim/src/numeric/ibex_LinearizerCombo.h:18:0,
                 from ../plugins/optim/src/strategy/ibex_StrategyParam.cpp:28:
../plugins/affine/src/num

[2017-10-09 14:38] Jordan08 commented on #288
Désolé le pluggin Affine n'est pas encore compatible avec la 2.6
J'y travaille
a+

[2017-10-11 07:49] gchabert commented on #288
OK, c'est juste que j'ai renommé LinearSolver "LPSolver".
En attendant le nouveau plugin de Jordan, j'ai fixé le petit souci.

[2017-10-11 07:49] #288 closed

[2017-10-11 09:05] bneveu opened #289 "vesrion 2.6 ne compile pas avec ampl"

[2017-10-11 09:08] bneveu commented on #289
./waf configure --with-optim --with-affine --lp-lib=soplex --soplex-path=/certis/3/neveub/RECHERCHE/soplex/soplex-1.7.2 --prefix=. --with-ampl
configure' finished successfully (2m42.758s)
./waf install

+ install /certis/3/neveub/RECHERCHE/ibex/ibex2-7/ibex-lib/include/ibex/ibex_CtcNewton.h (from src/contractor/ibex_CtcNewton.h)
In file included from ../plugins/optim/main/ibexopt.cpp:14:0:
./ibex.

[2017-10-11 10:46] gchabert commented on #289
Oups. Je regarde

[2017-10-11 10:51] #287 closed

[2017-10-12 22:12] #197 closed

[2017-10-16 10:39] bneveu commented on #289
Cela semble dû aux nouveaux fichiers  ibexsolve.cpp et ibexoptim.cpp
dans les répértoires main des plugins, qui sont compilés par waf install
avant que le plugin ampl ne le soit et ait installé ibex_AmplInterface.h dans le répertoire
include/ibex.

Question : à quoi servent ces fichiers ?
L'ordre de compilation des plugins peut-il être maitrisé ?

[2017-10-16 11:22] cyrilbouvier commented on #289
La dépendence entre les différentes étapes de compilation devrait être gérée automatiquement par waf.
Quel lignes de commande as-tu utilisé pour le `./waf configure` ?
Quelle est la valeur des variables `INCLUDES_AMPL` et `IBEX_PLUGIN_USE_LIST` dans le fichier `__build__/c4che/_cache.py` ?

[2017-10-16 11:48] Jordan08 commented on #289
Bonjour à tous

Dans la branche 'cell_timer', j'ai refait complètement l'installation de AMPL. Le waf, l'autoconf, le makefile, et j'ai mis a jour le code.

Il faudrait récupérer le plugin de cette branche, ainsi que le ibexutil.py que j'ai modifié de façon cosmétiques.

Ça devrait régler ces problèmes.
A+

[2017-10-16 12:10] bneveu commented on #289
voici la commande utilisée :
./waf configure --with-optim --lp-lib=soplex --soplex-path=/certis/3/neveub/RECHERCHE/soplex/soplex-1.7.2 --prefix=. --with-affine --with-ampl

et les valeurs des variables
INCLUDES_AMPL = ['/certis/3/neveub/RECHERCHE/ibex/ibex2-7/ibex-lib/__build__/3rd/include/amplsolvers', '/certis/3/neveub/RECHERCHE/ibex/ibex2-7/ibex-lib/__build__/3rd/include/amplsolvers', '/certis/

[2017-10-16 12:26] cyrilbouvier commented on #289
Le problème est du au fait que le wscript du plugin ampl ne rajoute pas correctement le chemin du répertoire contenant ` ibex_AmplInterface.h` dans `INCLUDES_AMPL`. Pourtant le bout de code censé vers cela est présent:
[code]
Je peux regarder plus en détail lorsque j'aurai du temps.

[2017-10-16 12:57] Jordan08 commented on #289
Bonjour Cyril,
En effet, je mettais aperçu que le wscript ne marchait pas bien.
Ce problème est fixée dans la branche cell_timer.
Maintenant le wscript utilise la fonction install_from_3rd que tu as écrit (avec une modification mineur).

[2017-10-16 12:59] gchabert commented on #289
OK il faut créer une branche "ampl" clone de develop, y rapatrier le nouveau plugin AMPL de Jordan et faire un pull request. Jordan tu le fais? comme c'est ton plugin et que tu es sans doute plus à l'aise que moi avec waf...

[2017-10-16 13:59] gchabert commented on #265
Chris,
I think you did not make de pull request at the right place.
But don't worry, I've just made the change myself.
Gilles

[2017-10-16 13:59] #265 closed

[2017-10-16 14:34] gchabert commented on #278
OK, I've made up to 8 arguments ;)

For more, you can pass an array.

[2017-10-16 14:34] #278 closed

[2017-10-16 17:24] #244 closed

[2017-10-17 07:33] gchabert commented on #51
Ibex 2 is not intented to be thread safe....

[2017-10-17 07:33] #51 closed

[2017-10-17 09:04] gchabert commented on #156
beamsearch intégré depuis https://github.com/ibex-team/ibex-lib/commit/a76efb8ae67bf05bad584b4f93cf14426c300c82

[2017-10-17 09:04] #156 closed

[2017-10-17 09:11] gchabert commented on #27
Ibex 2 is finally not intended to be fine-grained parallelized.  One may just try to duplicate all objects and split domains as explained here: http://www.ibex-lib.org/doc/solver.html#parallelizing-search.
However, even in this case there may be unexpected behaviours (because the underlying LP solver or the Timer class are also not thread-safe see #51).

Enabling parallelism would imply a complete

[2017-10-17 09:11] #27 closed

[2017-10-17 09:22] gchabert commented on #22
@Jordan08
Ibex is designed for problems with a fairly low number of variables/constraints.
If we want to handle sparse systems we should not only revisit CtcPolytopeHull but basically also all operators that are in O(n*m) like the computation of slopes/derivatives, propagation agenda,  constraint-based bisection heuristcs, etc. I think it is out of the scope of Ibex 2. The goal of Ibex 2 is to pro

[2017-10-18 08:56] gchabert commented on #80
Fixé. Maintenant il n'y a plus de conversion implicite intempestive possible d'un entier en orientation du vecteur

[2017-10-18 08:56] #80 closed

[2017-10-18 09:02] gchabert commented on #289
Fixed with https://github.com/ibex-team/ibex-lib/pull/290

[2017-10-18 09:02] #289 closed

[2017-10-19 17:33] #275 closed

[2017-10-19 17:52] gchabert commented on #51
Fixed in https://github.com/ibex-team/ibex-lib/pull/291 !

[2017-10-19 17:53] gchabert commented on #27
The timer at least is now thread safe: https://github.com/ibex-team/ibex-lib/pull/291

[2017-10-20 09:34] Jordan08 commented on #21
Done in the new AMPL pluggin.
It is already merge in "develop"

That work, but I don't know how to check that we really have a DAG and not a tree.

[2017-10-20 09:39] gchabert commented on #21
OK, an easy way is to check the size of the expression of a constraint:

```sys.ctrs[i].f.expr().size()```

[2017-10-20 09:39] #21 closed

[2017-10-23 08:34] goldsztejn-a opened #293 "formal partial differentiation in minibex"
Example:

function f(a,b,c)

function dacf = diff(f,a,c)

[2017-10-26 13:31] gchabert commented on #26
Added in #292

[2017-10-26 13:31] #26 closed

[2017-10-31 08:20] gchabert opened #296 "Misplaced scatter_plot.gnuplot"
Le fichier scatter_plot.gnuplot est dans l'ancien répertoire benchs (à la racine d'ibex); il faudrait le déplacer dans plugins/optim/benchs

[2017-11-02 16:40] gchabert opened #297 "Soplex wscript: set ZLIB=false by default"
Under MinGW, the option --with-soplex should install Soplex automatically, but it fails because ZLIB is not necessarily installed.
Can please someone set the option ZLIB=false by default.

[2017-11-02 17:37] gchabert commented on #155
I think this issue is out of date, so i'm closing it

[2017-11-02 17:37] #155 closed

[2017-11-03 06:25] ilovezfs opened #298 "slam1 and slam2 fail with 1.6.2"
slam1 and slam2 fail with
[code]
slam3 is ok.

[code]

[2017-11-03 06:30] ilovezfs commented on #298
full build log is here: https://gist.github.com/ilovezfs/26e1c88747c0ca03a2d1d0a5ed655187

[2017-11-09 09:50] cyrilbouvier commented on #296
J'avais mis ce fichier dans le répertoire `benchs` à la racine car il n'est pas spécifique au plugin optim (on peut imaginer que d'autres benchs peuvent avoir besoin de faire des scatter plot). C'est pour la même raison que j'ai mis le script waf qui gère les benchs (`waf_benchmarks.py`) à la racine.
Si je bouge `scatter_plot.gnuplot` dans le plugin optim alors le fichier `waf_benchmarks.py` conti

[2017-11-09 10:05] cyrilbouvier commented on #297
Les commits 2c5ae6fc et ce385717 sur la branche develop devrait régler ce problème.

[2017-11-09 15:22] gchabert commented on #298
Fixed. Thanks @ilovezfs

[2017-11-09 15:22] #298 closed

[2017-11-09 15:23] #47 closed

[2017-11-09 15:25] gchabert commented on #47
See https://github.com/ibex-team/ibex-lib/commit/439ba939635001a1d850f135905bdcde879bdf32

[2017-11-09 15:26] gchabert commented on #286
@ilovezfs: is this problem still occurring with the last release?

[2017-11-22 10:26] gchabert commented on #297
Merci, c'est intégré dans la nouvelle release.

[2017-11-22 10:26] #297 closed

[2017-11-23 06:31] ilovezfs commented on #286
@gchabert seems to still be a problem. It failed on 1 of 3 nodes

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/13449/version=el_capitan/testReport/junit/brew-test-bot/el_capitan/install_ibex/

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/13449/

[2017-11-29 14:28] goldsztejn-a opened #299 "command line option --forced-params=x1+x2 (? et --forced-variables=x1+x2 ?)"

[2017-12-06 13:18] gchabert opened #301 "[benchmarks] error while reading big integers"
Salut Cyril,

Les benchs parfois produisent un grand nombre de boîtes ce qui génère une erreur. Exemple:

BENCH: eps = 1.99527e-06 ; status = 0 ; time = 2426.5 ; nb_cells = 2.07108e+06 ; uplo = -47.7066 ; loup
= -47.7065 ; random_seed = 1

fait planter le script :

[code]

[2017-12-06 13:26] gchabert commented on #301
Question subsidiaire: j'en profite pour te relancer sur l'option --benchs-cmp-only (cf. https://github.com/ibex-team/ibex-lib/pull/277).
J'en aurais typiquement besoin ici puisque tous les calculs ont été fait (plusieurs heures de CPU) et que seule la comparaison a échouée.

[2017-12-11 18:54] ThomasLeMezo opened #303 "IntervalVector using size_t for dimension"
Would it be possible to change type for describing the vector dimension from an "int" to a "site_t" as in std::vector or other _stl_ objects?

[2017-12-11 19:56] cfmileto opened #304 "Include file ibex_LPWrapper.cpp in ibex_LPSolver.cpp possibly misnamed?"
For release 2.6.3, should not the include file ibex_LPWrapper.cpp in ibex_LPSolver.cpp be named rather ibex_LPWrapper.cpp_. It caused problems with my MinGW Windows installation as I was initially trying to compile it as a module rather than treat it solely as an include file which at first is not obvious. Thanks

[2017-12-12 08:37] cyrilbouvier commented on #301
Une petite modif permet de régler ce problème. Avant que je pushe le commit, j'ai une petite question: dans la classe Optimizer (src/strategy/ibex_Optimizer.h du plugin optim), la variable `nb_cells` est un `int` mais la méthode `get_nb_cells` retourne un `double`, il y a un raison particulière à cela ?

[2017-12-13 14:40] gchabert commented on #301
Cyril, je pense que c'est une erreur en effet, elle devrait retourner un int ou plus précisément un size_t (on m'a demandé de remplacer ce genre de int par des size_t, cf. https://github.com/ibex-team/ibex-lib/issues/303, ce que je pense faire rapidement)

[2017-12-13 14:41] gchabert commented on #301
Du coup je vais modifier tout ça sur develop rapidement.

[2017-12-14 09:34] gchabert commented on #301
ok très bien, je retesterai après le fix.

[2017-12-26 20:29] gchabert commented on #304
@cfmileto Did you experience this using the waf scripts or using other compilation means ?

[2017-12-28 22:08] gchabert commented on #303
Thomas, peux-tu préciser un peu plus le problème de compilation que ça pose? J'ai commencé à remplacer les int par des size_t pour les dimensions des containeurs mais la logique voudrait qu'il en soit ainsi pour tous itérateurs des boucles sur les containeurs (ça en fait un sacré paquet et ça me pose quelque problème, parfois les valeurs négatives comme -1 sont utilisées pour encoder des cas parti

[2018-01-01 14:19] gchabert commented on #231
Fixed with #294

[2018-01-01 14:19] #231 closed

[2018-01-05 03:04] mcmc2018 opened #306 "A build bug under Mingw-w64 Msys2 on win10"
\src\parser\ibex_P_Expr.h
\src\parser\parser.yc

The function name "infinity()" in ibex_P_Expr.h is same as /include/c++/math.h。
 So change the function name to "infinity_i()" or other，the building will be successfully。

[134/168] Compiling src/parser/ibex_P_Expr.cpp
[135/168] Compiling src/contractor/ibex_CtcNewton.cpp
[136/168] Compiling plugins/optim/src/strategy/ibex_CellHeap.cpp
[137/168] Com

[2018-01-05 17:27] gchabert commented on #306
@mcmc2018 Thanks for reporting the issue and also, actually, fixing it!
Well, I can't understand these conflict-prone #define in header files of the standard library like math.h... how can C expert programmers do that? Anyway ;-) Thanks... it will be in the next release (issued very soon).

[2018-01-05 17:27] #306 closed

[2018-01-09 10:22] gchabert opened #307 "[java plugin] Rounding problem"
The following Java program:
[code]
gives result == FAIL.

[2018-01-09 11:08] #307 closed

[2018-01-09 15:30] gchabert opened #308 "[minibex] Pi constant and differential operator"
Two requirements:
- the constant pi
- the differential operator. Ex:

[code]

[2018-01-09 19:14] rilianx opened #309 "[FncActivation] Detection of active constraints"
I think that the **active constraints** detected by the class *FncActivation* should be those constraints g(x)<=0 such that g(x) > -activation_threshold (instead of |g(x)| > activation_threshold), i.e., those constraints violated or almost violated in x.
Otherwise, before checking the feasibility of a solution x using *PdcHansenFeasibility* we should test the feasibility of x in a relaxed problem

[2018-01-10 21:55] gchabert commented on #309
Ignacio, if you write
 g(x) > -activation_threshold
then any constraint g(x)>=0 (not normalized) will always be considered as activated (unless it is violated).

Besides, I am not sure that we need to consider a violated inequality as "activated". Currently, in the optimizer (that is, in LoupFinderCertify) the candidate point (the one tested with PdcHansenFeasibility) satisfies all the relaxed ine

[2018-01-10 23:49] rilianx commented on #309
Yeah, I assumed that we only had g(x)<0 constraints.
If g(x)>0, we should use instead g(x) < activation_threshold

I think that the LoupFinderCertify should verify if the solution found by the underlying Finder is feasible for all the constraints.
For instance, what if I implement a Finder which returns approximate solutions for the original system of constraints and I want to certify them?

[2018-01-12 08:26] cfmileto commented on #304
I experienced it while using means other than the waf scripts. I used the open source cross platform IDE CodeBlocks to compile IbexOpt to run under Windows using MinGW. Since it was a file named with a .cpp extension I assumed that it was a file to be compiled into an object file rather than an include file, which caused compiler errors that were difficult to track down. Once I realized that it wa

[2018-01-13 18:52] #308 closed

[2018-01-13 18:53] #293 closed

[2018-01-13 21:56] gchabert commented on #304
Thanks for the explanation; you were right. I've made what you suggested.

[2018-01-13 21:56] #304 closed

[2018-01-17 12:46] gchabert commented on #299
@goldsztejn-a Done for --forced-params !
I let you reopen the issue if --forced-variables is also needed at some point.

[2018-01-17 12:46] #299 closed

[2018-01-29 08:36] gchabert opened #311 "[IbexOpt] failure on blowup/ex8_5_6"
Running several times ibexopt with different random seeds give different enclosures of the minimum but with empty intersection:
[code]

[2018-01-29 12:34] gchabert opened #312 "Random is not deterministic"
When I run this, I expect to have twice the same sequence of numbers:
[code]
But that's not the case

[2018-01-29 12:35] gchabert commented on #312
I propose a fix in my last commit. Please check and also fix the srand() function: i don't really understand what it is supposed to do (by the way, it would be nice to have comments in the header file).

[2018-01-30 14:00] #311 closed

[2018-01-30 14:30] gchabert commented on #301
Semble ok désormais en effet

[2018-01-30 14:30] #301 closed

[2018-02-09 12:35] #312 closed

[2018-02-16 16:14] raphaelchenouard opened #314 "ACID contraction weaker than HC4 ?"
I have a problem with ibex 2.6.5 and the use of ACID contractor being weaker than HC4. Is this behavior the normal one?

I made a test program to illustrate this (i also checks 3BCID to be sure). I process the same minibex problem with both contractors, each inside a fixed point and results are clear when drawing them.

Result with HC4:
![hc4](https://user-images.githubusercontent.com/883882/36316

[2018-02-23 10:56] bneveu commented on #314
There is no guarantee that ACID will contract more than HC4;
ACID is a complement to HC4 and  it is normally used in a CtcCompo after hc4
as in DefaultOptimizer

CtcCompo(hc4,acid);

[2018-02-23 14:14] raphaelchenouard commented on #314
Thanks for the answer and clarification about how to use it efficiently.

Please, could you put this info in the doc, since this section is currently empty? It would avoid other people misusing it and being disapointed by the results.

[2018-02-23 21:25] raphaelchenouard opened #315 "Feature request: Ease the use of manifold from C++ API"
Currently, manifolds can only be created by a solver object since Manifold objects are generated from SolverOutputBoxes. We cannot create easily this kind of objects (the constructor is private with Solver being a friend class). The SolverOutputBox class specify several data on a box as its status but also variables fixed for the proof when relevant. Depending on the algorithm we use or implement

[2018-03-06 16:03] gchabert commented on #309
But lines 71--91 of LoupFinderCertify.cpp verify that the approximate solution is actually feasible. No?

[2018-03-06 20:59] rilianx commented on #309
Yes, but when the system has no equalities the LoupFinderCertify assumes that the solution returned by the subyacent Finder is feasible or *almost feasible* (lines 44-46).

What if I have a *unsafe* Finder for inequalities? I should test the feasibility of the found solution using a relaxation of the inequality system?

[2018-03-06 22:08] gchabert commented on #309
Ignacio, I think I understand now what you mean. If a LoupFinder is unsafe, then the condition |g(x)|<eps (which was intended as a shortcut for g(x)<-eps and g(x)>eps for respectively LEQ and GEQ inequalities) may activate constraints that are actually violated. And if there is no equality, then the feasibility test of lines 71-91 is skipped in LoupFinderCertify. Is it what you mean?

We may chang

[2018-03-07 13:04] rilianx commented on #309
Yes, I can do that (a feasibility test in my LoupFinder). The problem is that this feasibility test may discard almost feasible solutions that could be corrected by the LoupFinderCertify. To avoid discarding these potential solutions I should do the test with a relaxed system of inequalities.

[2018-03-07 14:21] gchabert commented on #309
I see. The problem is that if we weaken the requirement of the LoupFinder interface so that only almost-feasible points are returned, this will create a mess elsewhere.
Maybe you can call PdcHansenFeasibility inside your LoupFinder to perform your own correction.

[2018-03-08 13:04] #314 closed

[2018-03-08 13:38] rilianx commented on #309
Yeah, I'll do that!

Thanks ;)

[2018-03-08 13:46] #309 closed

[2018-03-15 14:10] #166 closed

[2018-03-15 22:58] gchabert commented on #315
OK. I've followed your suggestion and created a QualifiedBox, except that it replaces SolverOutputBox (not a superclass) and you can create now a qualified box independently of the solver (I will use this class myself for the optimizer very soon!). You don't need to supply "proof" data if the box is pending/unknown or inner w.r.t. to inequalities only. I think this is what you wanted.
I've also in

[2018-03-15 22:58] #315 closed

[2018-04-09 09:05] bneveu opened #317 "dynibex en version 2.2 ?"
Dynibex est actuellement compatible avec la version 2.1.17  avant la refonte de l'arithmetique affine.
En essayant de compiler dans la version actuelle, il y a des messages d'erreur :
In file included from ibex_integrate.h:36:0,
                 from example_integrate.cpp:15:
ibex_solution_LC3.h: In member function ‘ibex::Affine2Vector ibex::solution_j_lc3::remainder_lc3(ibex::ivp_ode*)’:
ibex_sol

[2018-04-19 14:17] gchabert opened #318 "Bug when using temporary expressions in constraint block"
From commit #3e4d8282898ea58d76c292ca7857dfe20b313003

The expression node (ExprNode&) associated to the label of a temporary expression (P_ExprNode::TMP_SYMBOL) may not persist after a call to simplify in CtrGenerator.

[2018-04-24 06:18] gchabert opened #319 "ibexsolve does not handle thick equalities as inequalities"
If inequalities are replaced by thick equalities, certification is disabled:
"warning: Certification not implemented for over-constrained systems"

[2018-04-24 06:31] jermann-c commented on #319
Moreover, the writing of the MNF output file (v2) in this case seem to produce an extraordinary amount of data (file size in Gb for a not so gigantic number of solution boxes).

[2018-04-25 16:56] gchabert opened #320 "Simplify loses DAG structure"
The following program retunrs '5' instead of '4':
[code]

[2018-04-25 16:57] gchabert commented on #318
There is still no DAG in the example here but this is due to another problem, see #320

[2018-04-25 16:57] #318 closed

[2018-04-25 17:16] gchabert commented on #320
ok this is because Simplify splits each expression ((1+x)+0) into the non-constant part (x) and the constant part (1) and performs a new sum (x+1). In this case both simplifications results in the same expression. Reintroducing the Expr2DAG operator may fix the issue here but there is no simple solution for the general case.

[2018-04-26 07:56] gchabert commented on #319
Fixed but the "in" keword has to be used. The '=' symbol is interpreted as a universally quantified constant.
Ex:

x^2+y^2 in [0,1]

[2018-04-26 07:56] #319 closed

[2018-04-26 08:01] gchabert commented on #319
Example. If one writes
``x^2+y^2 = [0,1]``
This would mean that (x,y) is a solution iff for all c in [0,1], x^2+y^2=c (which is impossible).
This is consistent, e.g. whith a constraint like
``g(x,[3.14,3.15]) <= 0``
which clearly means that x is a solution iff for all pi in [3.14,3.15], the inequality g(x,pi)<=0 holds.

[2018-04-26 10:29] jermann-c commented on #319
Understood, thanks Gilles ! Could you also observe the "infinite MNF" problem ?

[2018-05-03 09:29] gchabert opened #321 "ibexsolve should keep track of proofs"
When the proof for the equalities is achieved for a box (but not for the inequalities), this information should be kept in a backtrackable structure to avoid useless further application of the proof;
Furthermore, the bisection should also benefit from this information by only considering the parameter domains. This can be made possible by artificially fixing the precision of varaibles to +inf befo

[2018-05-03 11:02] goldsztejn-a opened #322 "unicity box"
New option in ibexsolve that outputs unicity boxes, which are larger than existence boxes.

Consider outputing two manifold files containing existence and unicity boxes respectively, in the same order so that one can link them using the files.

[2018-05-09 13:35] jermann-c opened #323 "MNF v3"
A small "error" in the MNF v3 output format : the variable names appear BEFORE the numbers of var/eq/ineq contrarily to what is said by the command "ibexsolve --format". I think it is better to modify ibex_Manifold.cpp so it respects the help message, because it is important to know the number of variables before parsing the variable names (at least in y python code).

[2018-05-11 13:51] gchabert commented on #323
oOOps, that's fixed thanks !

[2018-05-11 13:51] #323 closed

[2018-05-12 04:31] rilianx opened #324 "LoupFinderCertify does not take into account the bound constraints"
The inflation of the loup candidate may violate the bound constraints.
These violations are not taking into account by the procedure.

I added something like this after inflating the box:
epsbox &= initbox;
in order to maintain the epsbox inside the initial domains.  However for the instance hard/ex2_1_7 I cannot find certified solutions (I suspect because they are in the bounds of the domains).
I

[2018-05-31 14:00] yawnyoung opened #325 "Can the PolytopeHull be used with linear equalities?"
Dear all,
I notice that the two built-in linearizers only account for linear inequalities. To deal with equalities, the X-Taylor linearizer squeezes the equation with both LEQ and GEQ.
I was wondering if I could use equalities directly.
Thanks very much for an answer!

[2018-06-06 11:18] gchabert commented on #324
Ignacio, you are perfectly right. Thanks a lot.
Can you make a pull request of that?

[2018-06-06 11:51] gchabert commented on #325
@yawnyoung  Thanks for posting. The PolytopeHull contractor relies on the Simplex algorithm and there is no contraction weakening if we replace a linear equality g(x)=0 by two inequalities g(x)<=0 and g(x)>=0.
It is true however that, for some other algorithm (typically those based on intervals), there would be some weakening. So, since PolytopeHull works on Simplex, why do you need a "direct" use

[2018-06-08 07:33] yawnyoung commented on #325
@gchabert Thanks for your answer. I just want to make sure that the use of two inequalities is not due to numerical issues so that I could build a numerically feasible system.
And there is another question about **numerical issues**: I want to contract an over-constrained but exactly feasible system with HC4. Unfortunately, the contractor always outputs empty vector. I'm sure this is a numerical p

[2018-06-27 11:40] gchabert opened #326 "Should set_empty set all components to Interval::EMPTY?"
This would avoid the typical hazardous usage:

[code]

[2018-07-04 08:38] SimonRohou commented on #326
+1

[2018-07-04 09:00] Jordan08 commented on #326
+1

[2018-07-19 09:58] SimonRohou opened #327 "Memory leak on Variable"
The following code
[code]

produces a memory leak.

Valgrind:

[2018-07-19 11:04] gchabert commented on #327
Yes it has already been reported.. (see https://github.com/ibex-team/ibex-lib/issues/137)
Use:
```const ExprSymbol& x=ExprSymbol::new_();```
instead of Variable.
I know I have to find a way to fix that.
Thanks Simon

[2018-07-19 11:04] #327 closed

[2018-08-01 09:45] gchabert opened #328 "[benchmarks] "Medium" series is somewhere hardcoded"
When I run waf benchmaks on hard series for twor release X and Y and then use

[code]
I get:

[code]

[2018-08-10 15:39] ThomasLeMezo opened #329 "Copy constructor for Sep"
Would it be possible to have a copy constructor for Sep that works the same as for Function (Function::COPY). It will be really useful for multi-threading.

[2018-08-12 06:56] benEnsta commented on #329
Hi @ThomasLeMezo ,
Which separators are you using ? Maybe it can be easier to make them thread safe instead of implementing a deepcopy behaviour.

[2018-08-12 11:13] ThomasLeMezo commented on #329
Hello @benEnsta,
The issue is that I use Functions to define Separators that are not thread safe (at least in your cmake ibex version ;))

[2018-09-03 08:47] cyrilbouvier commented on #328
I see the problem: the comparison are only done for the categories defined with `--benchs-categories` which is medium by default. I admit that given the above command line, one could expect that the comparison is done for every benchmarks that X-hard and Y-hard have in common. I will change the logic of the code to achieve this.

Quick & dirty fix: you can add `--benchs-categories hard` to your co

[2018-09-03 09:29] gchabert commented on #328
Great, thanks! We can live with this fix.

[2018-09-05 06:54] gchabert opened #330 "[benchmark] min() arg is an empty sequence"
I have now this problem when running waf benchmarks:
[code]

[2018-09-07 10:09] #325 closed

[2018-09-07 20:30] gchabert commented on #330
I've found the origin of the problem. It's a problem about rounding precision values.
In one file, the precision 1e-4 gives:
`` BENCH: eps = 0.000100001``
and in the other one:
``BENCH: eps = 0.0001``
so they do not match when both files are compared. It is not clear why this difference appeared.

[2018-09-21 03:07] dpsanders opened #331 "Build failure on MacOS"
I'm trying to build IBEX for the first time, on MacOS 10.12.
I get
[code]

[2018-09-21 07:46] gchabert commented on #331
Oh yes, sorry for this :-(
This has been fixed, see the new release 2.7.1.
Many thanks for reporting the problem.

[2018-09-21 07:46] #331 closed

[2018-09-21 15:35] dpsanders commented on #331
Version 2.7.1 works - many thanks!

[2018-09-21 15:50] gchabert commented on #331
You're welcome! Thanks again for having reported this.

[2018-09-21 20:08] dpsanders opened #332 "Build failure [pickle, waf and Python 3.6]"
On a different Mac machine, I get
[code]

[2018-09-21 20:09] dpsanders commented on #332
And in the build log:
[code]

[2018-09-22 00:07] dpsanders opened #333 "inHC4 disabled"
I'm getting the following error when running a vectorial (?) benchmark.
I don't see any info about this in the docs.

[And is this the right place to ask such questions?]

[code]

[2018-09-23 09:06] benEnsta opened #334 "core part dependancies"
Hi,

I wondering why the following files, required to build the core part of ibex-lib, are in the plugins folder:
- plugins/solver/src/ibex_DefaultSolver.cpp
- plugins/solver/src/ibex_Solver.cpp
- plugins/solver/main/ibexsolve.cpp

They are used to build the src/strategy/ibex_manifold.h/.cpp object

Is it possible to move them in order to keep the core part without plugins dependencies ?

Thanks,

[2018-09-26 13:03] gchabert opened #335 "ibexopt release 2.7.1 crashes with unconstrained problems"
LinearRelaxXTaylor only work for constrained problems.

[2018-09-26 13:04] gchabert commented on #335
Note: a unit test should be added

[2018-09-26 13:09] gchabert commented on #334
Benoit, you're right.
I think that this is he manifold object that will rather be made independent of the solver. Indeed, it is designed to be also the central data structure used by the optimizer (and probably other plugins like the continuation plugin). This is by the way the very next evolution of ibex that is planned, so just wait for the next release.

[2018-09-26 13:16] gchabert commented on #333
Sorry for the delay: for mysterious reasons, I don't receive anymore notifications from Github.
There is indeed a bug with the new release for unconstrained problems: https://github.com/ibex-team/ibex-lib/issues/335
I will fix it in a very short delay.

[2018-09-26 13:16] gchabert commented on #333
As a quick workaround, you can just had a dummy constraint, like x=x.

[2018-09-26 13:33] gchabert commented on #333
PS:
- this is the right place to ask such questions!
- you can ignore the warning about inHC4. This part of the optimization process is just here to boost running time and can be turned off with no harm.

[2018-09-27 13:07] cyrilbouvier commented on #332
Hi,

The problem occurs during the installation of mathlib 2.1.0, required by the library Gaol.
In order to investigate, I will need the content of the file /Users/davidsanders/ibex-2.7.1/\_\_build\_\_/3rd/mathlib-2.1.0/config.log and the complete command line you used (`./waf ... configure`).

[2018-09-27 13:30] gchabert commented on #330
Salut Cyril,
J'ai bien la solution du log 10. Ca ne me pose pas de problème de faire une passe manuelle sur les fichiers de benchs actuels pour les rendre compatibles. Dans ces conditions, qu'en penses-tu?

[2018-09-27 18:30] dpsanders commented on #332
Thanks, I used
[code]
The build log file contains the following:
[code]

[2018-10-01 14:55] cyrilbouvier commented on #332
Thanks for this. I also need the content of the log file located at `/Users/davidsanders/ibex-2.7.1/__build__/3rd/mathlib-2.1.0/config.log` (ie, the `config.log` file in the subdirectory `__build__/3rd/mathlib-2.1.0/config.log` from where you run the waf command).

[2018-10-01 18:27] dpsanders commented on #332
Thanks. There is no such file...

[2018-10-01 18:30] dpsanders opened #336 "Untarring the 2.7.2 release creates 2.7.1 directory"

[2018-10-01 18:30] #336 closed

[2018-10-01 18:32] dpsanders commented on #332
I tried going into the `__build__/3rd/mathlib` directory and running the `configure` by hand, and that worked. So maybe it is not changing to the correct directory or something?

[2018-10-01 18:33] dpsanders commented on #332
But I don't know how to jump over that step in the root `configure` process or make it check to see if that was already done.

[2018-10-02 08:47] cyrilbouvier commented on #332
Which version of Python are you using (`/usr/bin/env python --version`) ? 3.6 ? Could you try with Python 3.5 or 2.7 ?

[2018-10-02 08:52] cyrilbouvier commented on #332
I can reproduced the bug with Python 3.6.
This is due to the use of the pickle module by waf. I do not know if we can do something about it.

[2018-10-02 08:59] cyrilbouvier commented on #332
To support Python 3.6, we should upgrade waf to at least v2.0.4. Excerpt from
https://gitlab.com/ita1024/waf/blob/master/ChangeLog:

[2018-10-02 09:20] cyrilbouvier commented on #330
Le commit 7132fa7 devrait régler tous les problèmes. Et les anciens fichiers de benchs sont toujours compatible: la valeur d'epsilon peut être lu soit comme un float (ancienne méthode) soit comme '10^-x' (nouvelle méthode).

[2018-10-03 09:10] cyrilbouvier commented on #328
I change a bit the code so that when `--benchs-cmp-only` is used, the default behavior is to consider all categories. If this option is not used, the default category is still 'medium'.